workspaces/Aspiramaq-Chat-DELETE-Session.json
{
  "name": "Aspiramaq-Chat-DELETE-Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "aspiramaq-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "610e4bed-4e5e-4ec3-a92c-bf4b576d4881",
      "name": "When called - DELETE session",
      "position": [
        -112,
        -96
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a2450955-99fe-4f55-b057-1894f0fca81f"
    },
    {
      "parameters": {
        "jsCode": "// Substituindo .item por .first() para acessar os dados do primeiro item\nconst sessionId = $input.first().json.query?.sessionId || $input.first().json.queryString?.sessionId;\n\nif (!sessionId) {\n  throw new Error('sessionId query parameter is required');\n}\n\nreturn { sessionId };"
      },
      "id": "0c028701-a2fc-4754-86e4-dd2904e81b94",
      "name": "Extract Session ID to Delete",
      "position": [
        112,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM aspiramaq_chat_message WHERE session_id = '{{ $json.sessionId }}'",
        "options": {}
      },
      "id": "ccb65241-e007-4552-9980-5cebbfbc74ba",
      "name": "Delete Session from DB",
      "position": [
        336,
        -96
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Session deleted successfully' }) }}",
        "options": {}
      },
      "id": "5966157a-55ab-4223-9e49-f9518b97b96a",
      "name": "Return Success",
      "position": [
        560,
        -96
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "When called - DELETE session": {
      "main": [
        [
          {
            "node": "Extract Session ID to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session ID to Delete": {
      "main": [
        [
          {
            "node": "Delete Session from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session from DB": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "924512a2-d2f3-4c0e-8feb-eb1e4eb4445c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "EYLHBfdkYUjM41En",
  "tags": []
}