workspaces/Aspiramaq-Front.json
{"name":"Aspiramaq-Front","nodes":[{"parameters":{"html":"\u003c!doctype html\u003e\r\n\u003chtml lang=\"pt-BR\"\u003e\r\n  \u003chead\u003e\r\n    \u003cmeta charset=\"UTF-8\" /\u003e\r\n    \u003cmeta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" /\u003e\r\n    \u003ctitle\u003eAspiramaq - Assistente Virtual\u003c/title\u003e\r\n    \u003cscript src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"\u003e\u003c/script\u003e\r\n    \u003clink\r\n      rel=\"stylesheet\"\r\n      href=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css\"\r\n    /\u003e\r\n    \u003cscript src=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js\"\u003e\u003c/script\u003e\r\n    \u003clink\r\n      href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800\u0026family=Noto+Sans+JP:wght@300;400;600;700\u0026family=Raleway:wght@400;600;700;800\u0026display=swap\"\r\n      rel=\"stylesheet\"\r\n    /\u003e\r\n    \u003clink\r\n      rel=\"icon\"\r\n      href=\"https://www.aspiramaq.com.br/favicon.ico\"\r\n      type=\"image/x-icon\"\r\n    /\u003e\r\n    \u003cscript src=\"https://unpkg.com/lucide@latest\"\u003e\u003c/script\u003e\r\n    \u003cstyle\u003e\r\n      :root {\r\n        /* Cores Primitivas (Palette Aspiramaq) */\r\n        --color-primary: #1b3a5c;\r\n        /* Azul Marinho Aspiramaq */\r\n        --color-primary-hover: #142d47;\r\n        --color-wine: #0d1f33;\r\n        /* Deep Navy */\r\n        --color-dark-gray: #1e2a38;\r\n        /* Títulos */\r\n        --color-medium-gray: #4a6a8a;\r\n        /* Textos secundários */\r\n        --color-light-gray: #f5f7fa;\r\n        --color-white: #ffffff;\r\n        --color-black: #1a1a1a;\r\n        --color-success: #4caf50;\r\n        --color-accent: #c41e3a;\r\n        /* Torii Red - acento japonês */\r\n        --color-sky-blue: #5b9bd5;\r\n        /* Azul céu complementar */\r\n\r\n        /* Variáveis Semânticas (Light Theme Default) */\r\n        --bg-body: #eef2f7;\r\n        --bg-sidebar: var(--color-dark-gray);\r\n        --bg-chat: var(--color-light-gray);\r\n        --bg-header: linear-gradient(\r\n          135deg,\r\n          var(--color-dark-gray) 0%,\r\n          #15202d 100%\r\n        );\r\n\r\n        --bg-message-user: linear-gradient(\r\n          135deg,\r\n          var(--color-primary) 0%,\r\n          #142d47 100%\r\n        );\r\n        --text-message-user: var(--color-white);\r\n\r\n        --bg-message-assistant: var(--color-white);\r\n        --text-message-assistant: var(--color-black);\r\n\r\n        --bg-input: var(--color-white);\r\n        --bg-input-area: var(--color-white);\r\n\r\n        --text-primary: var(--color-dark-gray);\r\n        --text-secondary: var(--color-medium-gray);\r\n        --text-inverse: var(--color-white);\r\n\r\n        --border-color: #d0d8e0;\r\n        --sidebar-width: 260px;\r\n        --shadow-sm: 0 1px 3px rgba(27, 58, 92, 0.1);\r\n        --shadow-md: 0 4px 6px rgba(27, 58, 92, 0.15);\r\n\r\n        /* Compatibility Variables */\r\n        --senai-red: var(--color-primary);\r\n        --senai-wine: var(--color-wine);\r\n        --senai-black: var(--color-black);\r\n        --senai-gray: var(--color-medium-gray);\r\n      }\r\n\r\n      [data-theme=\"dark\"] {\r\n        --bg-body: #0a0f15;\r\n        --bg-sidebar: #060b12;\r\n        --bg-chat: #0d1219;\r\n        --bg-header: #080d14;\r\n\r\n        --bg-message-user: linear-gradient(135deg, #1b3a5c 0%, #142d47 100%);\r\n        --text-message-user: #e0e0e0;\r\n\r\n        --bg-message-assistant: #1a2332;\r\n        --text-message-assistant: #e0e0e0;\r\n\r\n        --bg-input: #1a2332;\r\n        --bg-input-area: #0f1620;\r\n\r\n        --text-primary: #e0e0e0;\r\n        --text-secondary: #7a9ab8;\r\n        --text-inverse: #e0e0e0;\r\n\r\n        --border-color: #253345;\r\n        --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.3);\r\n        --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);\r\n      }\r\n\r\n      * {\r\n        margin: 0;\r\n        padding: 0;\r\n        box-sizing: border-box;\r\n      }\r\n\r\n      body {\r\n        font-family: \"Raleway\", \"Inter\", \"Noto Sans JP\", \"Segoe UI\", sans-serif;\r\n        height: 100vh;\r\n        overflow: hidden;\r\n        background: var(--bg-body);\r\n        color: var(--text-primary);\r\n        transition:\r\n          background-color 0.3s ease,\r\n          color 0.3s ease;\r\n      }\r\n\r\n      /* LAYOUT */\r\n      .app-container {\r\n        display: flex;\r\n        flex-direction: column;\r\n        height: 100vh;\r\n      }\r\n\r\n      /* Header 100% width */\r\n      /* Header with Seigaiha wave pattern */\r\n      .chat-header {\r\n        background: var(--bg-header);\r\n        color: var(--text-inverse);\r\n        padding: 18px 30px;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: space-between;\r\n        box-shadow: var(--shadow-md);\r\n        z-index: 100;\r\n        transition: background 0.3s ease;\r\n        position: relative;\r\n        overflow: hidden;\r\n      }\r\n\r\n      .chat-header::before {\r\n        content: \"\";\r\n        position: absolute;\r\n        top: 0;\r\n        left: 0;\r\n        right: 0;\r\n        bottom: 0;\r\n        background-image: url(\"data:image/svg+xml,%3Csvg xmlns=\u0027http://www.w3.org/2000/svg\u0027 width=\u002780\u0027 height=\u002740\u0027 viewBox=\u00270 0 80 40\u0027%3E%3Cpath d=\u0027M0 20 Q10 0 20 20 Q30 40 40 20 Q50 0 60 20 Q70 40 80 20\u0027 fill=\u0027none\u0027 stroke=\u0027rgba(255,255,255,0.04)\u0027 stroke-width=\u00271.5\u0027/%3E%3C/svg%3E\");\r\n        background-repeat: repeat;\r\n        pointer-events: none;\r\n      }\r\n\r\n      .logo-area {\r\n        display: flex;\r\n        align-items: center;\r\n        gap: 16px;\r\n        z-index: 1;\r\n      }\r\n\r\n      .aspiramaq-logo {\r\n        height: 38px;\r\n        filter: brightness(10);\r\n        transition: transform 0.3s ease;\r\n      }\r\n\r\n      .aspiramaq-logo:hover {\r\n        transform: scale(1.05);\r\n      }\r\n\r\n      .senai-logo {\r\n        font-weight: 800;\r\n        font-size: 1.4rem;\r\n        letter-spacing: -1px;\r\n        color: var(--text-inverse);\r\n        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);\r\n        display: none;\r\n      }\r\n\r\n      .senai-logo span {\r\n        color: var(--color-primary);\r\n        margin: 0 2px;\r\n      }\r\n\r\n      .dt-tag {\r\n        background: var(--color-accent);\r\n        color: var(--text-inverse);\r\n        padding: 5px 12px;\r\n        font-size: 0.65rem;\r\n        font-weight: 700;\r\n        text-transform: uppercase;\r\n        border-radius: 4px;\r\n        letter-spacing: 1px;\r\n        box-shadow: 0 2px 6px rgba(196, 30, 58, 0.3);\r\n        z-index: 1;\r\n        font-family: \"Noto Sans JP\", sans-serif;\r\n      }\r\n\r\n      .header-title {\r\n        font-size: 0.95rem;\r\n        font-weight: 600;\r\n        color: rgba(255, 255, 255, 0.8);\r\n        z-index: 1;\r\n      }\r\n\r\n      /* HEADER RIGHT AREA - STACKED FOR BADGES */\r\n      .header-right {\r\n        display: flex;\r\n        flex-direction: column;\r\n        align-items: flex-end;\r\n        gap: 6px;\r\n      }\r\n\r\n      .connection-status {\r\n        display: inline-flex;\r\n        align-items: center;\r\n        gap: 6px;\r\n        font-size: 11px;\r\n        color: #4caf50;\r\n        background: rgba(76, 175, 80, 0.1);\r\n        padding: 4px 8px;\r\n        border-radius: 12px;\r\n        border: 1px solid rgba(76, 175, 80, 0.2);\r\n        font-weight: 600;\r\n        width: 105px;\r\n        /* Fixed width for consistency */\r\n        justify-content: center;\r\n      }\r\n\r\n      .connection-dot {\r\n        width: 6px;\r\n        height: 6px;\r\n        background: #4caf50;\r\n        border-radius: 50%;\r\n        box-shadow: 0 0 5px #4caf50;\r\n        animation: pulse 2s infinite;\r\n      }\r\n\r\n      /* RESET BADGE/BUTTON - STYLED LIKE ONLINE BADGE */\r\n      .reset-badge-btn {\r\n        display: inline-flex;\r\n        align-items: center;\r\n        gap: 5px;\r\n        font-size: 11px;\r\n        color: rgba(255, 255, 255, 0.7);\r\n        background: rgba(255, 255, 255, 0.05);\r\n        /* Transparent/Subtle */\r\n        padding: 4px 8px;\r\n        border-radius: 12px;\r\n        border: 1px solid rgba(255, 255, 255, 0.1);\r\n        font-weight: 500;\r\n        cursor: pointer;\r\n        transition: all 0.2s;\r\n        text-decoration: none;\r\n        outline: none;\r\n        width: 105px;\r\n        /* Fixed width for consistency */\r\n        justify-content: center;\r\n      }\r\n\r\n      .reset-badge-btn:hover:not(:disabled) {\r\n        background: rgba(255, 255, 255, 0.15);\r\n        color: white;\r\n        border-color: rgba(255, 255, 255, 0.3);\r\n      }\r\n\r\n      .reset-badge-btn:disabled {\r\n        opacity: 0.5;\r\n        cursor: not-allowed;\r\n      }\r\n\r\n      .reset-badge-btn i {\r\n        width: 12px;\r\n        height: 12px;\r\n      }\r\n\r\n      /* Loading Spinner Animation */\r\n      @keyframes spin {\r\n        to {\r\n          transform: rotate(360deg);\r\n        }\r\n      }\r\n\r\n      .animate-spin {\r\n        animation: spin 1s linear infinite;\r\n      }\r\n\r\n      @keyframes pulse {\r\n        0% {\r\n          opacity: 1;\r\n        }\r\n\r\n        50% {\r\n          opacity: 0.6;\r\n        }\r\n\r\n        100% {\r\n          opacity: 1;\r\n        }\r\n      }\r\n\r\n      /* Grid: Sidebar + Chat */\r\n      .main-grid {\r\n        display: grid;\r\n        flex: 1;\r\n        overflow: hidden;\r\n        transition: grid-template-columns 0.3s ease;\r\n      }\r\n\r\n      @media (min-width: 769px) {\r\n        .main-grid {\r\n          grid-template-columns: var(--sidebar-width) 1fr;\r\n        }\r\n\r\n        .main-grid.sidebar-closed {\r\n          grid-template-columns: 0 1fr;\r\n        }\r\n      }\r\n\r\n      /* Sidebar Backdrop - Hidden by default everywhere */\r\n      .sidebar-backdrop {\r\n        display: none;\r\n      }\r\n\r\n      /* Sidebar */\r\n      #sidebar {\r\n        background: var(--bg-sidebar);\r\n        border-right: 2px solid var(--color-primary);\r\n        display: flex;\r\n        flex-direction: column;\r\n        overflow: hidden;\r\n        transition: background-color 0.3s ease;\r\n      }\r\n\r\n      /* Desktop: hide sidebar by collapsing grid column */\r\n      /* No transform needed on desktop, grid handles it */\r\n\r\n      .toggle-sidebar-btn {\r\n        background: transparent;\r\n        border: 2px solid var(--color-primary);\r\n        color: var(--color-primary);\r\n        width: 40px;\r\n        height: 40px;\r\n        border-radius: 6px;\r\n        cursor: pointer;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        transition: all 0.2s;\r\n        flex-shrink: 0;\r\n      }\r\n\r\n      .toggle-sidebar-btn:hover {\r\n        background: var(--color-primary);\r\n        color: white;\r\n      }\r\n\r\n      #sidebar-header {\r\n        padding: 20px;\r\n        border-bottom: 1px solid rgba(255, 255, 255, 0.1);\r\n      }\r\n\r\n      #newChatBtn {\r\n        width: 100%;\r\n        padding: 12px;\r\n        background: var(--color-primary);\r\n        color: white;\r\n        border: none;\r\n        border-radius: 6px;\r\n        font-size: 14px;\r\n        font-weight: 600;\r\n        cursor: pointer;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        gap: 8px;\r\n        transition: all 0.2s;\r\n      }\r\n\r\n      #newChatBtn:hover {\r\n        background: var(--color-primary-hover);\r\n        transform: translateY(-1px);\r\n        box-shadow: 0 4px 12px rgba(27, 58, 92, 0.4);\r\n      }\r\n\r\n      #sessionList {\r\n        flex: 1;\r\n        overflow-y: auto;\r\n        padding: 10px;\r\n      }\r\n\r\n      .session-item {\r\n        padding: 12px;\r\n        margin-bottom: 8px;\r\n        background: rgba(255, 255, 255, 0.05);\r\n        border-radius: 6px;\r\n        cursor: pointer;\r\n        transition: all 0.2s;\r\n        display: flex;\r\n        justify-content: space-between;\r\n        align-items: flex-start;\r\n        color: var(--text-inverse);\r\n        border-left: 3px solid transparent;\r\n      }\r\n\r\n      .session-item:hover {\r\n        background: rgba(255, 255, 255, 0.1);\r\n        border-left-color: var(--color-primary);\r\n      }\r\n\r\n      .session-item.active {\r\n        background: rgba(27, 58, 92, 0.2);\r\n        border-left-color: var(--color-primary);\r\n      }\r\n\r\n      .session-content {\r\n        flex: 1;\r\n        min-width: 0;\r\n      }\r\n\r\n      .session-title {\r\n        font-size: 13px;\r\n        font-weight: 500;\r\n        margin-bottom: 4px;\r\n        white-space: nowrap;\r\n        overflow: hidden;\r\n        text-overflow: ellipsis;\r\n      }\r\n\r\n      .session-date {\r\n        font-size: 11px;\r\n        color: rgba(255, 255, 255, 0.5);\r\n      }\r\n\r\n      .delete-btn {\r\n        background: transparent;\r\n        border: none;\r\n        color: rgba(255, 255, 255, 0.4);\r\n        cursor: pointer;\r\n        padding: 4px;\r\n        font-size: 16px;\r\n        transition: color 0.2s;\r\n      }\r\n\r\n      .delete-btn:hover {\r\n        color: var(--color-primary);\r\n      }\r\n\r\n      #sidebar ::-webkit-scrollbar {\r\n        width: 6px;\r\n      }\r\n\r\n      #sidebar ::-webkit-scrollbar-thumb {\r\n        background: rgba(255, 255, 255, 0.2);\r\n        border-radius: 3px;\r\n      }\r\n\r\n      #sidebar ::-webkit-scrollbar-thumb:hover {\r\n        background: var(--color-primary);\r\n      }\r\n\r\n      /* Chat Area */\r\n      #chatArea {\r\n        display: flex;\r\n        flex-direction: column;\r\n        background: var(--bg-chat);\r\n        overflow: hidden;\r\n        transition: background-color 0.3s ease;\r\n      }\r\n\r\n      #messagesContainer {\r\n        flex: 1;\r\n        overflow-y: auto;\r\n        padding: 25px;\r\n        display: flex;\r\n        flex-direction: column;\r\n        gap: 20px;\r\n      }\r\n\r\n      /* OLD MESSAGE STYLES REMOVED - CONSOLIDATED BELOW */\r\n\r\n      #inputArea {\r\n        padding: 20px;\r\n        background: var(--bg-input-area);\r\n        border-top: 1px solid var(--border-color);\r\n      }\r\n\r\n      .status-info {\r\n        text-align: center;\r\n        font-size: 0.75rem;\r\n        color: var(--senai-wine);\r\n        margin-bottom: 10px;\r\n        height: 16px;\r\n      }\r\n\r\n      #inputForm {\r\n        display: flex;\r\n        gap: 12px;\r\n        align-items: center;\r\n      }\r\n\r\n      #messageInput {\r\n        flex: 1;\r\n        padding: 12px 16px;\r\n        border: 2px solid #ddd;\r\n        border-radius: 24px;\r\n        font-size: 14px;\r\n        outline: none;\r\n        transition: border-color 0.2s;\r\n        resize: none;\r\n        max-height: 120px;\r\n        font-family: inherit;\r\n      }\r\n\r\n      #messageInput:focus {\r\n        border-color: var(--senai-red);\r\n      }\r\n\r\n      .controls {\r\n        display: flex;\r\n        gap: 10px;\r\n      }\r\n\r\n      .action-btn {\r\n        width: 44px;\r\n        height: 44px;\r\n        border: none;\r\n        border-radius: 50%;\r\n        cursor: pointer;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        transition: all 0.2s;\r\n      }\r\n\r\n      .btn-attach {\r\n        background: #f0f0f0;\r\n        color: #666;\r\n      }\r\n\r\n      .btn-attach:hover {\r\n        background: #e0e0e0;\r\n        color: var(--senai-red);\r\n      }\r\n\r\n      .btn-mic {\r\n        background: #f0f0f0;\r\n        color: #666;\r\n      }\r\n\r\n      .btn-mic:hover {\r\n        background: #e0e0e0;\r\n        color: var(--senai-red);\r\n      }\r\n\r\n      .btn-send {\r\n        background: var(--color-accent);\r\n        color: white;\r\n      }\r\n\r\n      .btn-send:hover:not(:disabled) {\r\n        background: #a31830;\r\n        transform: scale(1.05);\r\n      }\r\n\r\n      .btn-send:disabled {\r\n        opacity: 0.5;\r\n        cursor: not-allowed;\r\n      }\r\n\r\n      /* EDIT BUTTON */\r\n      .btn-edit {\r\n        background: transparent;\r\n        border: none;\r\n        color: var(--text-secondary);\r\n        cursor: pointer;\r\n        padding: 4px;\r\n        margin-right: 8px;\r\n        display: none;\r\n        /* Visible on hover */\r\n        transition: color 0.2s;\r\n      }\r\n\r\n      .message.user:hover .btn-edit {\r\n        display: flex;\r\n      }\r\n\r\n      .btn-edit:hover {\r\n        color: var(--color-primary);\r\n      }\r\n\r\n      .loading {\r\n        display: none;\r\n        text-align: center;\r\n        padding: 15px;\r\n        color: #666;\r\n      }\r\n\r\n      .loading.show {\r\n        display: block;\r\n      }\r\n\r\n      .loading-dots {\r\n        display: inline-flex;\r\n        gap: 6px;\r\n      }\r\n\r\n      .loading-dots span {\r\n        width: 8px;\r\n        height: 8px;\r\n        border-radius: 50%;\r\n        background: var(--color-accent);\r\n        animation: dotBounce 1.4s infinite ease-in-out;\r\n      }\r\n\r\n      .loading-dots span:nth-child(1) {\r\n        animation-delay: 0s;\r\n      }\r\n\r\n      .loading-dots span:nth-child(2) {\r\n        animation-delay: 0.2s;\r\n      }\r\n\r\n      .loading-dots span:nth-child(3) {\r\n        animation-delay: 0.4s;\r\n      }\r\n\r\n      @keyframes dotBounce {\r\n        0%,\r\n        80%,\r\n        100% {\r\n          transform: scale(0);\r\n        }\r\n\r\n        40% {\r\n          transform: scale(1);\r\n        }\r\n      }\r\n\r\n      #messagesContainer::-webkit-scrollbar {\r\n        width: 8px;\r\n      }\r\n\r\n      #messagesContainer::-webkit-scrollbar-thumb {\r\n        background: #ccc;\r\n        border-radius: 4px;\r\n      }\r\n\r\n      #messagesContainer::-webkit-scrollbar-thumb:hover {\r\n        background: var(--senai-red);\r\n      }\r\n\r\n      /* ============================================\r\n           SKELETON LOADERS\r\n           ============================================ */\r\n      .skeleton {\r\n        background: linear-gradient(\r\n          90deg,\r\n          #e0e0e0 25%,\r\n          #f0f0f0 50%,\r\n          #e0e0e0 75%\r\n        );\r\n        background-size: 200% 100%;\r\n        animation: shimmer 1.5s infinite;\r\n        border-radius: 6px;\r\n      }\r\n\r\n      @keyframes shimmer {\r\n        0% {\r\n          background-position: 200% 0;\r\n        }\r\n\r\n        100% {\r\n          background-position: -200% 0;\r\n        }\r\n      }\r\n\r\n      .skeleton-session {\r\n        padding: 12px;\r\n        margin-bottom: 8px;\r\n        background: var(--senai-gray);\r\n        border-radius: 6px;\r\n      }\r\n\r\n      .skeleton-session-title {\r\n        height: 16px;\r\n        width: 70%;\r\n        margin-bottom: 8px;\r\n      }\r\n\r\n      .skeleton-session-date {\r\n        height: 12px;\r\n        width: 40%;\r\n      }\r\n\r\n      .skeleton-message {\r\n        display: flex;\r\n        gap: 12px;\r\n        margin-bottom: 20px;\r\n      }\r\n\r\n      .skeleton-avatar {\r\n        width: 40px;\r\n        height: 40px;\r\n        border-radius: 50%;\r\n      }\r\n\r\n      .skeleton-content {\r\n        flex: 1;\r\n        max-width: 60%;\r\n      }\r\n\r\n      .skeleton-text {\r\n        height: 14px;\r\n        margin-bottom: 8px;\r\n        border-radius: 4px;\r\n      }\r\n\r\n      .skeleton-text:last-child {\r\n        width: 80%;\r\n      }\r\n\r\n      /* TYPING INDICATOR */\r\n      .typing-indicator {\r\n        display: flex;\r\n        gap: 12px;\r\n        align-items: flex-start;\r\n        animation: fadeIn 0.3s;\r\n      }\r\n\r\n      .typing-indicator .message-avatar {\r\n        width: 40px;\r\n        height: 40px;\r\n        border-radius: 50%;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        background: var(--senai-wine);\r\n        color: white;\r\n        flex-shrink: 0;\r\n      }\r\n\r\n      .typing-dots {\r\n        background: var(--bg-message-assistant);\r\n        padding: 16px 20px;\r\n        border-radius: 12px;\r\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\r\n        display: flex;\r\n        gap: 6px;\r\n        align-items: center;\r\n      }\r\n\r\n      .typing-dots span {\r\n        width: 8px;\r\n        height: 8px;\r\n        border-radius: 50%;\r\n        background: var(--color-accent);\r\n        animation: typingBounce 1.4s infinite ease-in-out;\r\n      }\r\n\r\n      .typing-dots span:nth-child(1) {\r\n        animation-delay: 0s;\r\n      }\r\n\r\n      .typing-dots span:nth-child(2) {\r\n        animation-delay: 0.2s;\r\n      }\r\n\r\n      .typing-dots span:nth-child(3) {\r\n        animation-delay: 0.4s;\r\n      }\r\n\r\n      @keyframes typingBounce {\r\n        0%,\r\n        60%,\r\n        100% {\r\n          transform: translateY(0);\r\n        }\r\n\r\n        30% {\r\n          transform: translateY(-10px);\r\n        }\r\n      }\r\n\r\n      /* IMPROVED MESSAGE STYLING */\r\n      /* IMPROVED MESSAGE STYLING - CONSOLIDATED */\r\n      .message {\r\n        display: flex;\r\n        gap: 15px;\r\n        /* Increased gap between avatar and content */\r\n        animation: fadeIn 0.3s;\r\n        max-width: 80%;\r\n        width: fit-content;\r\n        /* Ensure it doesn\u0027t stretch unnecessarily */\r\n        margin-bottom: 25px;\r\n        /* Added explicit spacing between messages */\r\n      }\r\n\r\n      .message.user {\r\n        flex-direction: row-reverse;\r\n        margin-left: auto;\r\n        /* Force right alignment */\r\n        align-self: flex-end;\r\n        text-align: right;\r\n        /* Optional: aligns text inside slightly better for short msgs */\r\n      }\r\n\r\n      .message.user .message-content {\r\n        text-align: left;\r\n        /* Keep content left-aligned for readability */\r\n        border-bottom-right-radius: 2px;\r\n        /* Visual touch */\r\n      }\r\n\r\n      .message.assistant {\r\n        margin-right: auto;\r\n        /* Force left alignment */\r\n        align-self: flex-start;\r\n      }\r\n\r\n      .message.assistant .message-content {\r\n        border-top-left-radius: 2px;\r\n        /* Visual touch */\r\n      }\r\n\r\n      .message-avatar {\r\n        width: 40px;\r\n        height: 40px;\r\n        border-radius: 50%;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        font-weight: 600;\r\n        flex-shrink: 0;\r\n        font-size: 18px;\r\n      }\r\n\r\n      .message.user .message-avatar {\r\n        background: linear-gradient(\r\n          135deg,\r\n          var(--color-primary) 0%,\r\n          #142d47 100%\r\n        );\r\n        color: white;\r\n        box-shadow: 0 2px 8px rgba(27, 58, 92, 0.3);\r\n      }\r\n\r\n      .message.assistant .message-avatar {\r\n        background: linear-gradient(135deg, var(--color-wine) 0%, #091525 100%);\r\n        color: white;\r\n        box-shadow: 0 2px 8px rgba(13, 31, 51, 0.3);\r\n      }\r\n\r\n      .message-content {\r\n        padding: 14px 18px;\r\n        border-radius: 12px;\r\n        line-height: 1.7;\r\n        box-shadow: var(--shadow-sm);\r\n        font-size: 1rem;\r\n        overflow-wrap: break-word;\r\n      }\r\n      .message.assistant .message-content {\r\n        padding: 22px 26px;\r\n      }\r\n\r\n      .message.user .message-content {\r\n        background: var(--bg-message-user);\r\n        color: var(--text-message-user, white);\r\n        white-space: pre-wrap;\r\n      }\r\n\r\n      .message.assistant .message-content {\r\n        background: var(--bg-message-assistant);\r\n        color: var(--text-message-assistant, var(--color-black));\r\n        border: 1px solid var(--border-color);\r\n      }\r\n\r\n      /* Tokens de cor para o conteúdo da resposta — visíveis em ambos temas */\r\n      :root {\r\n        --asst-accent: #2563eb;\r\n        --asst-accent-soft: rgba(37, 99, 235, 0.10);\r\n        --asst-accent-strong: #1d4ed8;\r\n        --asst-success: #16a34a;\r\n        --asst-success-soft: rgba(22, 163, 74, 0.12);\r\n        --asst-warn: #f59e0b;\r\n        --asst-warn-soft: rgba(245, 158, 11, 0.12);\r\n        --asst-info: #0ea5e9;\r\n        --asst-info-soft: rgba(14, 165, 233, 0.12);\r\n        --asst-card-bg: rgba(0, 0, 0, 0.025);\r\n      }\r\n      [data-theme=\"dark\"] {\r\n        --asst-accent: #60a5fa;\r\n        --asst-accent-soft: rgba(96, 165, 250, 0.14);\r\n        --asst-accent-strong: #3b82f6;\r\n        --asst-success: #4ade80;\r\n        --asst-success-soft: rgba(74, 222, 128, 0.14);\r\n        --asst-warn: #fbbf24;\r\n        --asst-warn-soft: rgba(251, 191, 36, 0.14);\r\n        --asst-info: #38bdf8;\r\n        --asst-info-soft: rgba(56, 189, 248, 0.14);\r\n        --asst-card-bg: rgba(255, 255, 255, 0.025);\r\n      }\r\n\r\n      /* Seções como \"cards\" leves */\r\n      .message.assistant .message-content h1,\r\n      .message.assistant .message-content h2,\r\n      .message.assistant .message-content h3 {\r\n        margin-top: 26px;\r\n        margin-bottom: 12px;\r\n        line-height: 1.3;\r\n        font-weight: 700;\r\n        letter-spacing: 0.01em;\r\n      }\r\n      .message.assistant .message-content h2 {\r\n        font-size: 1.05rem;\r\n        color: var(--asst-accent);\r\n        padding: 10px 14px;\r\n        border-left: 4px solid var(--asst-accent);\r\n        background: var(--asst-accent-soft);\r\n        border-radius: 6px;\r\n        border-bottom: none;\r\n      }\r\n      /* Variantes de cor por emoji de seção */\r\n      .message.assistant .message-content h2:has(\u003e :first-child) { /* fallback */ }\r\n      .message.assistant .message-content h2.sec-spec,\r\n      .message.assistant .message-content h2:where(:is(*))[data-sec=\"spec\"] {\r\n        color: var(--asst-success);\r\n        border-left-color: var(--asst-success);\r\n        background: var(--asst-success-soft);\r\n      }\r\n      .message.assistant .message-content h2.sec-warn {\r\n        color: var(--asst-warn);\r\n        border-left-color: var(--asst-warn);\r\n        background: var(--asst-warn-soft);\r\n      }\r\n      .message.assistant .message-content h2.sec-info {\r\n        color: var(--asst-info);\r\n        border-left-color: var(--asst-info);\r\n        background: var(--asst-info-soft);\r\n      }\r\n      .message.assistant .message-content h3 {\r\n        font-size: 1rem;\r\n        color: var(--asst-accent);\r\n        padding-bottom: 4px;\r\n        border-bottom: 1px solid var(--border-color);\r\n      }\r\n      .message.assistant .message-content \u003e *:first-child {\r\n        margin-top: 0;\r\n      }\r\n      .message.assistant .message-content p,\r\n      .message.assistant .message-content ul,\r\n      .message.assistant .message-content ol {\r\n        margin: 10px 0;\r\n      }\r\n      .message.assistant .message-content hr {\r\n        border: none;\r\n        border-top: 1px dashed var(--border-color);\r\n        margin: 20px 0;\r\n      }\r\n      .message.assistant .message-content blockquote {\r\n        border-left: 4px solid var(--asst-info);\r\n        padding: 10px 14px;\r\n        margin: 14px 0;\r\n        background: var(--asst-info-soft);\r\n        border-radius: 6px;\r\n        color: inherit;\r\n      }\r\n      .message.assistant .message-content blockquote p { margin: 0; }\r\n\r\n      /* Highlight do \"Próximo passo\" — última seção como CTA */\r\n      .message.assistant .message-content h2.sec-cta + p,\r\n      .message.assistant .message-content h2.sec-cta + ul {\r\n        background: var(--asst-success-soft);\r\n        border-left: 4px solid var(--asst-success);\r\n        padding: 12px 14px;\r\n        border-radius: 6px;\r\n        font-weight: 600;\r\n      }\r\n\r\n      /* ESTILOS DE MARKDOWN (TABELAS, LISTAS, ETC) */\r\n      .message-content table {\r\n        width: 100%;\r\n        border-collapse: separate;\r\n        border-spacing: 0;\r\n        margin: 16px 0 22px;\r\n        border: 1px solid var(--border-color);\r\n        border-radius: 10px;\r\n        overflow: hidden;\r\n        background: var(--asst-card-bg);\r\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);\r\n      }\r\n\r\n      .message-content th {\r\n        background: linear-gradient(180deg, var(--asst-accent-strong), var(--asst-accent));\r\n        color: #fff;\r\n        padding: 11px 14px;\r\n        text-align: left;\r\n        font-size: 0.78rem;\r\n        text-transform: uppercase;\r\n        letter-spacing: 0.06em;\r\n        font-weight: 700;\r\n        border: none;\r\n      }\r\n\r\n      .message-content td {\r\n        padding: 11px 14px;\r\n        border-top: 1px solid var(--border-color);\r\n        font-size: 0.95rem;\r\n        vertical-align: top;\r\n      }\r\n      .message-content td:first-child {\r\n        font-weight: 600;\r\n        color: var(--asst-accent);\r\n        white-space: nowrap;\r\n      }\r\n      [data-theme=\"dark\"] .message-content td:first-child {\r\n        color: var(--asst-accent);\r\n      }\r\n\r\n      /* Zebra striping adaptável ao tema */\r\n      .message-content tr:nth-child(even) {\r\n        background: rgba(0, 0, 0, 0.03);\r\n      }\r\n\r\n      [data-theme=\"dark\"] .message-content tr:nth-child(even) {\r\n        background: rgba(255, 255, 255, 0.03);\r\n      }\r\n\r\n      .message-content ul,\r\n      .message-content ol {\r\n        margin-left: 25px;\r\n        margin-bottom: 15px;\r\n        margin-top: 10px;\r\n      }\r\n\r\n      .message-content li {\r\n        margin-bottom: 6px;\r\n      }\r\n\r\n      .message-content strong {\r\n        font-weight: 700;\r\n        color: inherit;\r\n      }\r\n\r\n      .message-content a {\r\n        color: var(--color-primary);\r\n        text-decoration: none;\r\n        font-weight: 600;\r\n      }\r\n\r\n      .message-content a:hover {\r\n        text-decoration: underline;\r\n      }\r\n\r\n      .message-content h1,\r\n      .message-content h2,\r\n      .message-content h3 {\r\n        margin-top: 20px;\r\n        margin-bottom: 10px;\r\n        font-weight: 700;\r\n        color: inherit;\r\n      }\r\n\r\n      .message-content code {\r\n        background: rgba(0, 0, 0, 0.1);\r\n        padding: 2px 4px;\r\n        border-radius: 4px;\r\n        font-family: \"Consolas\", \"Monaco\", monospace;\r\n        font-size: 0.9em;\r\n      }\r\n\r\n      [data-theme=\"dark\"] .message-content code {\r\n        background: rgba(255, 255, 255, 0.1);\r\n      }\r\n\r\n      .message-content pre {\r\n        background: #2d2d2d;\r\n        color: #f8f8f2;\r\n        padding: 15px;\r\n        border-radius: 8px;\r\n        overflow-x: auto;\r\n        margin: 15px 0;\r\n      }\r\n\r\n      .message-content pre code {\r\n        background: transparent;\r\n        padding: 0;\r\n        color: inherit;\r\n      }\r\n\r\n      /* QUICK REPLY CHIPS */\r\n      .quick-replies {\r\n        display: flex;\r\n        flex-wrap: wrap;\r\n        gap: 8px;\r\n        margin-top: 12px;\r\n        padding-top: 12px;\r\n        border-top: 1px dashed var(--border-color);\r\n      }\r\n      .quick-reply-chip {\r\n        background: var(--bg-input);\r\n        color: var(--text-primary);\r\n        border: 1.5px solid var(--color-primary);\r\n        border-radius: 20px;\r\n        padding: 6px 14px;\r\n        font-size: 13px;\r\n        font-family: inherit;\r\n        cursor: pointer;\r\n        transition: all 0.15s;\r\n        line-height: 1.3;\r\n      }\r\n      .quick-reply-chip:hover:not(:disabled) {\r\n        background: var(--color-primary);\r\n        color: white;\r\n        transform: translateY(-1px);\r\n      }\r\n      .quick-reply-chip:disabled {\r\n        opacity: 0.5;\r\n        cursor: not-allowed;\r\n      }\r\n      .quick-reply-chip.selected {\r\n        background: var(--color-primary);\r\n        color: white;\r\n      }\r\n\r\n      /* QUICK FORM (inline multi-question) */\r\n      .quick-form {\r\n        margin-top: 14px;\r\n        padding-top: 14px;\r\n        border-top: 1px dashed var(--border-color);\r\n        display: flex;\r\n        flex-direction: column;\r\n        gap: 14px;\r\n      }\r\n      .qf-item {\r\n        display: flex;\r\n        flex-direction: column;\r\n        gap: 6px;\r\n      }\r\n      .qf-q {\r\n        font-size: 13px;\r\n        font-weight: 600;\r\n        color: var(--text-primary);\r\n        line-height: 1.35;\r\n      }\r\n      .qf-chips {\r\n        display: flex;\r\n        flex-wrap: wrap;\r\n        gap: 6px;\r\n      }\r\n      .qf-input {\r\n        background: var(--bg-input);\r\n        color: var(--text-primary);\r\n        border: 1.5px solid var(--border-color);\r\n        border-radius: 8px;\r\n        padding: 8px 12px;\r\n        font-size: 13px;\r\n        font-family: inherit;\r\n        outline: none;\r\n        transition: border-color 0.15s;\r\n      }\r\n      .qf-input:focus {\r\n        border-color: var(--color-primary);\r\n      }\r\n      .qf-submit {\r\n        align-self: flex-start;\r\n        margin-top: 4px;\r\n        background: var(--color-primary);\r\n        color: white;\r\n        border: none;\r\n        border-radius: 20px;\r\n        padding: 10px 22px;\r\n        font-size: 14px;\r\n        font-weight: 600;\r\n        font-family: inherit;\r\n        cursor: pointer;\r\n        transition: all 0.15s;\r\n      }\r\n      .qf-submit:hover:not(:disabled) {\r\n        filter: brightness(1.15);\r\n        transform: translateY(-1px);\r\n      }\r\n      .qf-submit:disabled {\r\n        opacity: 0.5;\r\n        cursor: not-allowed;\r\n      }\r\n\r\n      /* IMPROVED INPUT AREA */\r\n      #messageInput {\r\n        flex: 1;\r\n        padding: 14px 20px;\r\n        border: 2px solid var(--border-color);\r\n        background: var(--bg-input);\r\n        color: var(--text-primary);\r\n        border-radius: 24px;\r\n        font-size: 15px;\r\n        outline: none;\r\n        transition: all 0.2s;\r\n        resize: none;\r\n        max-height: 120px;\r\n        min-height: 48px;\r\n        font-family: inherit;\r\n        line-height: 1.5;\r\n        overflow-y: hidden;\r\n      }\r\n\r\n      #messageInput:focus {\r\n        border-color: var(--color-primary);\r\n        box-shadow: 0 0 0 3px rgba(27, 58, 92, 0.15);\r\n      }\r\n\r\n      /* BETTER NEW CHAT BUTTON */\r\n      #newChatBtn {\r\n        width: 100%;\r\n        padding: 14px 16px;\r\n        background: var(--color-primary);\r\n        color: white;\r\n        border: none;\r\n        border-radius: 8px;\r\n        font-size: 14px;\r\n        font-weight: 600;\r\n        cursor: pointer;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        gap: 10px;\r\n        transition: all 0.3s;\r\n        box-shadow: 0 2px 8px rgba(216, 36, 68, 0.3);\r\n      }\r\n\r\n      #newChatBtn:hover {\r\n        background: var(--color-primary-hover);\r\n        transform: translateY(-2px);\r\n        box-shadow: 0 4px 12px rgba(216, 36, 68, 0.4);\r\n      }\r\n\r\n      #newChatBtn svg {\r\n        width: 18px;\r\n        height: 18px;\r\n      }\r\n\r\n      /* BETTER DELETE BUTTON */\r\n      .delete-btn {\r\n        background: transparent;\r\n        border: none;\r\n        color: var(--text-secondary);\r\n        cursor: pointer;\r\n        padding: 4px;\r\n        transition: all 0.2s;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        border-radius: 4px;\r\n      }\r\n\r\n      .delete-btn:hover {\r\n        background: rgba(27, 58, 92, 0.1);\r\n        color: var(--color-primary);\r\n      }\r\n\r\n      .delete-btn svg {\r\n        width: 16px;\r\n        height: 16px;\r\n      }\r\n\r\n      /* UPLOADED FILE INDICATOR */\r\n      .file-attachment {\r\n        display: inline-flex;\r\n        align-items: center;\r\n        gap: 8px;\r\n        background: rgba(255, 255, 255, 0.2);\r\n        padding: 6px 12px;\r\n        border-radius: 6px;\r\n        margin-top: 8px;\r\n        font-size: 13px;\r\n      }\r\n\r\n      .file-attachment svg {\r\n        width: 14px;\r\n        height: 14px;\r\n      }\r\n\r\n      /* ============================================\r\n           MOBILE RESPONSIVE\r\n           ============================================ */\r\n      @media (max-width: 768px) {\r\n        .chat-header {\r\n          padding: 12px 16px;\r\n        }\r\n\r\n        .logo-area {\r\n          gap: 10px;\r\n        }\r\n\r\n        .senai-logo {\r\n          font-size: 1.1rem;\r\n        }\r\n\r\n        .dt-tag {\r\n          display: none;\r\n        }\r\n\r\n        .header-title {\r\n          font-size: 0.8rem;\r\n          display: none;\r\n        }\r\n\r\n        .connection-status {\r\n          font-size: 0.65rem;\r\n          padding: 4px 8px;\r\n        }\r\n\r\n        .main-grid {\r\n          grid-template-columns: 1fr;\r\n          position: relative;\r\n        }\r\n\r\n        /* On mobile, ALWAYS use 1fr - don\u0027t collapse grid */\r\n        .main-grid.sidebar-closed {\r\n          grid-template-columns: 1fr;\r\n        }\r\n\r\n        #sidebar {\r\n          position: absolute;\r\n          left: 0;\r\n          top: 0;\r\n          width: 260px;\r\n          height: 100%;\r\n          z-index: 200;\r\n          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);\r\n          transition: transform 0.3s ease;\r\n          transform: translateX(-100%);\r\n        }\r\n\r\n        /* Show sidebar when NOT closed (toggle button clicked) */\r\n        .main-grid:not(.sidebar-closed) #sidebar {\r\n          transform: translateX(0);\r\n        }\r\n\r\n        .sidebar-backdrop {\r\n          display: none;\r\n          position: absolute;\r\n          top: 0;\r\n          left: 0;\r\n          right: 0;\r\n          bottom: 0;\r\n          background: rgba(0, 0, 0, 0.5);\r\n          z-index: 199;\r\n          pointer-events: none;\r\n        }\r\n\r\n        /* Show backdrop when sidebar is open */\r\n        .main-grid:not(.sidebar-closed) .sidebar-backdrop {\r\n          display: block;\r\n          pointer-events: auto;\r\n        }\r\n\r\n        .message {\r\n          max-width: 85%;\r\n        }\r\n\r\n        #messagesContainer {\r\n          padding: 15px;\r\n          gap: 20px;\r\n          /* Force spacing on mobile too */\r\n        }\r\n\r\n        .action-btn {\r\n          width: 44px;\r\n          height: 44px;\r\n        }\r\n\r\n        .toggle-sidebar-btn {\r\n          width: 44px;\r\n          height: 44px;\r\n        }\r\n      }\r\n\r\n      @media (max-width: 480px) {\r\n        .chat-header {\r\n          padding: 10px 12px;\r\n        }\r\n\r\n        .senai-logo {\r\n          font-size: 1rem;\r\n        }\r\n\r\n        .connection-status span {\r\n          display: none;\r\n        }\r\n\r\n        .message {\r\n          max-width: 90%;\r\n        }\r\n\r\n        .message-content {\r\n          padding: 12px 14px;\r\n          font-size: 14px;\r\n        }\r\n\r\n        #inputArea {\r\n          padding: 12px;\r\n        }\r\n\r\n        #messageInput {\r\n          font-size: 14px;\r\n          padding: 12px 16px;\r\n        }\r\n      }\r\n\r\n      /* ============================================\r\n           NEW COMPONENTS: MODALS \u0026 SIDEBAR FOOTER\r\n           ============================================ */\r\n\r\n      /* LOGIN OVERLAY */\r\n      .login-overlay {\r\n        position: fixed;\r\n        top: 0;\r\n        left: 0;\r\n        width: 100%;\r\n        height: 100%;\r\n        background: rgba(0, 0, 0, 0.85);\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        z-index: 9999;\r\n        backdrop-filter: blur(5px);\r\n      }\r\n\r\n      .login-box {\r\n        background: var(--bg-chat);\r\n        padding: 40px;\r\n        border-radius: 12px;\r\n        width: 100%;\r\n        max-width: 400px;\r\n        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\r\n        text-align: center;\r\n        border: 1px solid var(--border-color);\r\n      }\r\n\r\n      .login-title {\r\n        color: var(--color-primary);\r\n        font-size: 24px;\r\n        font-weight: 800;\r\n        margin-bottom: 20px;\r\n        letter-spacing: -0.5px;\r\n      }\r\n\r\n      .login-input {\r\n        width: 100%;\r\n        padding: 12px 16px;\r\n        margin-bottom: 15px;\r\n        border: 2px solid var(--border-color);\r\n        background: var(--bg-input);\r\n        color: var(--text-primary);\r\n        border-radius: 8px;\r\n        font-size: 16px;\r\n        outline: none;\r\n      }\r\n\r\n      .login-input:focus {\r\n        border-color: var(--color-primary);\r\n      }\r\n\r\n      .login-btn {\r\n        width: 100%;\r\n        padding: 12px;\r\n        background: var(--color-primary);\r\n        color: white;\r\n        border: none;\r\n        border-radius: 8px;\r\n        font-size: 16px;\r\n        font-weight: 600;\r\n        cursor: pointer;\r\n        transition: all 0.2s;\r\n      }\r\n\r\n      .login-btn:hover {\r\n        background: var(--color-primary-hover);\r\n      }\r\n\r\n      /* CONFIRM MODAL */\r\n      .confirm-modal-backdrop {\r\n        position: fixed;\r\n        top: 0;\r\n        left: 0;\r\n        width: 100%;\r\n        height: 100%;\r\n        background: rgba(0, 0, 0, 0.7);\r\n        display: none;\r\n        align-items: center;\r\n        justify-content: center;\r\n        z-index: 10000;\r\n      }\r\n\r\n      .confirm-modal {\r\n        background: var(--bg-chat);\r\n        padding: 24px;\r\n        border-radius: 12px;\r\n        width: 90%;\r\n        max-width: 320px;\r\n        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\r\n        border: 1px solid var(--border-color);\r\n        animation: fadeIn 0.2s ease-out;\r\n      }\r\n\r\n      .confirm-title {\r\n        font-size: 18px;\r\n        font-weight: 600;\r\n        color: var(--text-primary);\r\n        margin-bottom: 12px;\r\n      }\r\n\r\n      .confirm-text {\r\n        color: var(--text-secondary);\r\n        font-size: 14px;\r\n        margin-bottom: 20px;\r\n      }\r\n\r\n      .confirm-actions {\r\n        display: flex;\r\n        gap: 10px;\r\n        justify-content: flex-end;\r\n      }\r\n\r\n      .btn-modal {\r\n        padding: 8px 16px;\r\n        border-radius: 6px;\r\n        font-size: 14px;\r\n        font-weight: 600;\r\n        cursor: pointer;\r\n        border: none;\r\n      }\r\n\r\n      .btn-cancel {\r\n        background: transparent;\r\n        color: var(--text-secondary);\r\n        border: 1px solid var(--border-color);\r\n      }\r\n\r\n      .btn-confirm {\r\n        background: var(--color-primary);\r\n        color: white;\r\n      }\r\n\r\n      /* SIDEBAR FOOTER \u0026 USER PROFILE */\r\n      .sidebar-footer {\r\n        padding: 16px;\r\n        border-top: 1px solid rgba(255, 255, 255, 0.1);\r\n        background: rgba(0, 0, 0, 0.2);\r\n        margin-top: auto;\r\n      }\r\n\r\n      .user-profile {\r\n        display: flex;\r\n        align-items: center;\r\n        gap: 12px;\r\n        padding: 8px;\r\n        background: rgba(255, 255, 255, 0.05);\r\n        border-radius: 8px;\r\n      }\r\n\r\n      .user-avatar {\r\n        width: 36px;\r\n        height: 36px;\r\n        border-radius: 50%;\r\n        background: var(--color-primary);\r\n        color: white;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        font-weight: 700;\r\n        font-size: 14px;\r\n      }\r\n\r\n      .user-info {\r\n        flex: 1;\r\n        overflow: hidden;\r\n      }\r\n\r\n      .user-name {\r\n        font-size: 13px;\r\n        font-weight: 600;\r\n        color: var(--text-inverse);\r\n        white-space: nowrap;\r\n        overflow: hidden;\r\n        text-overflow: ellipsis;\r\n      }\r\n\r\n      .user-role {\r\n        font-size: 11px;\r\n        color: rgba(255, 255, 255, 0.6);\r\n      }\r\n\r\n      .footer-actions {\r\n        display: flex;\r\n        gap: 8px;\r\n        margin-top: 12px;\r\n      }\r\n\r\n      .footer-btn {\r\n        flex: 1;\r\n        padding: 8px;\r\n        border: 1px solid rgba(255, 255, 255, 0.2);\r\n        background: transparent;\r\n        color: rgba(255, 255, 255, 0.8);\r\n        border-radius: 6px;\r\n        cursor: pointer;\r\n        display: flex;\r\n        align-items: center;\r\n        justify-content: center;\r\n        gap: 6px;\r\n        font-size: 12px;\r\n        transition: all 0.2s;\r\n      }\r\n\r\n      .footer-btn:hover {\r\n        background: rgba(255, 255, 255, 0.1);\r\n        color: white;\r\n        border-color: rgba(255, 255, 255, 0.4);\r\n      }\r\n\r\n      .err-msg {\r\n        color: #ff4444;\r\n        font-size: 13px;\r\n        margin-top: 10px;\r\n        display: none;\r\n      }\r\n\r\n      /* EMPTY STATE */\r\n      .empty-state {\r\n        display: none;\r\n        /* Hidden by default */\r\n        flex-direction: column;\r\n        align-items: center;\r\n        justify-content: center;\r\n        height: 100%;\r\n        text-align: center;\r\n        padding: 20px;\r\n        color: var(--text-secondary);\r\n        animation: fadeIn 0.3s ease-out;\r\n      }\r\n\r\n      .empty-state.show {\r\n        display: flex;\r\n      }\r\n\r\n      .empty-icon {\r\n        width: 80px;\r\n        height: 80px;\r\n        color: var(--color-primary);\r\n        margin-bottom: 20px;\r\n        opacity: 0.9;\r\n        background: rgba(27, 58, 92, 0.08);\r\n        padding: 12px;\r\n        border-radius: 50%;\r\n        border: 2px solid rgba(27, 58, 92, 0.1);\r\n      }\r\n\r\n      .empty-title {\r\n        font-size: 24px;\r\n        font-weight: 700;\r\n        color: var(--text-primary);\r\n        margin-bottom: 10px;\r\n      }\r\n\r\n      .empty-subtitle {\r\n        font-size: 16px;\r\n        max-width: 400px;\r\n        line-height: 1.5;\r\n      }\r\n\r\n      @keyframes fadeIn {\r\n        from {\r\n          opacity: 0;\r\n          transform: translateY(10px);\r\n        }\r\n\r\n        to {\r\n          opacity: 1;\r\n          transform: translateY(0);\r\n        }\r\n      }\r\n    \u003c/style\u003e\r\n  \u003c/head\u003e\r\n\r\n  \u003cbody\u003e\r\n    \u003cdiv class=\"app-container\"\u003e\r\n      \u003c!-- HEADER 100% --\u003e\r\n      \u003cheader class=\"chat-header\"\u003e\r\n        \u003cbutton\r\n          class=\"toggle-sidebar-btn\"\r\n          id=\"toggleSidebarBtn\"\r\n          title=\"Alternar lista de conversas\"\r\n        \u003e\r\n          \u003ci data-lucide=\"panel-left\"\u003e\u003c/i\u003e\r\n        \u003c/button\u003e\r\n        \u003cdiv class=\"logo-area\"\u003e\r\n          \u003cimg\r\n            src=\"https://www.aspiramaq.com.br/imagens/logo.png\"\r\n            alt=\"Aspiramaq\"\r\n            class=\"aspiramaq-logo\"\r\n          /\u003e\r\n          \u003cdiv class=\"senai-logo\"\u003eSENAI\u003cspan\u003e-\u003c/span\u003eSP\u003c/div\u003e\r\n          \u003cdiv class=\"dt-tag\"\u003e新日本 · Grupo New Japan\u003c/div\u003e\r\n          \u003cdiv class=\"header-title\"\u003eAssistente Virtual Aspiramaq\u003c/div\u003e\r\n        \u003c/div\u003e\r\n        \u003cdiv class=\"header-right\"\u003e\r\n          \u003cdiv class=\"connection-status\"\u003e\r\n            \u003cdiv class=\"connection-dot\"\u003e\u003c/div\u003e\r\n            \u003cspan\u003eOnline\u003c/span\u003e\r\n          \u003c/div\u003e\r\n          \u003cbutton\r\n            id=\"resetRagBtn\"\r\n            class=\"reset-badge-btn\"\r\n            title=\"Resetar Memória RAG\"\r\n          \u003e\r\n            \u003ci data-lucide=\"database-backup\"\u003e\u003c/i\u003e\r\n            \u003cspan\u003eResetar\u003c/span\u003e\r\n          \u003c/button\u003e\r\n        \u003c/div\u003e\r\n      \u003c/header\u003e\r\n      \u003c!-- GRID: Sidebar + Chat --\u003e\r\n      \u003cdiv class=\"main-grid\"\u003e\r\n        \u003cdiv class=\"sidebar-backdrop\" id=\"sidebarBackdrop\"\u003e\u003c/div\u003e\r\n        \u003c!-- SIDEBAR --\u003e\r\n        \u003caside id=\"sidebar\"\u003e\r\n          \u003cdiv id=\"sidebar-header\"\u003e\r\n            \u003cbutton id=\"newChatBtn\"\u003e\r\n              \u003ci data-lucide=\"plus\"\u003e\u003c/i\u003e\r\n              \u003cspan\u003eNova Conversa\u003c/span\u003e\r\n            \u003c/button\u003e\r\n          \u003c/div\u003e\r\n          \u003cdiv id=\"sessionList\"\u003e\r\n            \u003c!-- Sessões carregadas aqui --\u003e\r\n          \u003c/div\u003e\r\n          \u003c!-- SIDEBAR FOOTER --\u003e\r\n          \u003cdiv class=\"sidebar-footer\"\u003e\r\n            \u003cdiv class=\"user-profile\"\u003e\r\n              \u003cdiv class=\"user-avatar\"\u003eAD\u003c/div\u003e\r\n              \u003cdiv class=\"user-info\"\u003e\r\n                \u003cdiv class=\"user-name\"\u003eAdministrador\u003c/div\u003e\r\n                \u003cdiv class=\"user-role\"\u003eSistema\u003c/div\u003e\r\n              \u003c/div\u003e\r\n            \u003c/div\u003e\r\n            \u003cdiv class=\"footer-actions\"\u003e\r\n              \u003cbutton\r\n                class=\"footer-btn\"\r\n                id=\"themeToggleBtn\"\r\n                title=\"Alternar Tema\"\r\n              \u003e\r\n                \u003ci data-lucide=\"moon\" style=\"width: 14px; height: 14px\"\u003e\u003c/i\u003e\r\n                \u003cspan\u003eTema\u003c/span\u003e\r\n              \u003c/button\u003e\r\n              \u003cbutton class=\"footer-btn\" id=\"logoutBtn\" title=\"Sair do sistema\"\u003e\r\n                \u003ci data-lucide=\"log-out\" style=\"width: 14px; height: 14px\"\u003e\u003c/i\u003e\r\n                \u003cspan\u003eSair\u003c/span\u003e\r\n              \u003c/button\u003e\r\n            \u003c/div\u003e\r\n          \u003c/div\u003e\r\n        \u003c/aside\u003e\r\n        \u003c!-- CHAT AREA --\u003e\r\n        \u003cmain id=\"chatArea\"\u003e\r\n          \u003cdiv id=\"messagesContainer\"\u003e\u003c/div\u003e\r\n\r\n          \u003c!-- Empty State --\u003e\r\n          \u003cdiv id=\"emptyState\" class=\"empty-state\"\u003e\r\n            \u003cdiv class=\"empty-icon\"\u003e\r\n              \u003csvg\r\n                viewBox=\"0 0 64 64\"\r\n                width=\"100%\"\r\n                height=\"100%\"\r\n                fill=\"none\"\r\n                xmlns=\"http://www.w3.org/2000/svg\"\r\n              \u003e\r\n                \u003ccircle\r\n                  cx=\"32\"\r\n                  cy=\"32\"\r\n                  r=\"30\"\r\n                  stroke=\"var(--color-primary)\"\r\n                  stroke-width=\"2\"\r\n                  opacity=\"0.3\"\r\n                /\u003e\r\n                \u003c!-- Torii gate simplified --\u003e\r\n                \u003cline\r\n                  x1=\"18\"\r\n                  y1=\"20\"\r\n                  x2=\"46\"\r\n                  y2=\"20\"\r\n                  stroke=\"var(--color-accent)\"\r\n                  stroke-width=\"3\"\r\n                  stroke-linecap=\"round\"\r\n                /\u003e\r\n                \u003cline\r\n                  x1=\"20\"\r\n                  y1=\"24\"\r\n                  x2=\"44\"\r\n                  y2=\"24\"\r\n                  stroke=\"var(--color-accent)\"\r\n                  stroke-width=\"2\"\r\n                  stroke-linecap=\"round\"\r\n                /\u003e\r\n                \u003cline\r\n                  x1=\"22\"\r\n                  y1=\"20\"\r\n                  x2=\"22\"\r\n                  y2=\"46\"\r\n                  stroke=\"var(--color-primary)\"\r\n                  stroke-width=\"2.5\"\r\n                  stroke-linecap=\"round\"\r\n                /\u003e\r\n                \u003cline\r\n                  x1=\"42\"\r\n                  y1=\"20\"\r\n                  x2=\"42\"\r\n                  y2=\"46\"\r\n                  stroke=\"var(--color-primary)\"\r\n                  stroke-width=\"2.5\"\r\n                  stroke-linecap=\"round\"\r\n                /\u003e\r\n              \u003c/svg\u003e\r\n            \u003c/div\u003e\r\n            \u003cdiv\r\n              class=\"empty-title\"\r\n              style=\"\r\n                font-family:\r\n                  \u0026quot;Noto Sans JP\u0026quot;, \u0026quot;Raleway\u0026quot;, sans-serif;\r\n              \"\r\n            \u003e\r\n              \u003cspan style=\"color: var(--color-accent); font-size: 0.8em\"\r\n                \u003eいらっしゃいませ\u003c/span\r\n              \u003e\u003cbr /\u003e\r\n              Como posso ajudar?\r\n            \u003c/div\u003e\r\n            \u003cdiv class=\"empty-subtitle\"\u003e\r\n              Estou pronto para responder dúvidas sobre a Aspiramaq, nossos\r\n              produtos e serviços industriais.\r\n            \u003c/div\u003e\r\n          \u003c/div\u003e\r\n\r\n          \u003cdiv class=\"loading\" id=\"loading\"\u003e\r\n            \u003cdiv class=\"loading-dots\"\u003e\r\n              \u003cspan\u003e\u003c/span\u003e\u003cspan\u003e\u003c/span\u003e\u003cspan\u003e\u003c/span\u003e\r\n            \u003c/div\u003e\r\n          \u003c/div\u003e\r\n          \u003cdiv id=\"inputArea\"\u003e\r\n            \u003cdiv class=\"status-info\" id=\"statusMessage\"\u003e\u003c/div\u003e\r\n            \u003cform id=\"inputForm\"\u003e\r\n              \u003cinput type=\"file\" id=\"fileInput\" style=\"display: none\" /\u003e\r\n              \u003ctextarea\r\n                id=\"messageInput\"\r\n                placeholder=\"Digite sua mensagem...\"\r\n                rows=\"1\"\r\n              \u003e\u003c/textarea\u003e\r\n              \u003cdiv class=\"controls\"\u003e\r\n                \u003cbutton\r\n                  type=\"button\"\r\n                  class=\"action-btn btn-attach\"\r\n                  id=\"attachBtn\"\r\n                  title=\"Anexar arquivo\"\r\n                \u003e\r\n                  \u003ci data-lucide=\"paperclip\"\u003e\u003c/i\u003e\r\n                \u003c/button\u003e\r\n\r\n                \u003cbutton\r\n                  type=\"submit\"\r\n                  class=\"action-btn btn-send\"\r\n                  id=\"sendBtn\"\r\n                  title=\"Enviar\"\r\n                \u003e\r\n                  \u003ci data-lucide=\"send\"\u003e\u003c/i\u003e\r\n                \u003c/button\u003e\r\n              \u003c/div\u003e\r\n            \u003c/form\u003e\r\n          \u003c/div\u003e\r\n        \u003c/main\u003e\r\n      \u003c/div\u003e\r\n    \u003c/div\u003e\r\n\r\n    \u003c!-- MODALS --\u003e\r\n    \u003c!-- Login Overlay --\u003e\r\n    \u003cdiv class=\"login-overlay\" id=\"loginOverlay\"\u003e\r\n      \u003cdiv class=\"login-box\"\u003e\r\n        \u003cdiv style=\"text-align: center; margin-bottom: 18px\"\u003e\r\n          \u003cimg\r\n            src=\"https://www.aspiramaq.com.br/imagens/logo.png\"\r\n            alt=\"Aspiramaq\"\r\n            style=\"height: 44px; margin-bottom: 8px\"\r\n          /\u003e\r\n        \u003c/div\u003e\r\n        \u003cdiv\r\n          class=\"login-title\"\r\n          style=\"\r\n            font-family:\r\n              \u0026quot;Noto Sans JP\u0026quot;, \u0026quot;Raleway\u0026quot;, sans-serif;\r\n          \"\r\n        \u003e\r\n          \u003cspan style=\"font-size: 0.7em; color: var(--color-accent)\"\r\n            \u003eアクセス\u003c/span\r\n          \u003e\r\n          · Acesso\r\n        \u003c/div\u003e\r\n        \u003cform id=\"loginForm\"\u003e\r\n          \u003cinput\r\n            type=\"text\"\r\n            class=\"login-input\"\r\n            id=\"usernameInput\"\r\n            placeholder=\"Usuário\"\r\n            required\r\n          /\u003e\r\n          \u003cinput\r\n            type=\"password\"\r\n            class=\"login-input\"\r\n            id=\"passwordInput\"\r\n            placeholder=\"Senha\"\r\n            required\r\n          /\u003e\r\n          \u003cbutton type=\"submit\" class=\"login-btn\"\u003eEntrar\u003c/button\u003e\r\n          \u003cdiv class=\"err-msg\" id=\"loginError\"\u003eCredenciais inválidas\u003c/div\u003e\r\n        \u003c/form\u003e\r\n      \u003c/div\u003e\r\n    \u003c/div\u003e\r\n\r\n    \u003c!-- Confirm Modal --\u003e\r\n    \u003cdiv class=\"confirm-modal-backdrop\" id=\"confirmModal\"\u003e\r\n      \u003cdiv class=\"confirm-modal\"\u003e\r\n        \u003ch3 class=\"confirm-title\"\u003eExcluir conversa\u003c/h3\u003e\r\n        \u003cp class=\"confirm-text\"\u003e\r\n          Tem certeza que deseja excluir esta conversa permanentemente? Esta\r\n          ação não pode ser desfeita.\r\n        \u003c/p\u003e\r\n        \u003cdiv class=\"confirm-actions\"\u003e\r\n          \u003cbutton class=\"btn-modal btn-cancel\" id=\"cancelDeleteBtn\"\u003e\r\n            Cancelar\r\n          \u003c/button\u003e\r\n          \u003cbutton class=\"btn-modal btn-confirm\" id=\"confirmDeleteBtn\"\u003e\r\n            Excluir\r\n          \u003c/button\u003e\r\n        \u003c/div\u003e\r\n      \u003c/div\u003e\r\n    \u003c/div\u003e\r\n    \u003cscript\u003e\r\n      lucide.createIcons();\r\n      marked.setOptions({\r\n        highlight: function (code, lang) {\r\n          return hljs.highlightAuto(code).value;\r\n        },\r\n        breaks: true,\r\n        gfm: true,\r\n      });\r\n      // ============================================\r\n      // CONFIGURAÇÃO CORRETA DAS URLs\r\n      // ============================================\r\n      const API_BASE = \"https://longflatworm-n8n.cloudfy.live/webhook\";\r\n      const CHAT_URL = `${API_BASE}/aspiramaq-AgentRag`;\r\n      const UPLOAD_URL = `${API_BASE}/aspiramaq-index-drive`;\r\n      const SESSIONS_URL = `${API_BASE}/aspiramaq-sessions`;\r\n      const HISTORY_URL = `${API_BASE}/aspiramaq-history`;\r\n      const DELETE_URL = `${API_BASE}/aspiramaq-session`;\r\n      const RESET_URL = `${API_BASE}/aspiramaq-DatabaseSetup`;\r\n      const PRUNE_URL = `${API_BASE}/aspiramaq-prune-history`;\r\n      const HEALTH_URL = `${API_BASE}/aspiramaq_health`;\r\n\r\n      // Estado\r\n      let currentSessionId = null;\r\n      let sessions = [];\r\n      let isLoading = false;\r\n      let abortController = null;\r\n      let isEditing = false;\r\n      let uploadAbortController = null;\r\n      let appStarted = false; // Moved to top for hoisting safety\r\n      // DOM\r\n      const elements = {\r\n        sessionList: document.getElementById(\"sessionList\"),\r\n        messagesContainer: document.getElementById(\"messagesContainer\"),\r\n        messageInput: document.getElementById(\"messageInput\"),\r\n        sendBtn: document.getElementById(\"sendBtn\"),\r\n        newChatBtn: document.getElementById(\"newChatBtn\"),\r\n        loading: document.getElementById(\"loading\"),\r\n        statusMessage: document.getElementById(\"statusMessage\"),\r\n        attachBtn: document.getElementById(\"attachBtn\"),\r\n        fileInput: document.getElementById(\"fileInput\"),\r\n        // New elements\r\n        themeToggleBtn: document.getElementById(\"themeToggleBtn\"),\r\n        logoutBtn: document.getElementById(\"logoutBtn\"),\r\n        loginOverlay: document.getElementById(\"loginOverlay\"),\r\n        loginForm: document.getElementById(\"loginForm\"),\r\n        usernameInput: document.getElementById(\"usernameInput\"),\r\n        passwordInput: document.getElementById(\"passwordInput\"),\r\n        loginError: document.getElementById(\"loginError\"),\r\n        confirmModal: document.getElementById(\"confirmModal\"),\r\n        cancelDeleteBtn: document.getElementById(\"cancelDeleteBtn\"),\r\n        confirmDeleteBtn: document.getElementById(\"confirmDeleteBtn\"),\r\n        resetRagBtn: document.getElementById(\"resetRagBtn\"),\r\n        emptyState: document.getElementById(\"emptyState\"),\r\n        inputForm: document.getElementById(\"inputForm\"),\r\n      };\r\n\r\n      // Create Cancel Edit Button dynamically\r\n      const cancelEditBtn = document.createElement(\"button\");\r\n      cancelEditBtn.className = \"action-btn\";\r\n      cancelEditBtn.innerHTML = \u0027\u003ci data-lucide=\"x\"\u003e\u003c/i\u003e\u0027;\r\n      cancelEditBtn.title = \"Cancelar Edição\";\r\n      cancelEditBtn.style.display = \"none\";\r\n      cancelEditBtn.style.background = \"#f0f0f0\";\r\n      cancelEditBtn.style.color = \"#666\";\r\n      cancelEditBtn.type = \"button\";\r\n      cancelEditBtn.addEventListener(\"click\", cancelEdit);\r\n\r\n      elements.sendBtn.parentNode.insertBefore(cancelEditBtn, elements.sendBtn);\r\n\r\n      // ============================================\r\n      // SAFE STORAGE \u0026 COOKIES\r\n      // ============================================\r\n\r\n      // Helper to safely access storage: LocalStorage -\u003e Memory\r\n      const storage = {\r\n        _memory: {},\r\n        isAvailable: false, // Flag to store availability\r\n        init: function () {\r\n          try {\r\n            const testKey = \"__storage_test__\";\r\n            localStorage.setItem(testKey, testKey);\r\n            localStorage.removeItem(testKey);\r\n            this.isAvailable = true;\r\n          } catch (e) {\r\n            this.isAvailable = false;\r\n            console.warn(\r\n              \"LocalStorage is not available (Sandboxed or disabled). Using in-memory storage.\",\r\n            );\r\n          }\r\n        },\r\n        get: function (key) {\r\n          if (this.isAvailable) {\r\n            try {\r\n              return localStorage.getItem(key);\r\n            } catch (e) {\r\n              // Should not happen if init was correct, but safety first\r\n              return this._memory[key] || null;\r\n            }\r\n          }\r\n          return this._memory[key] || null;\r\n        },\r\n        set: function (key, value) {\r\n          if (this.isAvailable) {\r\n            try {\r\n              localStorage.setItem(key, value);\r\n            } catch (e) {}\r\n          }\r\n          this._memory[key] = value;\r\n        },\r\n        remove: function (key) {\r\n          if (this.isAvailable) {\r\n            try {\r\n              localStorage.removeItem(key);\r\n            } catch (e) {}\r\n          }\r\n          delete this._memory[key];\r\n        },\r\n      };\r\n\r\n      // Initialize storage check immediately\r\n      storage.init();\r\n\r\n      // ============================================\r\n      // AUTHENTICATION LOGIC\r\n      // ============================================\r\n      // ============================================\r\n      // AUTHENTICATION LOGIC (ROBUST + EXPIRATION)\r\n      // ============================================\r\n      const AUTH_KEY = \"chat_auth_v2\";\r\n      const AUTH_EXPIRY_MS = 12 * 60 * 60 * 1000; // 12 Hours\r\n\r\n      function checkAuth() {\r\n        // AUTO-LOGIN FOR SANDBOX (Dev/Restricted Environment)\r\n        // If storage is completely blocked, we can\u0027t persist auth, so we auto-login to avoid infinite login loops on reload.\r\n        if (!storage.isAvailable) {\r\n          console.warn(\r\n            \"⚠️ Sandbox mode detected: Persistence disabled. Auto-logging in for convenience.\",\r\n          );\r\n          toggleLoginState(true);\r\n          startApp();\r\n          return;\r\n        }\r\n\r\n        try {\r\n          const rawAuth = storage.get(AUTH_KEY);\r\n          if (!rawAuth) {\r\n            toggleLoginState(false);\r\n            return;\r\n          }\r\n\r\n          const authData = JSON.parse(rawAuth);\r\n          const now = Date.now();\r\n\r\n          // Check if expired\r\n          if (now \u003e authData.expiry) {\r\n            console.log(\"🔒 Session expired\");\r\n            storage.remove(AUTH_KEY);\r\n            toggleLoginState(false);\r\n          } else {\r\n            console.log(\r\n              \"🔓 Session valid until:\",\r\n              new Date(authData.expiry).toLocaleString(),\r\n            );\r\n            toggleLoginState(true);\r\n            startApp(); // ONLY START APP IF AUTH IS VALID\r\n          }\r\n        } catch (e) {\r\n          console.error(\"Auth verification failed:\", e);\r\n          // On error, force logout to be safe\r\n          storage.remove(AUTH_KEY);\r\n          toggleLoginState(false);\r\n        }\r\n      }\r\n\r\n      function toggleLoginState(isLoggedIn) {\r\n        if (isLoggedIn) {\r\n          elements.loginOverlay.style.display = \"none\";\r\n        } else {\r\n          elements.loginOverlay.style.display = \"flex\";\r\n          // Focus on username input when login shows\r\n          setTimeout(() =\u003e {\r\n            if (elements.usernameInput) elements.usernameInput.focus();\r\n          }, 100);\r\n        }\r\n      }\r\n\r\n      elements.loginForm.addEventListener(\"submit\", (e) =\u003e {\r\n        e.preventDefault();\r\n        const user = elements.usernameInput.value;\r\n        const pass = elements.passwordInput.value;\r\n\r\n        if (user === \"admin\" \u0026\u0026 pass === \"admin\") {\r\n          // Save Auth with Expiry\r\n          const authData = {\r\n            user: user,\r\n            token: \"valid\",\r\n            expiry: Date.now() + AUTH_EXPIRY_MS,\r\n          };\r\n          storage.set(AUTH_KEY, JSON.stringify(authData));\r\n\r\n          toggleLoginState(true);\r\n          elements.loginError.style.display = \"none\";\r\n\r\n          // FORCE RESET APP STATE FOR RELOAD\r\n          appStarted = false; // Reset flag to allow startApp to run again\r\n          startApp(); // START APP AFTER LOGIN\r\n        } else {\r\n          elements.loginError.style.display = \"block\";\r\n        }\r\n      });\r\n\r\n      elements.logoutBtn.addEventListener(\"click\", () =\u003e {\r\n        storage.remove(AUTH_KEY);\r\n        if (storage.isAvailable) {\r\n          window.location.reload();\r\n        } else {\r\n          // Sandbox mode: Reloading would trigger auto-login.\r\n          // So we manually \"logout\" the UI instead.\r\n          toggleLoginState(false);\r\n          if (elements.usernameInput) elements.usernameInput.value = \"\";\r\n          if (elements.passwordInput) elements.passwordInput.value = \"\";\r\n\r\n          // Clear sensitive data from view\r\n          clearChatArea();\r\n          elements.sessionList.innerHTML = \"\";\r\n          sessions = [];\r\n          currentSessionId = null;\r\n          appStarted = false; // Ensure we can start again\r\n        }\r\n      });\r\n\r\n      // Initialize Auth Check\r\n      checkAuth();\r\n\r\n      // WARN IF PERSISTENCE IS BLOCKED\r\n      setTimeout(() =\u003e {\r\n        if (!storage.isAvailable) {\r\n          // Changing warning to be less alarming since we have Auto-Login now\r\n          setStatus(\"ℹ️ Modo Sandbox: Login automático ativado.\", \"success\");\r\n        }\r\n      }, 1000);\r\n\r\n      // THEME LOGIC (Updated for cleaner handling)\r\n      function initTheme() {\r\n        const savedTheme = storage.get(\"theme\") || \"light\";\r\n        document.documentElement.setAttribute(\"data-theme\", savedTheme);\r\n        updateThemeIcon(savedTheme);\r\n      }\r\n\r\n      function toggleTheme() {\r\n        const current = document.documentElement.getAttribute(\"data-theme\");\r\n        const next = current === \"dark\" ? \"light\" : \"dark\";\r\n        document.documentElement.setAttribute(\"data-theme\", next);\r\n        storage.set(\"theme\", next);\r\n        updateThemeIcon(next);\r\n      }\r\n\r\n      function updateThemeIcon(theme) {\r\n        const icon = elements.themeToggleBtn.querySelector(\"i\");\r\n        // Remove old icon content\r\n        elements.themeToggleBtn.innerHTML = \"\";\r\n\r\n        // Re-add icon and text\r\n        if (theme === \"dark\") {\r\n          elements.themeToggleBtn.innerHTML = `\u003ci data-lucide=\"sun\" style=\"width: 14px; height: 14px;\"\u003e\u003c/i\u003e\u003cspan\u003eLight\u003c/span\u003e`;\r\n        } else {\r\n          elements.themeToggleBtn.innerHTML = `\u003ci data-lucide=\"moon\" style=\"width: 14px; height: 14px;\"\u003e\u003c/i\u003e\u003cspan\u003eDark\u003c/span\u003e`;\r\n        }\r\n        lucide.createIcons();\r\n      }\r\n\r\n      elements.themeToggleBtn.addEventListener(\"click\", toggleTheme);\r\n      initTheme(); // Run on start\r\n      // ============================================\r\n      // API FUNCTIONS\r\n      // ============================================\r\n      let healthCheckInterval = null;\r\n\r\n      function setOfflineState(isOffline) {\r\n        const statusContainer = document.querySelector(\".connection-status\");\r\n        const dot = document.querySelector(\".connection-dot\");\r\n        const text = statusContainer.querySelector(\"span\");\r\n\r\n        if (!statusContainer || !dot || !text) return;\r\n\r\n        if (isOffline) {\r\n          text.textContent = \"Offline\";\r\n          statusContainer.style.color = \"#f44336\";\r\n          statusContainer.style.background = \"rgba(244, 67, 54, 0.1)\";\r\n          statusContainer.style.borderColor = \"rgba(244, 67, 54, 0.2)\";\r\n          dot.style.background = \"#f44336\";\r\n          dot.style.boxShadow = \"0 0 5px #f44336\";\r\n          dot.style.animation = \"none\";\r\n\r\n          // Inicia o polling apenas se entrar em estado offline e já não estiver testando\r\n          if (!healthCheckInterval) {\r\n            healthCheckInterval = setInterval(checkHealth, 10000); // 10 segundos\r\n          }\r\n        } else {\r\n          text.textContent = \"Online\";\r\n          statusContainer.style.color = \"#4CAF50\";\r\n          statusContainer.style.background = \"rgba(76, 175, 80, 0.1)\";\r\n          statusContainer.style.borderColor = \"rgba(76, 175, 80, 0.2)\";\r\n          dot.style.background = \"#4CAF50\";\r\n          dot.style.boxShadow = \"0 0 5px #4CAF50\";\r\n          dot.style.animation = \"pulse 2s infinite\";\r\n\r\n          // Se voltar a ficar online, desliga o polling automático\r\n          if (healthCheckInterval) {\r\n            clearInterval(healthCheckInterval);\r\n            healthCheckInterval = null;\r\n          }\r\n        }\r\n      }\r\n\r\n      async function checkHealth() {\r\n        try {\r\n          const response = await fetch(HEALTH_URL, { cache: \"no-store\" });\r\n          if (!response.ok) {\r\n            setOfflineState(true);\r\n            return;\r\n          }\r\n          const data = await response.json();\r\n          if (data \u0026\u0026 data.status === \"ok\") {\r\n            setOfflineState(false);\r\n          } else {\r\n            setOfflineState(true);\r\n          }\r\n        } catch (error) {\r\n          setOfflineState(true);\r\n        }\r\n      }\r\n\r\n      // Interceptador global do fetch para monitorar erros de API sem precisar de polling constante\r\n      const originalFetch = window.fetch;\r\n      window.fetch = async function (...args) {\r\n        let url = \"\";\r\n        if (typeof args[0] === \"string\") {\r\n          url = args[0];\r\n        } else if (args[0] \u0026\u0026 args[0].url) {\r\n          url = args[0].url;\r\n        }\r\n\r\n        try {\r\n          const response = await originalFetch(...args);\r\n          // Não intercepta os health checks para não causar loop\r\n          if (url.startsWith(API_BASE) \u0026\u0026 !url.includes(\"aspiramaq_health\")) {\r\n            if (response.ok) {\r\n              setOfflineState(false);\r\n            } else if (response.status \u003e= 500) {\r\n              // Respostas 500+ costumam significar que o backend caiu\r\n              setOfflineState(true);\r\n            }\r\n          }\r\n          return response;\r\n        } catch (error) {\r\n          if (url.startsWith(API_BASE) \u0026\u0026 !url.includes(\"aspiramaq_health\")) {\r\n            if (error.name !== \"AbortError\") {\r\n              setOfflineState(true);\r\n            }\r\n          }\r\n          throw error;\r\n        }\r\n      };\r\n\r\n      async function fetchSessions() {\r\n        try {\r\n          console.log(\"🔍 Fetching sessions from:\", SESSIONS_URL);\r\n          const response = await fetch(SESSIONS_URL, { cache: \"no-store\" });\r\n          console.log(\"📡 Response status:\", response.status);\r\n\r\n          if (!response.ok) {\r\n            console.error(\"❌ Response not OK:\", await response.text());\r\n            throw new Error(\"Failed to fetch sessions\");\r\n          }\r\n\r\n          const text = await response.text();\r\n          if (!text || text.trim().length === 0) {\r\n            return [];\r\n          }\r\n\r\n          let data;\r\n          try {\r\n            data = JSON.parse(text);\r\n          } catch (e) {\r\n            console.error(\"❌ Failed to parse sessions JSON:\", text);\r\n            return [];\r\n          }\r\n\r\n          console.log(\"📊 Sessions received:\", data);\r\n          // Se retornar objeto único, converte para array\r\n          if (data \u0026\u0026 !Array.isArray(data)) {\r\n            console.log(\"⚠️ Converting single object to array\");\r\n            return [data];\r\n          }\r\n          return Array.isArray(data) ? data : [];\r\n        } catch (error) {\r\n          console.error(\"❌ Error fetching sessions:\", error);\r\n          return [];\r\n        }\r\n      }\r\n      async function fetchHistory(sessionId) {\r\n        try {\r\n          console.log(\"📜 Fetching history for session:\", sessionId);\r\n          const response = await fetch(`${HISTORY_URL}?sessionId=${sessionId}`);\r\n          if (!response.ok) throw new Error(\"Failed to fetch history\");\r\n\r\n          const text = await response.text();\r\n          // Handle empty response\r\n          if (!text || text.trim().length === 0) {\r\n            return [];\r\n          }\r\n\r\n          let data;\r\n          try {\r\n            data = JSON.parse(text);\r\n          } catch (e) {\r\n            console.error(\"❌ Failed to parse history JSON:\", text);\r\n            return [];\r\n          }\r\n\r\n          console.log(\"✅ History loaded:\", data);\r\n\r\n          // Processar dados que podem vir em diferentes formatos\r\n          return data.map((item) =\u003e {\r\n            let processedItem = item;\r\n\r\n            // Se vier no formato JSONB {message: {type, content}}\r\n            if (item.message) {\r\n              processedItem = {\r\n                id: item.id, // Preserve ID from DB\r\n                role: item.message.type === \"human\" ? \"user\" : \"assistant\",\r\n                content: item.message.content || \"\",\r\n                timestamp:\r\n                  item.created_at || item.message.timestamp || item.timestamp,\r\n              };\r\n            }\r\n\r\n            // DETECT FILE UPLOAD PATTERN to restore File Icon\r\n            // Pattern: \"Enviando arquivo: filename.ext\"\r\n            const legacyMatch =\r\n              processedItem.content \u0026\u0026\r\n              processedItem.content.match(/^Enviando arquivo: (.+)$/);\r\n            const newMatch =\r\n              processedItem.content \u0026\u0026\r\n              processedItem.content.match(\r\n                /^Arquivo (.+) enviado para análise\\.$/,\r\n              );\r\n\r\n            if ((legacyMatch || newMatch) \u0026\u0026 processedItem.role === \"user\") {\r\n              processedItem.file = newMatch ? newMatch[1] : legacyMatch[1];\r\n              // Optional: Keep content as is or clear it if you only want the icon\r\n            }\r\n\r\n            return processedItem;\r\n          });\r\n        } catch (error) {\r\n          console.error(\"Error fetching history:\", error);\r\n          return [];\r\n        }\r\n      }\r\n      async function deleteSession(sessionId) {\r\n        try {\r\n          const response = await fetch(`${DELETE_URL}?sessionId=${sessionId}`, {\r\n            method: \"DELETE\",\r\n          });\r\n          if (!response.ok) throw new Error(\"Failed to delete session\");\r\n          return true;\r\n        } catch (error) {\r\n          console.error(\"Error deleting session:\", error);\r\n          return false;\r\n        }\r\n      }\r\n      async function resetRagDatabase() {\r\n        try {\r\n          const response = await fetch(RESET_URL, {\r\n            method: \"POST\",\r\n          });\r\n\r\n          if (!response.ok) throw new Error(\"Failed to reset database\");\r\n\r\n          const text = await response.text();\r\n          if (!text || text.trim().length === 0) {\r\n            // Empty success response\r\n            return {\r\n              status: \"success\",\r\n              message: \"Resetado com sucesso (Sem retorno do servidor)\",\r\n            };\r\n          }\r\n\r\n          try {\r\n            return JSON.parse(text);\r\n          } catch (e) {\r\n            console.warn(\"⚠️ Reset returned non-JSON:\", text);\r\n            return { status: \"success\", message: \"Resetado com sucesso!\" }; // Assume success if 200 OK\r\n          }\r\n        } catch (error) {\r\n          console.error(\"Error resetting database:\", error);\r\n          return null;\r\n        }\r\n      }\r\n      async function sendMessage(message, sessionId) {\r\n        abortController = new AbortController();\r\n        try {\r\n          const response = await fetch(CHAT_URL, {\r\n            method: \"POST\",\r\n            headers: { \"Content-Type\": \"application/json\" },\r\n            body: JSON.stringify({\r\n              chatInput: message,\r\n              sessionId: sessionId,\r\n            }),\r\n            signal: abortController.signal,\r\n          });\r\n          if (!response.ok) throw new Error(\"Failed to send message\");\r\n          const data = await response.json();\r\n          return data.output || data.message || \"Resposta recebida\";\r\n        } catch (error) {\r\n          if (error.name === \"AbortError\") {\r\n            console.log(\"⏹️ Geração cancelada pelo usuário\");\r\n            return \"Geração cancelada.\";\r\n          }\r\n          console.error(\"Error sending message:\", error);\r\n          return \"Desculpe, ocorreu um erro ao processar sua mensagem.\";\r\n        } finally {\r\n          abortController = null;\r\n        }\r\n      }\r\n\r\n      async function sendQuickReply(label) {\r\n        if (isLoading) return;\r\n        renderMessage({ role: \"user\", content: label });\r\n        setLoading(true);\r\n        showTypingIndicator();\r\n        const response = await sendMessage(label, currentSessionId);\r\n        hideTypingIndicator();\r\n        if (response !== \"Geração cancelada.\") {\r\n          renderMessage({ role: \"assistant\", content: response });\r\n        }\r\n        setLoading(false);\r\n      }\r\n      // ============================================\r\n      // UI FUNCTIONS\r\n      // ============================================\r\n      function generateUUID() {\r\n        return \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(\r\n          /[xy]/g,\r\n          function (c) {\r\n            const r = (Math.random() * 16) | 0;\r\n            const v = c === \"x\" ? r : (r \u0026 0x3) | 0x8;\r\n            return v.toString(16);\r\n          },\r\n        );\r\n      }\r\n      function formatDate(dateString) {\r\n        const date = new Date(dateString);\r\n        const now = new Date();\r\n        const diffInHours = (now - date) / (1000 * 60 * 60);\r\n        if (diffInHours \u003c 24) {\r\n          return date.toLocaleTimeString(\"pt-BR\", {\r\n            hour: \"2-digit\",\r\n            minute: \"2-digit\",\r\n          });\r\n        } else if (diffInHours \u003c 48) {\r\n          return \"Ontem\";\r\n        } else {\r\n          return date.toLocaleDateString(\"pt-BR\", {\r\n            day: \"2-digit\",\r\n            month: \"2-digit\",\r\n          });\r\n        }\r\n      }\r\n      function renderSessionList() {\r\n        elements.sessionList.innerHTML = \"\";\r\n        if (sessions.length === 0) {\r\n          elements.sessionList.innerHTML =\r\n            \u0027\u003cdiv style=\"color: #999; text-align: center; padding: 20px; font-size: 12px;\"\u003eNenhuma conversa ainda\u003c/div\u003e\u0027;\r\n          return;\r\n        }\r\n        sessions.forEach((session) =\u003e {\r\n          const sessionDiv = document.createElement(\"div\");\r\n          sessionDiv.className = \"session-item\";\r\n          if (session.session_id === currentSessionId) {\r\n            sessionDiv.classList.add(\"active\");\r\n          }\r\n\r\n          // Extrair titulo corretamente do objeto JSONB\r\n          let titulo = \"Nova conversa\";\r\n          if (session.titulo) {\r\n            if (typeof session.titulo === \"object\" \u0026\u0026 session.titulo.content) {\r\n              titulo = session.titulo.content;\r\n            } else if (typeof session.titulo === \"string\") {\r\n              titulo = session.titulo;\r\n            }\r\n          }\r\n\r\n          sessionDiv.innerHTML = `\r\n\u003cdiv class=\"session-content\"\u003e\r\n\u003cdiv class=\"session-title\"\u003e${titulo}\u003c/div\u003e\r\n\u003cdiv class=\"session-date\"\u003e${formatDate(session.data_inicio)}\u003c/div\u003e\r\n\u003c/div\u003e\r\n\u003cbutton class=\"delete-btn\" onclick=\"handleDeleteSession(\u0027${session.session_id}\u0027, event)\"\u003e\r\n\u003ci data-lucide=\"x\"\u003e\u003c/i\u003e\r\n\u003c/button\u003e\r\n`;\r\n          sessionDiv.addEventListener(\"click\", (e) =\u003e {\r\n            if (!e.target.classList.contains(\"delete-btn\")) {\r\n              loadSession(session.session_id);\r\n            }\r\n          });\r\n          elements.sessionList.appendChild(sessionDiv);\r\n        });\r\n        lucide.createIcons();\r\n      }\r\n      // EDIT MODE FUNCTIONS\r\n      function startEdit(messageDiv, content) {\r\n        isEditing = true;\r\n        elements.messageInput.value = content;\r\n        elements.messageInput.focus();\r\n\r\n        // Adjust input height\r\n        elements.messageInput.style.height = \"auto\";\r\n        elements.messageInput.style.height =\r\n          elements.messageInput.scrollHeight + \"px\";\r\n\r\n        // Show cancel button\r\n        cancelEditBtn.style.display = \"flex\";\r\n\r\n        // Mark validation: we need to prune history from this point\r\n        const msgId = messageDiv.getAttribute(\"data-id\");\r\n        const msgTimestamp = messageDiv.getAttribute(\"data-timestamp\");\r\n\r\n        elements.inputForm.dataset.editingId = msgId || msgTimestamp;\r\n        elements.inputForm.dataset.editingType = msgId ? \"id\" : \"timestamp\";\r\n\r\n        setStatus(\"Editando mensagem...\", \"warning\");\r\n      }\r\n\r\n      function cancelEdit() {\r\n        if (!isEditing) return;\r\n\r\n        isEditing = false;\r\n        elements.messageInput.value = \"\";\r\n        elements.messageInput.style.height = \"auto\";\r\n        cancelEditBtn.style.display = \"none\";\r\n        elements.inputForm.removeAttribute(\"data-editingId\");\r\n        setStatus(\"\");\r\n      }\r\n\r\n      async function pruneHistoryFrom(identifier) {\r\n        // Identifier can be ID (int) or timestamp (long int)\r\n        const type = elements.inputForm.dataset.editingType || \"timestamp\";\r\n        const value = parseInt(identifier);\r\n        if (!value) return;\r\n\r\n        let targetMsg;\r\n        if (type === \"id\") {\r\n          targetMsg = Array.from(elements.messagesContainer.children).find(\r\n            (m) =\u003e m.getAttribute(\"data-id\") == value,\r\n          );\r\n        } else {\r\n          targetMsg = Array.from(elements.messagesContainer.children).find(\r\n            (m) =\u003e m.getAttribute(\"data-timestamp\") == value,\r\n          );\r\n        }\r\n\r\n        // 1. UI Pruning\r\n        if (targetMsg) {\r\n          let current = targetMsg;\r\n          while (current) {\r\n            const next = current.nextElementSibling;\r\n            current.remove();\r\n            current = next;\r\n          }\r\n        }\r\n\r\n        // 2. Backend Pruning\r\n        if (currentSessionId \u0026\u0026 type === \"id\") {\r\n          console.log(\r\n            `🧹 Pruning backend history (ID):`,\r\n            currentSessionId,\r\n            value,\r\n          );\r\n          try {\r\n            const payload = {\r\n              sessionId: currentSessionId,\r\n              id: value,\r\n            };\r\n\r\n            await fetch(PRUNE_URL, {\r\n              method: \"POST\",\r\n              body: JSON.stringify(payload),\r\n              headers: { \"Content-Type\": \"application/json\" },\r\n            });\r\n          } catch (e) {\r\n            console.error(\"Prune error:\", e);\r\n          }\r\n        } else if (type !== \"id\") {\r\n          console.warn(\r\n            \"⚠️ Cannot prune backend history without Message ID (Optimistic message). Reload to sync IDs.\",\r\n          );\r\n        }\r\n      }\r\n\r\n      function renderMessage(message) {\r\n        hideEmptyState(); // Ensure empty state is gone\r\n        console.log(\"🖼️ Rendering message:\", message);\r\n        const messageDiv = document.createElement(\"div\");\r\n        messageDiv.className = `message ${message.role}`;\r\n        if (message.id) messageDiv.setAttribute(\"data-id\", message.id);\r\n\r\n        // Store timestamp for Edit logic (default to now if missing)\r\n        const timestamp = message.timestamp\r\n          ? new Date(message.timestamp).getTime()\r\n          : Date.now();\r\n        messageDiv.setAttribute(\"data-timestamp\", timestamp);\r\n\r\n        const avatarDiv = document.createElement(\"div\");\r\n        avatarDiv.className = \"message-avatar\";\r\n\r\n        if (message.role === \"user\") {\r\n          avatarDiv.innerHTML = \u0027\u003ci data-lucide=\"user\"\u003e\u003c/i\u003e\u0027;\r\n        } else {\r\n          avatarDiv.innerHTML = \u0027\u003ci data-lucide=\"bot\"\u003e\u003c/i\u003e\u0027;\r\n        }\r\n\r\n        const content = document.createElement(\"div\");\r\n        content.className = \"message-content\";\r\n\r\n        // Renderizar conteúdo\r\n        let editBtn = null;\r\n\r\n        if (message.role === \"assistant\") {\r\n          // Extract quick replies block: \u003c!--QUICK_REPLIES:[...]--\u003e\r\n          let rawContent = message.content || \"\";\r\n          let quickReplies = null;\r\n          let quickForm = null;\r\n\r\n          const qrMatch = rawContent.match(\r\n            /\u003c!--\\s*QUICK_REPLIES\\s*:\\s*(\\[[\\s\\S]*?\\])\\s*--\u003e/i,\r\n          );\r\n          if (qrMatch) {\r\n            try {\r\n              const parsed = JSON.parse(qrMatch[1]);\r\n              if (Array.isArray(parsed) \u0026\u0026 parsed.length \u003e 0) {\r\n                quickReplies = parsed.filter(\r\n                  (x) =\u003e typeof x === \"string\" \u0026\u0026 x.trim().length \u003e 0,\r\n                );\r\n              }\r\n            } catch (e) {\r\n              console.warn(\"Quick replies parse failed:\", e);\r\n            }\r\n            rawContent = rawContent.replace(qrMatch[0], \"\").trim();\r\n          }\r\n\r\n          // Extract quick form block: \u003c!--QUICK_FORM:[{...}]--\u003e\r\n          const qfMatch = rawContent.match(\r\n            /\u003c!--\\s*QUICK_FORM\\s*:\\s*(\\[[\\s\\S]*?\\])\\s*--\u003e/i,\r\n          );\r\n          if (qfMatch) {\r\n            try {\r\n              const parsed = JSON.parse(qfMatch[1]);\r\n              if (Array.isArray(parsed) \u0026\u0026 parsed.length \u003e 0) {\r\n                quickForm = parsed.filter(\r\n                  (x) =\u003e x \u0026\u0026 typeof x === \"object\" \u0026\u0026 typeof x.q === \"string\",\r\n                );\r\n              }\r\n            } catch (e) {\r\n              console.warn(\"Quick form parse failed:\", e);\r\n            }\r\n            rawContent = rawContent.replace(qfMatch[0], \"\").trim();\r\n          }\r\n\r\n          content.innerHTML = marked.parse(rawContent);\r\n\r\n          // Aplica classes de cor nas seções H2 com base no emoji\r\n          content.querySelectorAll(\"h2\").forEach((h) =\u003e {\r\n            const t = (h.textContent || \"\").trim();\r\n            if (/^✅|^✔|^✓/.test(t)) h.classList.add(\"sec-spec\");\r\n            else if (/^⚠|^❌|^🚫/.test(t)) h.classList.add(\"sec-warn\");\r\n            else if (/^🧮|^📊|^🔢|^🏢|^📋/.test(t)) h.classList.add(\"sec-info\");\r\n            else if (/^🧾|^➡|^👉|^🚀|^🎯/.test(t)) h.classList.add(\"sec-cta\");\r\n          });\r\n\r\n          // Force new tab for links\r\n          content.querySelectorAll(\"a\").forEach((link) =\u003e {\r\n            link.setAttribute(\"target\", \"_blank\");\r\n            link.setAttribute(\"rel\", \"noopener noreferrer\");\r\n          });\r\n\r\n          // Render quick form (multi-question, single submit)\r\n          if (quickForm \u0026\u0026 quickForm.length \u003e 0) {\r\n            const formDiv = document.createElement(\"div\");\r\n            formDiv.className = \"quick-form\";\r\n\r\n            const state = quickForm.map((item) =\u003e ({\r\n              q: item.q,\r\n              value: \"\",\r\n              options: Array.isArray(item.options) ? item.options : null,\r\n            }));\r\n\r\n            quickForm.forEach((item, idx) =\u003e {\r\n              const itemDiv = document.createElement(\"div\");\r\n              itemDiv.className = \"qf-item\";\r\n\r\n              const qLabel = document.createElement(\"div\");\r\n              qLabel.className = \"qf-q\";\r\n              qLabel.textContent = `${idx + 1}. ${item.q}`;\r\n              itemDiv.appendChild(qLabel);\r\n\r\n              const textInput = document.createElement(\"input\");\r\n              textInput.type = \"text\";\r\n              textInput.className = \"qf-input\";\r\n              textInput.placeholder =\r\n                item.placeholder || \"Digite a resposta ou clique numa opção\";\r\n              textInput.addEventListener(\"input\", (e) =\u003e {\r\n                state[idx].value = e.target.value;\r\n                // Deselect chips if user types something different\r\n                if (state[idx].options) {\r\n                  itemDiv\r\n                    .querySelectorAll(\".quick-reply-chip\")\r\n                    .forEach((c) =\u003e {\r\n                      if (c.textContent !== e.target.value) {\r\n                        c.classList.remove(\"selected\");\r\n                      }\r\n                    });\r\n                }\r\n              });\r\n              itemDiv.appendChild(textInput);\r\n\r\n              if (state[idx].options) {\r\n                const chipsDiv = document.createElement(\"div\");\r\n                chipsDiv.className = \"qf-chips\";\r\n                state[idx].options.forEach((opt) =\u003e {\r\n                  const chip = document.createElement(\"button\");\r\n                  chip.type = \"button\";\r\n                  chip.className = \"quick-reply-chip\";\r\n                  chip.textContent = opt;\r\n                  chip.onclick = () =\u003e {\r\n                    chipsDiv\r\n                      .querySelectorAll(\".quick-reply-chip\")\r\n                      .forEach((c) =\u003e c.classList.remove(\"selected\"));\r\n                    chip.classList.add(\"selected\");\r\n                    state[idx].value = opt;\r\n                    textInput.value = opt;\r\n                  };\r\n                  chipsDiv.appendChild(chip);\r\n                });\r\n                itemDiv.appendChild(chipsDiv);\r\n              }\r\n\r\n              formDiv.appendChild(itemDiv);\r\n            });\r\n\r\n            const submitBtn = document.createElement(\"button\");\r\n            submitBtn.type = \"button\";\r\n            submitBtn.className = \"qf-submit\";\r\n            submitBtn.textContent = \"Enviar respostas\";\r\n            submitBtn.onclick = () =\u003e {\r\n              const lines = state\r\n                .map((s, i) =\u003e {\r\n                  const v = (s.value || \"\").trim() || \"Não sei\";\r\n                  return `${i + 1}. ${s.q}\\n   → ${v}`;\r\n                })\r\n                .join(\"\\n\\n\");\r\n              const compiled = `📋 Respostas do formulário:\\n\\n${lines}`;\r\n              // Lock the form after submit\r\n              formDiv\r\n                .querySelectorAll(\"input, button\")\r\n                .forEach((el) =\u003e (el.disabled = true));\r\n              submitBtn.textContent = \"Enviado\";\r\n              if (typeof sendQuickReply === \"function\") {\r\n                sendQuickReply(compiled);\r\n              } else {\r\n                elements.messageInput.value = compiled;\r\n                elements.inputForm.requestSubmit();\r\n              }\r\n            };\r\n            formDiv.appendChild(submitBtn);\r\n\r\n            content.appendChild(formDiv);\r\n          }\r\n\r\n          // Render single quick reply chips (only if no form)\r\n          if (!quickForm \u0026\u0026 quickReplies \u0026\u0026 quickReplies.length \u003e 0) {\r\n            const chipsDiv = document.createElement(\"div\");\r\n            chipsDiv.className = \"quick-replies\";\r\n            quickReplies.forEach((label) =\u003e {\r\n              const chip = document.createElement(\"button\");\r\n              chip.type = \"button\";\r\n              chip.className = \"quick-reply-chip\";\r\n              chip.textContent = label;\r\n              chip.onclick = () =\u003e {\r\n                // Disable all chips in this message after one is picked\r\n                chipsDiv\r\n                  .querySelectorAll(\".quick-reply-chip\")\r\n                  .forEach((c) =\u003e (c.disabled = true));\r\n                chip.classList.add(\"selected\");\r\n                if (typeof sendQuickReply === \"function\") {\r\n                  sendQuickReply(label);\r\n                } else {\r\n                  elements.messageInput.value = label;\r\n                  elements.inputForm.requestSubmit();\r\n                }\r\n              };\r\n              chipsDiv.appendChild(chip);\r\n            });\r\n            content.appendChild(chipsDiv);\r\n          }\r\n        } else {\r\n          // Se for arquivo, NÃO mostra texto nem botão de editar\r\n          if (message.file) {\r\n            // Conteúdo de texto oculto para arquivos, mostra só o pill abaixo\r\n          } else {\r\n            content.textContent = message.content || \"\";\r\n\r\n            // ADD EDIT BUTTON FOR USER (Always allow edit)\r\n            editBtn = document.createElement(\"button\");\r\n            editBtn.className = \"btn-edit\";\r\n            editBtn.innerHTML =\r\n              \u0027\u003ci data-lucide=\"pencil\" style=\"width: 14px; height: 14px;\"\u003e\u003c/i\u003e\u0027;\r\n            editBtn.onclick = () =\u003e {\r\n              startEdit(messageDiv, message.content);\r\n            };\r\n          }\r\n        }\r\n\r\n        // Add file attachment if present\r\n        if (message.file) {\r\n          const fileDiv = document.createElement(\"div\");\r\n          fileDiv.className = \"file-attachment\";\r\n          fileDiv.innerHTML = `\u003ci data-lucide=\"file\"\u003e\u003c/i\u003e\u003cspan\u003e${message.file}\u003c/span\u003e`;\r\n          content.appendChild(fileDiv);\r\n        }\r\n\r\n        if (message.role === \"assistant\") {\r\n          // Avatar first for assistant\r\n          messageDiv.appendChild(avatarDiv);\r\n          messageDiv.appendChild(content);\r\n        } else {\r\n          // User: Avatar last (handled by flex-row-reverse), content first\r\n          // Fix for flex-row-reverse:\r\n          // 1. Avatar (Visually Right) -\u003e Append First\r\n          // 2. Content (Visually Center) -\u003e Append Second\r\n          // 3. EditBtn (Visually Left) -\u003e Append Last\r\n          messageDiv.appendChild(avatarDiv);\r\n          messageDiv.appendChild(content);\r\n          if (editBtn) {\r\n            messageDiv.appendChild(editBtn);\r\n          }\r\n        }\r\n\r\n        elements.messagesContainer.appendChild(messageDiv);\r\n        elements.messagesContainer.scrollTop =\r\n          elements.messagesContainer.scrollHeight;\r\n        lucide.createIcons();\r\n      }\r\n      function clearChatArea() {\r\n        elements.messagesContainer.innerHTML = \"\";\r\n        showEmptyState();\r\n      }\r\n\r\n      function showEmptyState() {\r\n        if (elements.emptyState) {\r\n          elements.emptyState.classList.add(\"show\");\r\n          elements.messagesContainer.style.display = \"none\";\r\n          lucide.createIcons();\r\n        }\r\n      }\r\n\r\n      function hideEmptyState() {\r\n        if (elements.emptyState) {\r\n          elements.emptyState.classList.remove(\"show\");\r\n          elements.messagesContainer.style.display = \"block\";\r\n        }\r\n      }\r\n\r\n      // Helper functions for loading states\r\n      function showSkeletonSessions() {\r\n        elements.sessionList.innerHTML = \"\";\r\n        for (let i = 0; i \u003c 3; i++) {\r\n          const skeletonDiv = document.createElement(\"div\");\r\n          skeletonDiv.className = \"skeleton-session\";\r\n          skeletonDiv.innerHTML = `\r\n\u003cdiv class=\"skeleton skeleton-session-title\"\u003e\u003c/div\u003e\r\n\u003cdiv class=\"skeleton skeleton-session-date\"\u003e\u003c/div\u003e\r\n`;\r\n          elements.sessionList.appendChild(skeletonDiv);\r\n        }\r\n      }\r\n\r\n      function showSkeletonMessages() {\r\n        hideEmptyState(); // Ensure empty state is hidden so skeletons show\r\n        elements.messagesContainer.innerHTML = \"\";\r\n        for (let i = 0; i \u003c 3; i++) {\r\n          const skeletonDiv = document.createElement(\"div\");\r\n          skeletonDiv.className = \"skeleton-message\";\r\n          skeletonDiv.innerHTML = `\r\n\u003cdiv class=\"skeleton skeleton-avatar\"\u003e\u003c/div\u003e\r\n\u003cdiv class=\"skeleton-content\"\u003e\r\n\u003cdiv class=\"skeleton skeleton-text\"\u003e\u003c/div\u003e\r\n\u003cdiv class=\"skeleton skeleton-text\"\u003e\u003c/div\u003e\r\n\u003cdiv class=\"skeleton skeleton-text\"\u003e\u003c/div\u003e\r\n\u003c/div\u003e\r\n`;\r\n          elements.messagesContainer.appendChild(skeletonDiv);\r\n        }\r\n      }\r\n\r\n      function showTypingIndicator() {\r\n        const typingDiv = document.createElement(\"div\");\r\n        typingDiv.className = \"typing-indicator\";\r\n        typingDiv.id = \"typingIndicator\";\r\n        typingDiv.innerHTML = `\r\n\u003cdiv class=\"message-avatar\"\u003e\r\n\u003ci data-lucide=\"bot\"\u003e\u003c/i\u003e\r\n\u003c/div\u003e\r\n\u003cdiv class=\"typing-dots\"\u003e\r\n\u003cspan\u003e\u003c/span\u003e\r\n\u003cspan\u003e\u003c/span\u003e\r\n\u003cspan\u003e\u003c/span\u003e\r\n\u003c/div\u003e\r\n`;\r\n        elements.messagesContainer.appendChild(typingDiv);\r\n        elements.messagesContainer.scrollTop =\r\n          elements.messagesContainer.scrollHeight;\r\n        lucide.createIcons();\r\n      }\r\n\r\n      function hideTypingIndicator() {\r\n        const typingIndicator = document.getElementById(\"typingIndicator\");\r\n        if (typingIndicator) {\r\n          typingIndicator.remove();\r\n        }\r\n      }\r\n\r\n      function setLoading(loading) {\r\n        isLoading = loading;\r\n        const sendBtnIcon = elements.sendBtn.querySelector(\"i\");\r\n\r\n        // Toggle Stop Button Logic\r\n        if (loading) {\r\n          elements.sendBtn.innerHTML = \"\";\r\n          const stopIcon = document.createElement(\"i\");\r\n          stopIcon.setAttribute(\"data-lucide\", \"square\");\r\n          stopIcon.style.fill = \"white\";\r\n          elements.sendBtn.appendChild(stopIcon);\r\n          elements.sendBtn.style.backgroundColor = \"var(--text-secondary)\";\r\n          elements.sendBtn.title = \"Parar Geração\";\r\n        } else {\r\n          elements.sendBtn.innerHTML = \u0027\u003ci data-lucide=\"send\"\u003e\u003c/i\u003e\u0027;\r\n          elements.sendBtn.style.backgroundColor = \"\";\r\n          elements.sendBtn.title = \"Enviar\";\r\n        }\r\n        lucide.createIcons();\r\n\r\n        // Visual loading state on container\r\n        elements.loading.classList.toggle(\"show\", loading);\r\n\r\n        // Disable Interactive Elements (EXCEPT sendBtn which is now Stop)\r\n        const interactiveElements = [\r\n          elements.messageInput,\r\n          elements.resetRagBtn,\r\n          elements.themeToggleBtn,\r\n          elements.logoutBtn,\r\n          elements.attachBtn,\r\n          elements.fileInput,\r\n          elements.newChatBtn,\r\n        ];\r\n\r\n        interactiveElements.forEach((el) =\u003e {\r\n          if (el) el.disabled = loading;\r\n        });\r\n\r\n        // Specific Feedback for Reset Button if that\u0027s the action\r\n        if (pendingAction === \"resetProcessing\") {\r\n          if (loading \u0026\u0026 elements.resetRagBtn) {\r\n            elements.resetRagBtn.innerHTML = `\u003ci data-lucide=\"loader-2\" class=\"animate-spin\" style=\"width:12px; height:12px;\"\u003e\u003c/i\u003e\u003cspan\u003eResetando...\u003c/span\u003e`;\r\n          } else if (!loading \u0026\u0026 elements.resetRagBtn) {\r\n            elements.resetRagBtn.innerHTML = `\u003ci data-lucide=\"database-backup\" style=\"width:12px; height:12px;\"\u003e\u003c/i\u003e\u003cspan\u003eResetar\u003c/span\u003e`;\r\n            pendingAction = null;\r\n          }\r\n          lucide.createIcons();\r\n        }\r\n\r\n        // Cursor feedback\r\n        document.body.style.cursor = loading ? \"wait\" : \"default\";\r\n      }\r\n\r\n      function setStatus(message, type = \"\") {\r\n        elements.statusMessage.textContent = message;\r\n        elements.statusMessage.style.color =\r\n          type === \"error\"\r\n            ? \"#d32f2f\"\r\n            : type === \"success\"\r\n              ? \"#388e3c\"\r\n              : \"#7A1818\";\r\n        setTimeout(() =\u003e (elements.statusMessage.textContent = \"\"), 3000);\r\n      }\r\n      // ============================================\r\n      // EVENT HANDLERS\r\n      // ============================================\r\n      // Global variable for pending delete or action\r\n      let pendingAction = null; // \u0027delete\u0027 or \u0027reset\u0027\r\n\r\n      let sessionToDeleteId = null;\r\n\r\n      function showConfirmModal(type, sessionId = null) {\r\n        const titleEl = elements.confirmModal.querySelector(\".confirm-title\");\r\n        const textEl = elements.confirmModal.querySelector(\".confirm-text\");\r\n        const confirmBtn = elements.confirmDeleteBtn;\r\n\r\n        if (type === \"delete\") {\r\n          pendingAction = \"delete\";\r\n          sessionToDeleteId = sessionId;\r\n          titleEl.textContent = \"Excluir conversa\";\r\n          textEl.textContent =\r\n            \"Tem certeza que deseja excluir esta conversa permanentemente? Esta ação não pode ser desfeita.\";\r\n          confirmBtn.textContent = \"Excluir\";\r\n          confirmBtn.style.background = \"var(--color-primary)\";\r\n        } else if (type === \"reset\") {\r\n          pendingAction = \"reset\";\r\n          titleEl.textContent = \"Resetar Memória RAG\";\r\n          textEl.textContent =\r\n            \"Tem certeza que deseja limpar e recriar o banco de dados vetorial? Isso apagará o conhecimento atual.\";\r\n          confirmBtn.textContent = \"Resetar\";\r\n          confirmBtn.style.background = \"#d32f2f\"; // Warning color\r\n        }\r\n\r\n        elements.confirmModal.style.display = \"flex\";\r\n      }\r\n\r\n      function hideDeleteModal() {\r\n        pendingAction = null;\r\n        sessionToDeleteId = null;\r\n        elements.confirmModal.style.display = \"none\";\r\n      }\r\n\r\n      // Event Listeners for Modal\r\n      elements.cancelDeleteBtn.addEventListener(\"click\", hideDeleteModal);\r\n\r\n      elements.confirmDeleteBtn.addEventListener(\"click\", async () =\u003e {\r\n        if (pendingAction === \"delete\" \u0026\u0026 sessionToDeleteId) {\r\n          // Feedback visual\r\n          const originalText = elements.confirmDeleteBtn.textContent;\r\n          elements.confirmDeleteBtn.textContent = \"Excluindo...\";\r\n          elements.confirmDeleteBtn.disabled = true;\r\n\r\n          try {\r\n            const success = await deleteSession(sessionToDeleteId);\r\n            if (success) {\r\n              // 1. Refresh list from server (removes deleted, updates order)\r\n              sessions = await fetchSessions();\r\n\r\n              // 2. Check if we deleted the current session\r\n              if (currentSessionId === sessionToDeleteId) {\r\n                if (sessions.length \u003e 0) {\r\n                  // Switch to the most recent (first) session\r\n                  renderSessionList(); // Update list first\r\n                  loadSession(sessions[0].session_id);\r\n                } else {\r\n                  // No sessions left -\u003e Start New Chat\r\n                  startNewChat();\r\n                }\r\n              } else {\r\n                // We deleted a background session -\u003e Just update list\r\n                renderSessionList();\r\n              }\r\n            } else {\r\n              setStatus(\"Erro ao excluir conversa.\", \"error\");\r\n            }\r\n          } catch (e) {\r\n            console.error(\"Delete handler error:\", e);\r\n            setStatus(\"Erro inesperado ao excluir.\", \"error\");\r\n          } finally {\r\n            hideDeleteModal();\r\n            // Restore button\r\n            elements.confirmDeleteBtn.textContent = originalText;\r\n            elements.confirmDeleteBtn.disabled = false;\r\n          }\r\n        } else if (pendingAction === \"reset\") {\r\n          hideDeleteModal();\r\n\r\n          // Set special state so setLoading knows to update the Reset Button UI specifically\r\n          pendingAction = \"resetProcessing\";\r\n\r\n          setLoading(true);\r\n          setStatus(\"Reiniciando base de conhecimento...\", \"warning\");\r\n\r\n          const result = await resetRagDatabase();\r\n\r\n          setLoading(false); // Restore UI\r\n\r\n          if (result \u0026\u0026 result.status === \"success\") {\r\n            setStatus(\r\n              result.message || \"Memória RAG resetada com sucesso!\",\r\n              \"success\",\r\n            );\r\n\r\n            // REFRESH DATA (RESET INTERFACE)\r\n            console.log(\"🔄 Refreshing app data after reset...\");\r\n            sessions = await fetchSessions(); // Update sidebar (likely clear it)\r\n            renderSessionList();\r\n            startNewChat(); // Clear current view\r\n          } else {\r\n            setStatus(\"Erro ao resetar memória RAG.\", \"error\");\r\n          }\r\n        }\r\n      });\r\n\r\n      async function handleDeleteSession(sessionId, event) {\r\n        event.stopPropagation();\r\n        showConfirmModal(\"delete\", sessionId);\r\n      }\r\n\r\n      if (elements.resetRagBtn) {\r\n        elements.resetRagBtn.addEventListener(\"click\", () =\u003e {\r\n          console.log(\"🔄 Reset button clicked - waiting for confirmation\");\r\n          showConfirmModal(\"reset\");\r\n        });\r\n      }\r\n      async function loadSession(sessionId) {\r\n        console.log(\"📂 Loading session:\", sessionId);\r\n\r\n        // Clean up any temporary/empty sessions from list when switching\r\n        if (currentSessionId !== sessionId) {\r\n          sessions = sessions.filter((s) =\u003e !s._isTemp);\r\n          renderSessionList();\r\n        }\r\n\r\n        currentSessionId = sessionId;\r\n        clearChatArea();\r\n        showSkeletonMessages();\r\n        const history = await fetchHistory(sessionId);\r\n        clearChatArea(); // Shows empty state by default\r\n\r\n        if (history \u0026\u0026 history.length \u003e 0) {\r\n          hideEmptyState(); // Hide if we have content\r\n          history.forEach((message) =\u003e renderMessage(message));\r\n        } else {\r\n          showEmptyState(); // Explicit show if empty\r\n        }\r\n\r\n        renderSessionList();\r\n        elements.messageInput.focus();\r\n      }\r\n      function startNewChat() {\r\n        console.log(\"➕ Starting new chat\");\r\n\r\n        // Avoid creating multiple temp sessions\r\n        sessions = sessions.filter((s) =\u003e !s._isTemp);\r\n\r\n        currentSessionId = generateUUID();\r\n        clearChatArea();\r\n\r\n        // Add temporary \"Nova conversa\" to session list\r\n        const tempSession = {\r\n          session_id: currentSessionId,\r\n          titulo: \"Nova conversa\",\r\n          data_inicio: new Date().toISOString(),\r\n          _isTemp: true, // Helper flag\r\n        };\r\n        sessions.unshift(tempSession);\r\n\r\n        renderSessionList();\r\n        elements.messageInput.focus();\r\n        setStatus(\"Nova conversa iniciada\", \"success\");\r\n      }\r\n      async function handleSendMessage(e) {\r\n        e.preventDefault();\r\n\r\n        // CHECK FOR STOP ACTION\r\n        if (isLoading) {\r\n          // 1. Cancelar Geração de Texto\r\n          if (abortController) {\r\n            abortController.abort();\r\n            abortController = null;\r\n            setStatus(\"Geração interrompida.\", \"warning\");\r\n            hideTypingIndicator();\r\n            setLoading(false);\r\n          }\r\n          // 2. Cancelar Upload\r\n          if (uploadAbortController) {\r\n            uploadAbortController.abort();\r\n            uploadAbortController = null;\r\n            setStatus(\"Upload cancelado.\", \"warning\");\r\n            hideTypingIndicator();\r\n            setLoading(false);\r\n          }\r\n          return;\r\n        }\r\n\r\n        const message = elements.messageInput.value.trim();\r\n        if (!message) return;\r\n\r\n        // CHECK FOR EDIT ACTION\r\n        if (isEditing) {\r\n          const editingId = elements.inputForm.dataset.editingId;\r\n          if (editingId) {\r\n            console.log(\"✏️ Submitting Edit. Pruning from:\", editingId);\r\n            pruneHistoryFrom(editingId);\r\n            // Clear edit state for next message\r\n            cancelEdit();\r\n          }\r\n        }\r\n\r\n        renderMessage({ role: \"user\", content: message });\r\n        elements.messageInput.value = \"\";\r\n        elements.messageInput.style.height = \"auto\";\r\n\r\n        // Start loading (Change icon to Stop)\r\n        setLoading(true);\r\n\r\n        showTypingIndicator();\r\n        const response = await sendMessage(message, currentSessionId);\r\n        hideTypingIndicator();\r\n\r\n        // Should only render if NOT aborted\r\n        if (response !== \"Geração cancelada.\") {\r\n          renderMessage({ role: \"assistant\", content: response });\r\n        }\r\n\r\n        setLoading(false);\r\n\r\n        // SYNC IDS FOR OPTIMISTIC MESSAGES\r\n        // Fetch history to get Real IDs for the messages we just rendered optimistically\r\n        try {\r\n          const latestHistory = await fetchHistory(currentSessionId);\r\n          if (latestHistory \u0026\u0026 latestHistory.length \u003e 0) {\r\n            // We only need to sync the last few messages\r\n            // Strategy: Iterate backwards through DOM and History to match\r\n            const domMessages = Array.from(\r\n              elements.messagesContainer.querySelectorAll(\".message\"),\r\n            );\r\n\r\n            // Get last 2 user messages and last 2 assistant messages from DOM to be safe\r\n            // (Usually just need the very last one of each)\r\n            const lastDomMsg = domMessages[domMessages.length - 1];\r\n\r\n            if (lastDomMsg) {\r\n              // Find matching message in history based on content or role/time\r\n              // Simple approach: Match the very last message of history to last ID-less DOM message\r\n              const lastHistoryMsg = latestHistory[latestHistory.length - 1];\r\n\r\n              if (lastHistoryMsg \u0026\u0026 !lastDomMsg.hasAttribute(\"data-id\")) {\r\n                lastDomMsg.setAttribute(\"data-id\", lastHistoryMsg.id);\r\n                console.log(\r\n                  \"🔄 Synced ID for last message:\",\r\n                  lastHistoryMsg.id,\r\n                );\r\n              }\r\n\r\n              // Also check the user message before it (if it was optimistic)\r\n              if (domMessages.length \u003e= 2) {\r\n                const userDomMsg = domMessages[domMessages.length - 2];\r\n                const userHistoryMsg = latestHistory[latestHistory.length - 2];\r\n\r\n                if (\r\n                  userDomMsg \u0026\u0026\r\n                  !userDomMsg.hasAttribute(\"data-id\") \u0026\u0026\r\n                  userHistoryMsg\r\n                ) {\r\n                  userDomMsg.setAttribute(\"data-id\", userHistoryMsg.id);\r\n                  console.log(\r\n                    \"🔄 Synced ID for user message:\",\r\n                    userHistoryMsg.id,\r\n                  );\r\n                }\r\n              }\r\n            }\r\n          }\r\n        } catch (e) {\r\n          console.warn(\"Failed to sync message IDs:\", e);\r\n        }\r\n\r\n        sessions = await fetchSessions();\r\n        renderSessionList();\r\n      }\r\n      // Attach - IMPLEMENTED FILE UPLOAD\r\n      elements.attachBtn.addEventListener(\"click\", () =\u003e\r\n        elements.fileInput.click(),\r\n      );\r\n      elements.fileInput.addEventListener(\"change\", async (e) =\u003e {\r\n        const file = e.target.files[0];\r\n        if (!file) return;\r\n\r\n        // 1. Mostrar mensagem do usuário imediatamente (SÓ O PILL, SEM TEXTO VISIVEL)\r\n        renderMessage({\r\n          role: \"user\",\r\n          content: `Enviando arquivo: ${file.name}`, // Mantém texto para histórico, mas UI oculta\r\n          file: file.name,\r\n        });\r\n\r\n        console.log(\r\n          \"📤 Uploading file:\",\r\n          file.name,\r\n          \"Session:\",\r\n          currentSessionId,\r\n        );\r\n        setStatus(`Processando ${file.name}...`, \"warning\"); // Amarelo/Laranja enquanto processa\r\n        isLoading = true;\r\n\r\n        // Abort Controller para Upload\r\n        uploadAbortController = new AbortController();\r\n\r\n        showTypingIndicator();\r\n        setLoading(true); // Ativa botão de stop\r\n\r\n        try {\r\n          const formData = new FormData();\r\n          formData.append(\"file\", file);\r\n\r\n          if (currentSessionId) {\r\n            formData.append(\"session_id\", currentSessionId);\r\n            formData.append(\"sessionId\", currentSessionId);\r\n          }\r\n\r\n          const uploadUrlWithParam = currentSessionId\r\n            ? `${UPLOAD_URL}?sessionId=${currentSessionId}`\r\n            : UPLOAD_URL;\r\n\r\n          const response = await fetch(uploadUrlWithParam, {\r\n            method: \"POST\",\r\n            body: formData,\r\n            signal: uploadAbortController.signal,\r\n          });\r\n\r\n          if (!response.ok) throw new Error(\"Upload failed\");\r\n\r\n          const text = await response.text();\r\n          let result = {};\r\n          try {\r\n            if (text \u0026\u0026 text.trim().length \u003e 0) result = JSON.parse(text);\r\n          } catch (e) {}\r\n\r\n          hideTypingIndicator();\r\n\r\n          // 2. SUCESSO: Mensagem verde\r\n          setStatus(`${file.name} processado com sucesso!`, \"success\");\r\n\r\n          // 3. CONFIRMAÇÃO LOCAL (Sem disparar agente)\r\n          // O arquivo já foi processado pelo RAG, apenas confirmamos visualmente.\r\n          renderMessage({\r\n            role: \"assistant\",\r\n            content: `✅ **Arquivo Recebido**\\n\\nO documento \"${file.name}\" foi processado. Você pode fazer perguntas sobre ele agora.`,\r\n          });\r\n\r\n          // OPCIONAL: Se o backend de upload não salvar histórico, o reload perderá essa mensagem.\r\n          // Mas o usuário pediu explicitamente para não mandar msg pro agente.\r\n        } catch (error) {\r\n          if (error.name === \"AbortError\") {\r\n            console.log(\"⏹️ Upload cancelado pelo usuário\");\r\n            // Não precisa fazer nada, o handler do botão stop já limpou UI\r\n          } else {\r\n            console.error(\"Upload error:\", error);\r\n            hideTypingIndicator();\r\n            setStatus(`Erro ao processar ${file.name}`, \"error\");\r\n\r\n            renderMessage({\r\n              role: \"assistant\",\r\n              content: `❌ **Falha no envio**\\n\\nNão foi possível processar o arquivo \"${file.name}\". Tente novamente.`,\r\n            });\r\n          }\r\n        } finally {\r\n          isLoading = false;\r\n          uploadAbortController = null;\r\n          setLoading(false); // Restaura botão send\r\n          e.target.value = \"\";\r\n        }\r\n      });\r\n      // Handle Enter to send, Shift+Enter for new line\r\n      elements.messageInput.addEventListener(\"keydown\", function (e) {\r\n        if (e.key === \"Enter\" \u0026\u0026 !e.shiftKey) {\r\n          e.preventDefault();\r\n          handleSendMessage(e);\r\n        }\r\n      });\r\n\r\n      // Auto-resize textarea\r\n      elements.messageInput.addEventListener(\"input\", function () {\r\n        this.style.height = \"auto\";\r\n        this.style.height = this.scrollHeight + \"px\";\r\n      });\r\n      // ============================================\r\n      // INITIALIZATION\r\n      // ============================================\r\n      // Renamed from init -\u003e startApp to imply it starts the heavy lifting\r\n      // let appStarted = false; // Moved to top\r\n      async function startApp() {\r\n        if (appStarted) return; // Prevent double run\r\n        appStarted = true;\r\n\r\n        checkHealth();\r\n\r\n        console.log(\"🚀 Starting App...\");\r\n        showSkeletonSessions();\r\n        sessions = await fetchSessions();\r\n        console.log(\"📋 Total sessions:\", sessions.length);\r\n        if (sessions.length \u003e 0 \u0026\u0026 !currentSessionId) {\r\n          await loadSession(sessions[0].session_id);\r\n        } else if (sessions.length === 0) {\r\n          startNewChat();\r\n        }\r\n        renderSessionList();\r\n      }\r\n      elements.sendBtn.addEventListener(\"click\", handleSendMessage);\r\n      elements.newChatBtn.addEventListener(\"click\", startNewChat);\r\n\r\n      // Toggle Sidebar\r\n      const toggleSidebarBtn = document.getElementById(\"toggleSidebarBtn\");\r\n      const mainGrid = document.querySelector(\".main-grid\");\r\n      const sidebarBackdrop = document.getElementById(\"sidebarBackdrop\");\r\n      if (toggleSidebarBtn) {\r\n        toggleSidebarBtn.addEventListener(\"click\", () =\u003e {\r\n          mainGrid.classList.toggle(\"sidebar-closed\");\r\n          lucide.createIcons();\r\n        });\r\n      }\r\n\r\n      // Close sidebar when clicking backdrop (mobile)\r\n      if (sidebarBackdrop) {\r\n        sidebarBackdrop.addEventListener(\"click\", () =\u003e {\r\n          mainGrid.classList.add(\"sidebar-closed\");\r\n        });\r\n      }\r\n\r\n      // On mobile, start with sidebar closed\r\n      function checkMobileAndSetSidebar() {\r\n        if (window.innerWidth \u003c= 768) {\r\n          mainGrid.classList.add(\"sidebar-closed\");\r\n        } else {\r\n          mainGrid.classList.remove(\"sidebar-closed\");\r\n        }\r\n      }\r\n\r\n      // Check on load and resize\r\n      checkMobileAndSetSidebar();\r\n\r\n      window.addEventListener(\"resize\", checkMobileAndSetSidebar);\r\n\r\n      // Global Initialization\r\n      document.addEventListener(\"DOMContentLoaded\", () =\u003e {\r\n        console.log(\"🏁 DOM Ready - Checking Auth...\");\r\n        // Do NOT call init/startApp here directly. Check Auth first.\r\n        checkAuth();\r\n        lucide.createIcons();\r\n      });\r\n    \u003c/script\u003e\r\n  \u003c/body\u003e\r\n\u003c/html\u003e\r\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[144,-160],"id":"35c036d3-2788-40a6-86f8-10e8421fdccb","name":"HTML"},{"parameters":{"path":"aspiramaq-chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-64,-160],"id":"3084c78b-9dcf-44d8-acc6-4efc2cb462f2","name":"Chat","webhookId":"98c63ded-77d1-4ec5-b6a0-bdef197db49a"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[352,-160],"id":"e29a33ff-920d-41c1-a963-bf7f5b111f6e","name":"Respond to Chat","alwaysOutputData":false}],"pinData":{},"connections":{"HTML":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Chat":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"versionId":"e54002ef-8d48-4949-a0dc-694dd72c6ad5","meta":{"instanceId":"03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"},"id":"IMXGEFDIyefLV1Hd","tags":[]}