workspaces/Aspiramaq-Front.json
{
  "name": "Aspiramaq-Front",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Aspiramaq - Assistente Virtual</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js\"></script>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Noto+Sans+JP:wght@300;400;600;700&family=Raleway:wght@400;600;700;800&display=swap\" rel=\"stylesheet\">\n    <link rel=\"icon\" href=\"https://www.aspiramaq.com.br/favicon.ico\" type=\"image/x-icon\">\n    <script src=\"https://unpkg.com/lucide@latest\"></script>\n    <style>\n        :root {\n            /* Cores Primitivas (Palette Aspiramaq) */\n            --color-primary: #1B3A5C;\n            /* Azul Marinho Aspiramaq */\n            --color-primary-hover: #142D47;\n            --color-wine: #0D1F33;\n            /* Deep Navy */\n            --color-dark-gray: #1E2A38;\n            /* Títulos */\n            --color-medium-gray: #4A6A8A;\n            /* Textos secundários */\n            --color-light-gray: #f5f7fa;\n            --color-white: #ffffff;\n            --color-black: #1a1a1a;\n            --color-success: #4caf50;\n            --color-accent: #C41E3A;\n            /* Torii Red - acento japonês */\n            --color-sky-blue: #5B9BD5;\n            /* Azul céu complementar */\n\n            /* Variáveis Semânticas (Light Theme Default) */\n            --bg-body: #eef2f7;\n            --bg-sidebar: var(--color-dark-gray);\n            --bg-chat: var(--color-light-gray);\n            --bg-header: linear-gradient(135deg, var(--color-dark-gray) 0%, #15202d 100%);\n\n            --bg-message-user: linear-gradient(135deg, var(--color-primary) 0%, #142D47 100%);\n            --text-message-user: var(--color-white);\n\n            --bg-message-assistant: var(--color-white);\n            --text-message-assistant: var(--color-black);\n\n            --bg-input: var(--color-white);\n            --bg-input-area: var(--color-white);\n\n            --text-primary: var(--color-dark-gray);\n            --text-secondary: var(--color-medium-gray);\n            --text-inverse: var(--color-white);\n\n            --border-color: #d0d8e0;\n            --sidebar-width: 260px;\n            --shadow-sm: 0 1px 3px rgba(27, 58, 92, 0.1);\n            --shadow-md: 0 4px 6px rgba(27, 58, 92, 0.15);\n\n            /* Compatibility Variables */\n            --senai-red: var(--color-primary);\n            --senai-wine: var(--color-wine);\n            --senai-black: var(--color-black);\n            --senai-gray: var(--color-medium-gray);\n        }\n\n        [data-theme=\"dark\"] {\n            --bg-body: #0a0f15;\n            --bg-sidebar: #060b12;\n            --bg-chat: #0d1219;\n            --bg-header: #080d14;\n\n            --bg-message-user: linear-gradient(135deg, #1B3A5C 0%, #142D47 100%);\n            --text-message-user: #e0e0e0;\n\n            --bg-message-assistant: #1a2332;\n            --text-message-assistant: #e0e0e0;\n\n            --bg-input: #1a2332;\n            --bg-input-area: #0f1620;\n\n            --text-primary: #e0e0e0;\n            --text-secondary: #7a9ab8;\n            --text-inverse: #e0e0e0;\n\n            --border-color: #253345;\n            --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.3);\n            --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Raleway', 'Inter', 'Noto Sans JP', 'Segoe UI', sans-serif;\n            height: 100vh;\n            overflow: hidden;\n            background: var(--bg-body);\n            color: var(--text-primary);\n            transition: background-color 0.3s ease, color 0.3s ease;\n        }\n\n        /* LAYOUT */\n        .app-container {\n            display: flex;\n            flex-direction: column;\n            height: 100vh;\n        }\n\n        /* Header 100% width */\n        /* Header with Seigaiha wave pattern */\n        .chat-header {\n            background: var(--bg-header);\n            color: var(--text-inverse);\n            padding: 18px 30px;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            box-shadow: var(--shadow-md);\n            z-index: 100;\n            transition: background 0.3s ease;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .chat-header::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='40' viewBox='0 0 80 40'%3E%3Cpath d='M0 20 Q10 0 20 20 Q30 40 40 20 Q50 0 60 20 Q70 40 80 20' fill='none' stroke='rgba(255,255,255,0.04)' stroke-width='1.5'/%3E%3C/svg%3E\");\n            background-repeat: repeat;\n            pointer-events: none;\n        }\n\n        .logo-area {\n            display: flex;\n            align-items: center;\n            gap: 16px;\n            z-index: 1;\n        }\n\n        .aspiramaq-logo {\n            height: 38px;\n            filter: brightness(10);\n            transition: transform 0.3s ease;\n        }\n\n        .aspiramaq-logo:hover {\n            transform: scale(1.05);\n        }\n\n        .senai-logo {\n            font-weight: 800;\n            font-size: 1.4rem;\n            letter-spacing: -1px;\n            color: var(--text-inverse);\n            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);\n            display: none;\n        }\n\n        .senai-logo span {\n            color: var(--color-primary);\n            margin: 0 2px;\n        }\n\n        .dt-tag {\n            background: var(--color-accent);\n            color: var(--text-inverse);\n            padding: 5px 12px;\n            font-size: 0.65rem;\n            font-weight: 700;\n            text-transform: uppercase;\n            border-radius: 4px;\n            letter-spacing: 1px;\n            box-shadow: 0 2px 6px rgba(196, 30, 58, 0.3);\n            z-index: 1;\n            font-family: 'Noto Sans JP', sans-serif;\n        }\n\n        .header-title {\n            font-size: 0.95rem;\n            font-weight: 600;\n            color: rgba(255, 255, 255, 0.8);\n            z-index: 1;\n        }\n\n        /* HEADER RIGHT AREA - STACKED FOR BADGES */\n        .header-right {\n            display: flex;\n            flex-direction: column;\n            align-items: flex-end;\n            gap: 6px;\n        }\n\n        .connection-status {\n            display: inline-flex;\n            align-items: center;\n            gap: 6px;\n            font-size: 11px;\n            color: #4CAF50;\n            background: rgba(76, 175, 80, 0.1);\n            padding: 4px 8px;\n            border-radius: 12px;\n            border: 1px solid rgba(76, 175, 80, 0.2);\n            font-weight: 600;\n            width: 105px;\n            /* Fixed width for consistency */\n            justify-content: center;\n        }\n\n        .connection-dot {\n            width: 6px;\n            height: 6px;\n            background: #4CAF50;\n            border-radius: 50%;\n            box-shadow: 0 0 5px #4CAF50;\n            animation: pulse 2s infinite;\n        }\n\n        /* RESET BADGE/BUTTON - STYLED LIKE ONLINE BADGE */\n        .reset-badge-btn {\n            display: inline-flex;\n            align-items: center;\n            gap: 5px;\n            font-size: 11px;\n            color: rgba(255, 255, 255, 0.7);\n            background: rgba(255, 255, 255, 0.05);\n            /* Transparent/Subtle */\n            padding: 4px 8px;\n            border-radius: 12px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            font-weight: 500;\n            cursor: pointer;\n            transition: all 0.2s;\n            text-decoration: none;\n            outline: none;\n            width: 105px;\n            /* Fixed width for consistency */\n            justify-content: center;\n        }\n\n        .reset-badge-btn:hover:not(:disabled) {\n            background: rgba(255, 255, 255, 0.15);\n            color: white;\n            border-color: rgba(255, 255, 255, 0.3);\n        }\n\n        .reset-badge-btn:disabled {\n            opacity: 0.5;\n            cursor: not-allowed;\n        }\n\n        .reset-badge-btn i {\n            width: 12px;\n            height: 12px;\n        }\n\n        /* Loading Spinner Animation */\n        @keyframes spin {\n            to {\n                transform: rotate(360deg);\n            }\n        }\n\n        .animate-spin {\n            animation: spin 1s linear infinite;\n        }\n\n        @keyframes pulse {\n            0% {\n                opacity: 1;\n            }\n\n            50% {\n                opacity: 0.6;\n            }\n\n            100% {\n                opacity: 1;\n            }\n        }\n\n        /* Grid: Sidebar + Chat */\n        .main-grid {\n            display: grid;\n            flex: 1;\n            overflow: hidden;\n            transition: grid-template-columns 0.3s ease;\n        }\n\n        @media (min-width: 769px) {\n            .main-grid {\n                grid-template-columns: var(--sidebar-width) 1fr;\n            }\n\n            .main-grid.sidebar-closed {\n                grid-template-columns: 0 1fr;\n            }\n        }\n\n        /* Sidebar Backdrop - Hidden by default everywhere */\n        .sidebar-backdrop {\n            display: none;\n        }\n\n        /* Sidebar */\n        #sidebar {\n            background: var(--bg-sidebar);\n            border-right: 2px solid var(--color-primary);\n            display: flex;\n            flex-direction: column;\n            overflow: hidden;\n            transition: background-color 0.3s ease;\n        }\n\n        /* Desktop: hide sidebar by collapsing grid column */\n        /* No transform needed on desktop, grid handles it */\n\n        .toggle-sidebar-btn {\n            background: transparent;\n            border: 2px solid var(--color-primary);\n            color: var(--color-primary);\n            width: 40px;\n            height: 40px;\n            border-radius: 6px;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            transition: all 0.2s;\n            flex-shrink: 0;\n        }\n\n        .toggle-sidebar-btn:hover {\n            background: var(--color-primary);\n            color: white;\n        }\n\n        #sidebar-header {\n            padding: 20px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        #newChatBtn {\n            width: 100%;\n            padding: 12px;\n            background: var(--color-primary);\n            color: white;\n            border: none;\n            border-radius: 6px;\n            font-size: 14px;\n            font-weight: 600;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 8px;\n            transition: all 0.2s;\n        }\n\n        #newChatBtn:hover {\n            background: var(--color-primary-hover);\n            transform: translateY(-1px);\n            box-shadow: 0 4px 12px rgba(27, 58, 92, 0.4);\n        }\n\n        #sessionList {\n            flex: 1;\n            overflow-y: auto;\n            padding: 10px;\n        }\n\n        .session-item {\n            padding: 12px;\n            margin-bottom: 8px;\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 6px;\n            cursor: pointer;\n            transition: all 0.2s;\n            display: flex;\n            justify-content: space-between;\n            align-items: flex-start;\n            color: var(--text-inverse);\n            border-left: 3px solid transparent;\n        }\n\n        .session-item:hover {\n            background: rgba(255, 255, 255, 0.1);\n            border-left-color: var(--color-primary);\n        }\n\n        .session-item.active {\n            background: rgba(27, 58, 92, 0.2);\n            border-left-color: var(--color-primary);\n        }\n\n        .session-content {\n            flex: 1;\n            min-width: 0;\n        }\n\n        .session-title {\n            font-size: 13px;\n            font-weight: 500;\n            margin-bottom: 4px;\n            white-space: nowrap;\n            overflow: hidden;\n            text-overflow: ellipsis;\n        }\n\n        .session-date {\n            font-size: 11px;\n            color: rgba(255, 255, 255, 0.5);\n        }\n\n        .delete-btn {\n            background: transparent;\n            border: none;\n            color: rgba(255, 255, 255, 0.4);\n            cursor: pointer;\n            padding: 4px;\n            font-size: 16px;\n            transition: color 0.2s;\n        }\n\n        .delete-btn:hover {\n            color: var(--color-primary);\n        }\n\n        #sidebar ::-webkit-scrollbar {\n            width: 6px;\n        }\n\n        #sidebar ::-webkit-scrollbar-thumb {\n            background: rgba(255, 255, 255, 0.2);\n            border-radius: 3px;\n        }\n\n        #sidebar ::-webkit-scrollbar-thumb:hover {\n            background: var(--color-primary);\n        }\n\n        /* Chat Area */\n        #chatArea {\n            display: flex;\n            flex-direction: column;\n            background: var(--bg-chat);\n            overflow: hidden;\n            transition: background-color 0.3s ease;\n        }\n\n        #messagesContainer {\n            flex: 1;\n            overflow-y: auto;\n            padding: 25px;\n            display: flex;\n            flex-direction: column;\n            gap: 20px;\n        }\n\n        /* OLD MESSAGE STYLES REMOVED - CONSOLIDATED BELOW */\n\n\n        #inputArea {\n            padding: 20px;\n            background: var(--bg-input-area);\n            border-top: 1px solid var(--border-color);\n        }\n\n        .status-info {\n            text-align: center;\n            font-size: 0.75rem;\n            color: var(--senai-wine);\n            margin-bottom: 10px;\n            height: 16px;\n        }\n\n        #inputForm {\n            display: flex;\n            gap: 12px;\n            align-items: center;\n        }\n\n        #messageInput {\n            flex: 1;\n            padding: 12px 16px;\n            border: 2px solid #ddd;\n            border-radius: 24px;\n            font-size: 14px;\n            outline: none;\n            transition: border-color 0.2s;\n            resize: none;\n            max-height: 120px;\n            font-family: inherit;\n        }\n\n        #messageInput:focus {\n            border-color: var(--senai-red);\n        }\n\n        .controls {\n            display: flex;\n            gap: 10px;\n        }\n\n        .action-btn {\n            width: 44px;\n            height: 44px;\n            border: none;\n            border-radius: 50%;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            transition: all 0.2s;\n        }\n\n        .btn-attach {\n            background: #f0f0f0;\n            color: #666;\n        }\n\n        .btn-attach:hover {\n            background: #e0e0e0;\n            color: var(--senai-red);\n        }\n\n        .btn-mic {\n            background: #f0f0f0;\n            color: #666;\n        }\n\n        .btn-mic:hover {\n            background: #e0e0e0;\n            color: var(--senai-red);\n        }\n\n        .btn-send {\n            background: var(--color-accent);\n            color: white;\n        }\n\n        .btn-send:hover:not(:disabled) {\n            background: #a31830;\n            transform: scale(1.05);\n        }\n\n        .btn-send:disabled {\n            opacity: 0.5;\n            cursor: not-allowed;\n        }\n\n        /* EDIT BUTTON */\n        .btn-edit {\n            background: transparent;\n            border: none;\n            color: var(--text-secondary);\n            cursor: pointer;\n            padding: 4px;\n            margin-right: 8px;\n            display: none;\n            /* Visible on hover */\n            transition: color 0.2s;\n        }\n\n        .message.user:hover .btn-edit {\n            display: flex;\n        }\n\n        .btn-edit:hover {\n            color: var(--color-primary);\n        }\n\n        .loading {\n            display: none;\n            text-align: center;\n            padding: 15px;\n            color: #666;\n        }\n\n        .loading.show {\n            display: block;\n        }\n\n        .loading-dots {\n            display: inline-flex;\n            gap: 6px;\n        }\n\n        .loading-dots span {\n            width: 8px;\n            height: 8px;\n            border-radius: 50%;\n            background: var(--color-accent);\n            animation: dotBounce 1.4s infinite ease-in-out;\n        }\n\n        .loading-dots span:nth-child(1) {\n            animation-delay: 0s;\n        }\n\n        .loading-dots span:nth-child(2) {\n            animation-delay: 0.2s;\n        }\n\n        .loading-dots span:nth-child(3) {\n            animation-delay: 0.4s;\n        }\n\n        @keyframes dotBounce {\n\n            0%,\n            80%,\n            100% {\n                transform: scale(0);\n            }\n\n            40% {\n                transform: scale(1);\n            }\n        }\n\n        #messagesContainer::-webkit-scrollbar {\n            width: 8px;\n        }\n\n        #messagesContainer::-webkit-scrollbar-thumb {\n            background: #ccc;\n            border-radius: 4px;\n        }\n\n        #messagesContainer::-webkit-scrollbar-thumb:hover {\n            background: var(--senai-red);\n        }\n\n        /* ============================================\n           SKELETON LOADERS\n           ============================================ */\n        .skeleton {\n            background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);\n            background-size: 200% 100%;\n            animation: shimmer 1.5s infinite;\n            border-radius: 6px;\n        }\n\n        @keyframes shimmer {\n            0% {\n                background-position: 200% 0;\n            }\n\n            100% {\n                background-position: -200% 0;\n            }\n        }\n\n        .skeleton-session {\n            padding: 12px;\n            margin-bottom: 8px;\n            background: var(--senai-gray);\n            border-radius: 6px;\n        }\n\n        .skeleton-session-title {\n            height: 16px;\n            width: 70%;\n            margin-bottom: 8px;\n        }\n\n        .skeleton-session-date {\n            height: 12px;\n            width: 40%;\n        }\n\n        .skeleton-message {\n            display: flex;\n            gap: 12px;\n            margin-bottom: 20px;\n        }\n\n        .skeleton-avatar {\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n        }\n\n        .skeleton-content {\n            flex: 1;\n            max-width: 60%;\n        }\n\n        .skeleton-text {\n            height: 14px;\n            margin-bottom: 8px;\n            border-radius: 4px;\n        }\n\n        .skeleton-text:last-child {\n            width: 80%;\n        }\n\n        /* TYPING INDICATOR */\n        .typing-indicator {\n            display: flex;\n            gap: 12px;\n            align-items: flex-start;\n            animation: fadeIn 0.3s;\n        }\n\n        .typing-indicator .message-avatar {\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            background: var(--senai-wine);\n            color: white;\n            flex-shrink: 0;\n        }\n\n        .typing-dots {\n            background: var(--bg-message-assistant);\n            padding: 16px 20px;\n            border-radius: 12px;\n            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n            display: flex;\n            gap: 6px;\n            align-items: center;\n        }\n\n        .typing-dots span {\n            width: 8px;\n            height: 8px;\n            border-radius: 50%;\n            background: var(--color-accent);\n            animation: typingBounce 1.4s infinite ease-in-out;\n        }\n\n        .typing-dots span:nth-child(1) {\n            animation-delay: 0s;\n        }\n\n        .typing-dots span:nth-child(2) {\n            animation-delay: 0.2s;\n        }\n\n        .typing-dots span:nth-child(3) {\n            animation-delay: 0.4s;\n        }\n\n        @keyframes typingBounce {\n\n            0%,\n            60%,\n            100% {\n                transform: translateY(0);\n            }\n\n            30% {\n                transform: translateY(-10px);\n            }\n        }\n\n        /* IMPROVED MESSAGE STYLING */\n        /* IMPROVED MESSAGE STYLING - CONSOLIDATED */\n        .message {\n            display: flex;\n            gap: 15px;\n            /* Increased gap between avatar and content */\n            animation: fadeIn 0.3s;\n            max-width: 80%;\n            width: fit-content;\n            /* Ensure it doesn't stretch unnecessarily */\n            margin-bottom: 25px;\n            /* Added explicit spacing between messages */\n        }\n\n        .message.user {\n            flex-direction: row-reverse;\n            margin-left: auto;\n            /* Force right alignment */\n            align-self: flex-end;\n            text-align: right;\n            /* Optional: aligns text inside slightly better for short msgs */\n        }\n\n        .message.user .message-content {\n            text-align: left;\n            /* Keep content left-aligned for readability */\n            border-bottom-right-radius: 2px;\n            /* Visual touch */\n        }\n\n        .message.assistant {\n            margin-right: auto;\n            /* Force left alignment */\n            align-self: flex-start;\n        }\n\n        .message.assistant .message-content {\n            border-top-left-radius: 2px;\n            /* Visual touch */\n        }\n\n        .message-avatar {\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: 600;\n            flex-shrink: 0;\n            font-size: 18px;\n        }\n\n        .message.user .message-avatar {\n            background: linear-gradient(135deg, var(--color-primary) 0%, #142D47 100%);\n            color: white;\n            box-shadow: 0 2px 8px rgba(27, 58, 92, 0.3);\n        }\n\n        .message.assistant .message-avatar {\n            background: linear-gradient(135deg, var(--color-wine) 0%, #091525 100%);\n            color: white;\n            box-shadow: 0 2px 8px rgba(13, 31, 51, 0.3);\n        }\n\n        .message-content {\n            padding: 14px 18px;\n            border-radius: 12px;\n            line-height: 1.7;\n            /* Aumentado conforme pedido */\n            box-shadow: var(--shadow-sm);\n            font-size: 1rem;\n            /* Aumentado conforme pedido */\n            overflow-wrap: break-word;\n        }\n\n        .message.user .message-content {\n            background: var(--bg-message-user);\n            color: var(--text-message-user, white);\n        }\n\n        .message.assistant .message-content {\n            background: var(--bg-message-assistant);\n            color: var(--text-message-assistant, var(--color-black));\n            border: 1px solid var(--border-color);\n        }\n\n        /* ESTILOS DE MARKDOWN (TABELAS, LISTAS, ETC) */\n        .message-content table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n            border: 1px solid var(--border-color);\n            background: rgba(255, 255, 255, 0.05);\n            /* Leve fundo para destacar */\n        }\n\n        .message-content th {\n            background: var(--color-dark-gray);\n            color: white;\n            padding: 12px;\n            text-align: left;\n            font-size: 0.85rem;\n            text-transform: uppercase;\n            font-weight: 600;\n        }\n\n        .message-content td {\n            padding: 12px;\n            border: 1px solid var(--border-color);\n            font-size: 0.95rem;\n        }\n\n        /* Zebra striping adaptável ao tema */\n        .message-content tr:nth-child(even) {\n            background: rgba(0, 0, 0, 0.03);\n        }\n\n        [data-theme=\"dark\"] .message-content tr:nth-child(even) {\n            background: rgba(255, 255, 255, 0.03);\n        }\n\n        .message-content ul,\n        .message-content ol {\n            margin-left: 25px;\n            margin-bottom: 15px;\n            margin-top: 10px;\n        }\n\n        .message-content li {\n            margin-bottom: 6px;\n        }\n\n        .message-content strong {\n            font-weight: 700;\n            color: inherit;\n        }\n\n        .message-content a {\n            color: var(--color-primary);\n            text-decoration: none;\n            font-weight: 600;\n        }\n\n        .message-content a:hover {\n            text-decoration: underline;\n        }\n\n        .message-content h1,\n        .message-content h2,\n        .message-content h3 {\n            margin-top: 20px;\n            margin-bottom: 10px;\n            font-weight: 700;\n            color: inherit;\n        }\n\n        .message-content code {\n            background: rgba(0, 0, 0, 0.1);\n            padding: 2px 4px;\n            border-radius: 4px;\n            font-family: 'Consolas', 'Monaco', monospace;\n            font-size: 0.9em;\n        }\n\n        [data-theme=\"dark\"] .message-content code {\n            background: rgba(255, 255, 255, 0.1);\n        }\n\n        .message-content pre {\n            background: #2d2d2d;\n            color: #f8f8f2;\n            padding: 15px;\n            border-radius: 8px;\n            overflow-x: auto;\n            margin: 15px 0;\n        }\n\n        .message-content pre code {\n            background: transparent;\n            padding: 0;\n            color: inherit;\n        }\n\n        /* IMPROVED INPUT AREA */\n        #messageInput {\n            flex: 1;\n            padding: 14px 20px;\n            border: 2px solid var(--border-color);\n            background: var(--bg-input);\n            color: var(--text-primary);\n            border-radius: 24px;\n            font-size: 15px;\n            outline: none;\n            transition: all 0.2s;\n            resize: none;\n            max-height: 120px;\n            min-height: 48px;\n            font-family: inherit;\n            line-height: 1.5;\n            overflow-y: hidden;\n        }\n\n        #messageInput:focus {\n            border-color: var(--color-primary);\n            box-shadow: 0 0 0 3px rgba(27, 58, 92, 0.15);\n        }\n\n        /* BETTER NEW CHAT BUTTON */\n        #newChatBtn {\n            width: 100%;\n            padding: 14px 16px;\n            background: var(--color-primary);\n            color: white;\n            border: none;\n            border-radius: 8px;\n            font-size: 14px;\n            font-weight: 600;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 10px;\n            transition: all 0.3s;\n            box-shadow: 0 2px 8px rgba(216, 36, 68, 0.3);\n        }\n\n        #newChatBtn:hover {\n            background: var(--color-primary-hover);\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(216, 36, 68, 0.4);\n        }\n\n        #newChatBtn svg {\n            width: 18px;\n            height: 18px;\n        }\n\n        /* BETTER DELETE BUTTON */\n        .delete-btn {\n            background: transparent;\n            border: none;\n            color: var(--text-secondary);\n            cursor: pointer;\n            padding: 4px;\n            transition: all 0.2s;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            border-radius: 4px;\n        }\n\n        .delete-btn:hover {\n            background: rgba(27, 58, 92, 0.1);\n            color: var(--color-primary);\n        }\n\n        .delete-btn svg {\n            width: 16px;\n            height: 16px;\n        }\n\n        /* UPLOADED FILE INDICATOR */\n        .file-attachment {\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            background: rgba(255, 255, 255, 0.2);\n            padding: 6px 12px;\n            border-radius: 6px;\n            margin-top: 8px;\n            font-size: 13px;\n        }\n\n        .file-attachment svg {\n            width: 14px;\n            height: 14px;\n        }\n\n        /* ============================================\n           MOBILE RESPONSIVE\n           ============================================ */\n        @media (max-width: 768px) {\n            .chat-header {\n                padding: 12px 16px;\n            }\n\n            .logo-area {\n                gap: 10px;\n            }\n\n            .senai-logo {\n                font-size: 1.1rem;\n            }\n\n            .dt-tag {\n                display: none;\n            }\n\n            .header-title {\n                font-size: 0.8rem;\n                display: none;\n            }\n\n            .connection-status {\n                font-size: 0.65rem;\n                padding: 4px 8px;\n            }\n\n            .main-grid {\n                grid-template-columns: 1fr;\n                position: relative;\n            }\n\n            /* On mobile, ALWAYS use 1fr - don't collapse grid */\n            .main-grid.sidebar-closed {\n                grid-template-columns: 1fr;\n            }\n\n            #sidebar {\n                position: absolute;\n                left: 0;\n                top: 0;\n                width: 260px;\n                height: 100%;\n                z-index: 200;\n                box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);\n                transition: transform 0.3s ease;\n                transform: translateX(-100%);\n            }\n\n            /* Show sidebar when NOT closed (toggle button clicked) */\n            .main-grid:not(.sidebar-closed) #sidebar {\n                transform: translateX(0);\n            }\n\n            .sidebar-backdrop {\n                display: none;\n                position: absolute;\n                top: 0;\n                left: 0;\n                right: 0;\n                bottom: 0;\n                background: rgba(0, 0, 0, 0.5);\n                z-index: 199;\n                pointer-events: none;\n            }\n\n            /* Show backdrop when sidebar is open */\n            .main-grid:not(.sidebar-closed) .sidebar-backdrop {\n                display: block;\n                pointer-events: auto;\n            }\n\n            .message {\n                max-width: 85%;\n            }\n\n            #messagesContainer {\n                padding: 15px;\n                gap: 20px;\n                /* Force spacing on mobile too */\n            }\n\n            .action-btn {\n                width: 44px;\n                height: 44px;\n            }\n\n            .toggle-sidebar-btn {\n                width: 44px;\n                height: 44px;\n            }\n        }\n\n        @media (max-width: 480px) {\n            .chat-header {\n                padding: 10px 12px;\n            }\n\n            .senai-logo {\n                font-size: 1rem;\n            }\n\n            .connection-status span {\n                display: none;\n            }\n\n            .message {\n                max-width: 90%;\n            }\n\n            .message-content {\n                padding: 12px 14px;\n                font-size: 14px;\n            }\n\n            #inputArea {\n                padding: 12px;\n            }\n\n            #messageInput {\n                font-size: 14px;\n                padding: 12px 16px;\n            }\n        }\n\n        /* ============================================\n           NEW COMPONENTS: MODALS & SIDEBAR FOOTER\n           ============================================ */\n\n        /* LOGIN OVERLAY */\n        .login-overlay {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: rgba(0, 0, 0, 0.85);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            z-index: 9999;\n            backdrop-filter: blur(5px);\n        }\n\n        .login-box {\n            background: var(--bg-chat);\n            padding: 40px;\n            border-radius: 12px;\n            width: 100%;\n            max-width: 400px;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\n            text-align: center;\n            border: 1px solid var(--border-color);\n        }\n\n        .login-title {\n            color: var(--color-primary);\n            font-size: 24px;\n            font-weight: 800;\n            margin-bottom: 20px;\n            letter-spacing: -0.5px;\n        }\n\n        .login-input {\n            width: 100%;\n            padding: 12px 16px;\n            margin-bottom: 15px;\n            border: 2px solid var(--border-color);\n            background: var(--bg-input);\n            color: var(--text-primary);\n            border-radius: 8px;\n            font-size: 16px;\n            outline: none;\n        }\n\n        .login-input:focus {\n            border-color: var(--color-primary);\n        }\n\n        .login-btn {\n            width: 100%;\n            padding: 12px;\n            background: var(--color-primary);\n            color: white;\n            border: none;\n            border-radius: 8px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.2s;\n        }\n\n        .login-btn:hover {\n            background: var(--color-primary-hover);\n        }\n\n        /* CONFIRM MODAL */\n        .confirm-modal-backdrop {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: rgba(0, 0, 0, 0.7);\n            display: none;\n            align-items: center;\n            justify-content: center;\n            z-index: 10000;\n        }\n\n        .confirm-modal {\n            background: var(--bg-chat);\n            padding: 24px;\n            border-radius: 12px;\n            width: 90%;\n            max-width: 320px;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\n            border: 1px solid var(--border-color);\n            animation: fadeIn 0.2s ease-out;\n        }\n\n        .confirm-title {\n            font-size: 18px;\n            font-weight: 600;\n            color: var(--text-primary);\n            margin-bottom: 12px;\n        }\n\n        .confirm-text {\n            color: var(--text-secondary);\n            font-size: 14px;\n            margin-bottom: 20px;\n        }\n\n        .confirm-actions {\n            display: flex;\n            gap: 10px;\n            justify-content: flex-end;\n        }\n\n        .btn-modal {\n            padding: 8px 16px;\n            border-radius: 6px;\n            font-size: 14px;\n            font-weight: 600;\n            cursor: pointer;\n            border: none;\n        }\n\n        .btn-cancel {\n            background: transparent;\n            color: var(--text-secondary);\n            border: 1px solid var(--border-color);\n        }\n\n        .btn-confirm {\n            background: var(--color-primary);\n            color: white;\n        }\n\n        /* SIDEBAR FOOTER & USER PROFILE */\n        .sidebar-footer {\n            padding: 16px;\n            border-top: 1px solid rgba(255, 255, 255, 0.1);\n            background: rgba(0, 0, 0, 0.2);\n            margin-top: auto;\n        }\n\n        .user-profile {\n            display: flex;\n            align-items: center;\n            gap: 12px;\n            padding: 8px;\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 8px;\n        }\n\n        .user-avatar {\n            width: 36px;\n            height: 36px;\n            border-radius: 50%;\n            background: var(--color-primary);\n            color: white;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: 700;\n            font-size: 14px;\n        }\n\n        .user-info {\n            flex: 1;\n            overflow: hidden;\n        }\n\n        .user-name {\n            font-size: 13px;\n            font-weight: 600;\n            color: var(--text-inverse);\n            white-space: nowrap;\n            overflow: hidden;\n            text-overflow: ellipsis;\n        }\n\n        .user-role {\n            font-size: 11px;\n            color: rgba(255, 255, 255, 0.6);\n        }\n\n        .footer-actions {\n            display: flex;\n            gap: 8px;\n            margin-top: 12px;\n        }\n\n        .footer-btn {\n            flex: 1;\n            padding: 8px;\n            border: 1px solid rgba(255, 255, 255, 0.2);\n            background: transparent;\n            color: rgba(255, 255, 255, 0.8);\n            border-radius: 6px;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 6px;\n            font-size: 12px;\n            transition: all 0.2s;\n        }\n\n        .footer-btn:hover {\n            background: rgba(255, 255, 255, 0.1);\n            color: white;\n            border-color: rgba(255, 255, 255, 0.4);\n        }\n\n        .err-msg {\n            color: #ff4444;\n            font-size: 13px;\n            margin-top: 10px;\n            display: none;\n        }\n\n        /* EMPTY STATE */\n        .empty-state {\n            display: none;\n            /* Hidden by default */\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            height: 100%;\n            text-align: center;\n            padding: 20px;\n            color: var(--text-secondary);\n            animation: fadeIn 0.3s ease-out;\n        }\n\n        .empty-state.show {\n            display: flex;\n        }\n\n        .empty-icon {\n            width: 80px;\n            height: 80px;\n            color: var(--color-primary);\n            margin-bottom: 20px;\n            opacity: 0.9;\n            background: rgba(27, 58, 92, 0.08);\n            padding: 12px;\n            border-radius: 50%;\n            border: 2px solid rgba(27, 58, 92, 0.1);\n        }\n\n        .empty-title {\n            font-size: 24px;\n            font-weight: 700;\n            color: var(--text-primary);\n            margin-bottom: 10px;\n        }\n\n        .empty-subtitle {\n            font-size: 16px;\n            max-width: 400px;\n            line-height: 1.5;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(10px);\n            }\n\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"app-container\">\n        <!-- HEADER 100% -->\n        <header class=\"chat-header\">\n            <button class=\"toggle-sidebar-btn\" id=\"toggleSidebarBtn\" title=\"Alternar lista de conversas\">\n                <i data-lucide=\"panel-left\"></i>\n            </button>\n            <div class=\"logo-area\">\n                <img src=\"https://www.aspiramaq.com.br/imagens/logo.png\" alt=\"Aspiramaq\" class=\"aspiramaq-logo\">\n                <div class=\"senai-logo\">SENAI<span>-</span>SP</div>\n                <div class=\"dt-tag\">新日本 · Grupo New Japan</div>\n                <div class=\"header-title\">Assistente Virtual Aspiramaq</div>\n            </div>\n            <div class=\"header-right\">\n                <div class=\"connection-status\">\n                    <div class=\"connection-dot\"></div>\n                    <span>Online</span>\n                </div>\n                <button id=\"resetRagBtn\" class=\"reset-badge-btn\" title=\"Resetar Memória RAG\">\n                    <i data-lucide=\"database-backup\"></i>\n                    <span>Resetar</span>\n                </button>\n            </div>\n        </header>\n        <!-- GRID: Sidebar + Chat -->\n        <div class=\"main-grid\">\n            <div class=\"sidebar-backdrop\" id=\"sidebarBackdrop\"></div>\n            <!-- SIDEBAR -->\n            <aside id=\"sidebar\">\n                <div id=\"sidebar-header\">\n                    <button id=\"newChatBtn\">\n                        <i data-lucide=\"plus\"></i>\n                        <span>Nova Conversa</span>\n                    </button>\n                </div>\n                <div id=\"sessionList\">\n                    <!-- Sessões carregadas aqui -->\n                </div>\n                <!-- SIDEBAR FOOTER -->\n                <div class=\"sidebar-footer\">\n                    <div class=\"user-profile\">\n                        <div class=\"user-avatar\">AD</div>\n                        <div class=\"user-info\">\n                            <div class=\"user-name\">Administrador</div>\n                            <div class=\"user-role\">Sistema</div>\n                        </div>\n                    </div>\n                    <div class=\"footer-actions\">\n                        <button class=\"footer-btn\" id=\"themeToggleBtn\" title=\"Alternar Tema\">\n                            <i data-lucide=\"moon\" style=\"width: 14px; height: 14px;\"></i>\n                            <span>Tema</span>\n                        </button>\n                        <button class=\"footer-btn\" id=\"logoutBtn\" title=\"Sair do sistema\">\n                            <i data-lucide=\"log-out\" style=\"width: 14px; height: 14px;\"></i>\n                            <span>Sair</span>\n                        </button>\n                    </div>\n                </div>\n            </aside>\n            <!-- CHAT AREA -->\n            <main id=\"chatArea\">\n                <div id=\"messagesContainer\"></div>\n\n                <!-- Empty State -->\n                <div id=\"emptyState\" class=\"empty-state\">\n                    <div class=\"empty-icon\">\n                        <svg viewBox=\"0 0 64 64\" width=\"100%\" height=\"100%\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                            <circle cx=\"32\" cy=\"32\" r=\"30\" stroke=\"var(--color-primary)\" stroke-width=\"2\" opacity=\"0.3\"/>\n                            <!-- Torii gate simplified -->\n                            <line x1=\"18\" y1=\"20\" x2=\"46\" y2=\"20\" stroke=\"var(--color-accent)\" stroke-width=\"3\" stroke-linecap=\"round\"/>\n                            <line x1=\"20\" y1=\"24\" x2=\"44\" y2=\"24\" stroke=\"var(--color-accent)\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n                            <line x1=\"22\" y1=\"20\" x2=\"22\" y2=\"46\" stroke=\"var(--color-primary)\" stroke-width=\"2.5\" stroke-linecap=\"round\"/>\n                            <line x1=\"42\" y1=\"20\" x2=\"42\" y2=\"46\" stroke=\"var(--color-primary)\" stroke-width=\"2.5\" stroke-linecap=\"round\"/>\n                        </svg>\n                    </div>\n                    <div class=\"empty-title\" style=\"font-family: 'Noto Sans JP', 'Raleway', sans-serif;\">\n                        <span style=\"color: var(--color-accent); font-size: 0.8em;\">いらっしゃいませ</span><br>\n                        Como posso ajudar?\n                    </div>\n                    <div class=\"empty-subtitle\">\n                        Estou pronto para responder dúvidas sobre a Aspiramaq, nossos produtos e serviços industriais.\n                    </div>\n                </div>\n\n                <div class=\"loading\" id=\"loading\">\n                    <div class=\"loading-dots\">\n                        <span></span><span></span><span></span>\n                    </div>\n                </div>\n                <div id=\"inputArea\">\n                    <div class=\"status-info\" id=\"statusMessage\"></div>\n                    <form id=\"inputForm\">\n                        <input type=\"file\" id=\"fileInput\" style=\"display: none;\">\n                        <textarea id=\"messageInput\" placeholder=\"Digite sua mensagem...\" rows=\"1\"></textarea>\n                        <div class=\"controls\">\n                            <button type=\"button\" class=\"action-btn btn-attach\" id=\"attachBtn\" title=\"Anexar arquivo\">\n                                <i data-lucide=\"paperclip\"></i>\n                            </button>\n\n                            <button type=\"submit\" class=\"action-btn btn-send\" id=\"sendBtn\" title=\"Enviar\">\n                                <i data-lucide=\"send\"></i>\n                            </button>\n                        </div>\n                    </form>\n                </div>\n            </main>\n        </div>\n    </div>\n\n    <!-- MODALS -->\n    <!-- Login Overlay -->\n    <div class=\"login-overlay\" id=\"loginOverlay\">\n        <div class=\"login-box\">\n            <div style=\"text-align:center; margin-bottom: 18px;\">\n                <img src=\"https://www.aspiramaq.com.br/imagens/logo.png\" alt=\"Aspiramaq\" style=\"height:44px; margin-bottom:8px;\">\n            </div>\n            <div class=\"login-title\" style=\"font-family: 'Noto Sans JP', 'Raleway', sans-serif;\">\n                <span style=\"font-size:0.7em; color:var(--color-accent);\">アクセス</span> · Acesso\n            </div>\n            <form id=\"loginForm\">\n                <input type=\"text\" class=\"login-input\" id=\"usernameInput\" placeholder=\"Usuário\" required>\n                <input type=\"password\" class=\"login-input\" id=\"passwordInput\" placeholder=\"Senha\" required>\n                <button type=\"submit\" class=\"login-btn\">Entrar</button>\n                <div class=\"err-msg\" id=\"loginError\">Credenciais inválidas</div>\n            </form>\n        </div>\n    </div>\n\n    <!-- Confirm Modal -->\n    <div class=\"confirm-modal-backdrop\" id=\"confirmModal\">\n        <div class=\"confirm-modal\">\n            <h3 class=\"confirm-title\">Excluir conversa</h3>\n            <p class=\"confirm-text\">Tem certeza que deseja excluir esta conversa permanentemente? Esta ação não pode ser\n                desfeita.</p>\n            <div class=\"confirm-actions\">\n                <button class=\"btn-modal btn-cancel\" id=\"cancelDeleteBtn\">Cancelar</button>\n                <button class=\"btn-modal btn-confirm\" id=\"confirmDeleteBtn\">Excluir</button>\n            </div>\n        </div>\n    </div>\n    <script>\n        lucide.createIcons();\n        marked.setOptions({\n            highlight: function (code, lang) {\n                return hljs.highlightAuto(code).value;\n            },\n            breaks: true,\n            gfm: true\n        });\n        // ============================================\n        // CONFIGURAÇÃO CORRETA DAS URLs\n        // ============================================\n        const API_BASE = 'https://longflatworm-n8n.cloudfy.live/webhook';\n        const CHAT_URL = `${API_BASE}/aspiramaq-AgentRag`;\n        const UPLOAD_URL = `${API_BASE}/aspiramaq-index-drive`;\n        const SESSIONS_URL = `${API_BASE}/aspiramaq-sessions`;\n        const HISTORY_URL = `${API_BASE}/aspiramaq-history`;\n        const DELETE_URL = `${API_BASE}/aspiramaq-session`;\n        const RESET_URL = `${API_BASE}/aspiramaq-DatabaseSetup`;\n        const PRUNE_URL = `${API_BASE}/aspiramaq-prune-history`;\n        const HEALTH_URL = `${API_BASE}/aspiramaq_health`;\n\n        // Estado\n        let currentSessionId = null;\n        let sessions = [];\n        let isLoading = false;\n        let abortController = null;\n        let isEditing = false;\n        let uploadAbortController = null;\n        let appStarted = false; // Moved to top for hoisting safety\n        // DOM\n        const elements = {\n            sessionList: document.getElementById('sessionList'),\n            messagesContainer: document.getElementById('messagesContainer'),\n            messageInput: document.getElementById('messageInput'),\n            sendBtn: document.getElementById('sendBtn'),\n            newChatBtn: document.getElementById('newChatBtn'),\n            loading: document.getElementById('loading'),\n            statusMessage: document.getElementById('statusMessage'),\n            attachBtn: document.getElementById('attachBtn'),\n            fileInput: document.getElementById('fileInput'),\n            // New elements\n            themeToggleBtn: document.getElementById('themeToggleBtn'),\n            logoutBtn: document.getElementById('logoutBtn'),\n            loginOverlay: document.getElementById('loginOverlay'),\n            loginForm: document.getElementById('loginForm'),\n            usernameInput: document.getElementById('usernameInput'),\n            passwordInput: document.getElementById('passwordInput'),\n            loginError: document.getElementById('loginError'),\n            confirmModal: document.getElementById('confirmModal'),\n            cancelDeleteBtn: document.getElementById('cancelDeleteBtn'),\n            confirmDeleteBtn: document.getElementById('confirmDeleteBtn'),\n            resetRagBtn: document.getElementById('resetRagBtn'),\n            emptyState: document.getElementById('emptyState'),\n            inputForm: document.getElementById('inputForm')\n        };\n\n        // Create Cancel Edit Button dynamically\n        const cancelEditBtn = document.createElement('button');\n        cancelEditBtn.className = 'action-btn';\n        cancelEditBtn.innerHTML = '<i data-lucide=\"x\"></i>';\n        cancelEditBtn.title = 'Cancelar Edição';\n        cancelEditBtn.style.display = 'none';\n        cancelEditBtn.style.background = '#f0f0f0';\n        cancelEditBtn.style.color = '#666';\n        cancelEditBtn.type = 'button';\n        cancelEditBtn.addEventListener('click', cancelEdit);\n\n        elements.sendBtn.parentNode.insertBefore(cancelEditBtn, elements.sendBtn);\n\n        // ============================================\n        // SAFE STORAGE & COOKIES\n        // ============================================\n\n\n\n        // Helper to safely access storage: LocalStorage -> Memory\n        const storage = {\n            _memory: {},\n            isAvailable: false, // Flag to store availability\n            init: function () {\n                try {\n                    const testKey = '__storage_test__';\n                    localStorage.setItem(testKey, testKey);\n                    localStorage.removeItem(testKey);\n                    this.isAvailable = true;\n                } catch (e) {\n                    this.isAvailable = false;\n                    console.warn('LocalStorage is not available (Sandboxed or disabled). Using in-memory storage.');\n                }\n            },\n            get: function (key) {\n                if (this.isAvailable) {\n                    try {\n                        return localStorage.getItem(key);\n                    } catch (e) {\n                        // Should not happen if init was correct, but safety first\n                        return this._memory[key] || null;\n                    }\n                }\n                return this._memory[key] || null;\n            },\n            set: function (key, value) {\n                if (this.isAvailable) {\n                    try {\n                        localStorage.setItem(key, value);\n                    } catch (e) { }\n                }\n                this._memory[key] = value;\n            },\n            remove: function (key) {\n                if (this.isAvailable) {\n                    try {\n                        localStorage.removeItem(key);\n                    } catch (e) { }\n                }\n                delete this._memory[key];\n            }\n        };\n\n        // Initialize storage check immediately\n        storage.init();\n\n        // ============================================\n        // AUTHENTICATION LOGIC\n        // ============================================\n        // ============================================\n        // AUTHENTICATION LOGIC (ROBUST + EXPIRATION)\n        // ============================================\n        const AUTH_KEY = 'chat_auth_v2';\n        const AUTH_EXPIRY_MS = 12 * 60 * 60 * 1000; // 12 Hours\n\n        function checkAuth() {\n            // AUTO-LOGIN FOR SANDBOX (Dev/Restricted Environment)\n            // If storage is completely blocked, we can't persist auth, so we auto-login to avoid infinite login loops on reload.\n            if (!storage.isAvailable) {\n                console.warn('⚠️ Sandbox mode detected: Persistence disabled. Auto-logging in for convenience.');\n                toggleLoginState(true);\n                startApp();\n                return;\n            }\n\n            try {\n                const rawAuth = storage.get(AUTH_KEY);\n                if (!rawAuth) {\n                    toggleLoginState(false);\n                    return;\n                }\n\n                const authData = JSON.parse(rawAuth);\n                const now = Date.now();\n\n                // Check if expired\n                if (now > authData.expiry) {\n                    console.log('🔒 Session expired');\n                    storage.remove(AUTH_KEY);\n                    toggleLoginState(false);\n                } else {\n                    console.log('🔓 Session valid until:', new Date(authData.expiry).toLocaleString());\n                    toggleLoginState(true);\n                    startApp(); // ONLY START APP IF AUTH IS VALID\n                }\n            } catch (e) {\n                console.error('Auth verification failed:', e);\n                // On error, force logout to be safe\n                storage.remove(AUTH_KEY);\n                toggleLoginState(false);\n            }\n        }\n\n        function toggleLoginState(isLoggedIn) {\n            if (isLoggedIn) {\n                elements.loginOverlay.style.display = 'none';\n            } else {\n                elements.loginOverlay.style.display = 'flex';\n                // Focus on username input when login shows\n                setTimeout(() => {\n                    if (elements.usernameInput) elements.usernameInput.focus();\n                }, 100);\n            }\n        }\n\n        elements.loginForm.addEventListener('submit', (e) => {\n            e.preventDefault();\n            const user = elements.usernameInput.value;\n            const pass = elements.passwordInput.value;\n\n            if (user === 'admin' && pass === 'admin') {\n                // Save Auth with Expiry\n                const authData = {\n                    user: user,\n                    token: 'valid',\n                    expiry: Date.now() + AUTH_EXPIRY_MS\n                };\n                storage.set(AUTH_KEY, JSON.stringify(authData));\n\n                toggleLoginState(true);\n                elements.loginError.style.display = 'none';\n\n                // FORCE RESET APP STATE FOR RELOAD\n                appStarted = false; // Reset flag to allow startApp to run again\n                startApp(); // START APP AFTER LOGIN\n            } else {\n                elements.loginError.style.display = 'block';\n            }\n        });\n\n        elements.logoutBtn.addEventListener('click', () => {\n            storage.remove(AUTH_KEY);\n            if (storage.isAvailable) {\n                window.location.reload();\n            } else {\n                // Sandbox mode: Reloading would trigger auto-login.\n                // So we manually \"logout\" the UI instead.\n                toggleLoginState(false);\n                if (elements.usernameInput) elements.usernameInput.value = '';\n                if (elements.passwordInput) elements.passwordInput.value = '';\n\n                // Clear sensitive data from view\n                clearChatArea();\n                elements.sessionList.innerHTML = '';\n                sessions = [];\n                currentSessionId = null;\n                appStarted = false; // Ensure we can start again\n            }\n        });\n\n        // Initialize Auth Check\n        checkAuth();\n\n        // WARN IF PERSISTENCE IS BLOCKED\n        setTimeout(() => {\n            if (!storage.isAvailable) {\n                // Changing warning to be less alarming since we have Auto-Login now\n                setStatus('ℹ️ Modo Sandbox: Login automático ativado.', 'success');\n            }\n        }, 1000);\n\n        // THEME LOGIC (Updated for cleaner handling)\n        function initTheme() {\n            const savedTheme = storage.get('theme') || 'light';\n            document.documentElement.setAttribute('data-theme', savedTheme);\n            updateThemeIcon(savedTheme);\n        }\n\n        function toggleTheme() {\n            const current = document.documentElement.getAttribute('data-theme');\n            const next = current === 'dark' ? 'light' : 'dark';\n            document.documentElement.setAttribute('data-theme', next);\n            storage.set('theme', next);\n            updateThemeIcon(next);\n        }\n\n        function updateThemeIcon(theme) {\n            const icon = elements.themeToggleBtn.querySelector('i');\n            // Remove old icon content\n            elements.themeToggleBtn.innerHTML = '';\n\n            // Re-add icon and text\n            if (theme === 'dark') {\n                elements.themeToggleBtn.innerHTML = `<i data-lucide=\"sun\" style=\"width: 14px; height: 14px;\"></i><span>Light</span>`;\n            } else {\n                elements.themeToggleBtn.innerHTML = `<i data-lucide=\"moon\" style=\"width: 14px; height: 14px;\"></i><span>Dark</span>`;\n            }\n            lucide.createIcons();\n        }\n\n        elements.themeToggleBtn.addEventListener('click', toggleTheme);\n        initTheme(); // Run on start\n        // ============================================\n        // API FUNCTIONS\n        // ============================================\n        let healthCheckInterval = null;\n\n        function setOfflineState(isOffline) {\n            const statusContainer = document.querySelector('.connection-status');\n            const dot = document.querySelector('.connection-dot');\n            const text = statusContainer.querySelector('span');\n\n            if (!statusContainer || !dot || !text) return;\n\n            if (isOffline) {\n                text.textContent = 'Offline';\n                statusContainer.style.color = '#f44336';\n                statusContainer.style.background = 'rgba(244, 67, 54, 0.1)';\n                statusContainer.style.borderColor = 'rgba(244, 67, 54, 0.2)';\n                dot.style.background = '#f44336';\n                dot.style.boxShadow = '0 0 5px #f44336';\n                dot.style.animation = 'none';\n\n                // Inicia o polling apenas se entrar em estado offline e já não estiver testando\n                if (!healthCheckInterval) {\n                    healthCheckInterval = setInterval(checkHealth, 10000); // 10 segundos\n                }\n            } else {\n                text.textContent = 'Online';\n                statusContainer.style.color = '#4CAF50';\n                statusContainer.style.background = 'rgba(76, 175, 80, 0.1)';\n                statusContainer.style.borderColor = 'rgba(76, 175, 80, 0.2)';\n                dot.style.background = '#4CAF50';\n                dot.style.boxShadow = '0 0 5px #4CAF50';\n                dot.style.animation = 'pulse 2s infinite';\n\n                // Se voltar a ficar online, desliga o polling automático\n                if (healthCheckInterval) {\n                    clearInterval(healthCheckInterval);\n                    healthCheckInterval = null;\n                }\n            }\n        }\n\n        async function checkHealth() {\n            try {\n                const response = await fetch(HEALTH_URL, { cache: 'no-store' });\n                if (!response.ok) {\n                    setOfflineState(true);\n                    return;\n                }\n                const data = await response.json();\n                if (data && data.status === 'ok') {\n                    setOfflineState(false);\n                } else {\n                    setOfflineState(true);\n                }\n            } catch (error) {\n                setOfflineState(true);\n            }\n        }\n\n        // Interceptador global do fetch para monitorar erros de API sem precisar de polling constante\n        const originalFetch = window.fetch;\n        window.fetch = async function(...args) {\n            let url = '';\n            if (typeof args[0] === 'string') {\n                url = args[0];\n            } else if (args[0] && args[0].url) {\n                url = args[0].url;\n            }\n\n            try {\n                const response = await originalFetch(...args);\n                // Não intercepta os health checks para não causar loop\n                if (url.startsWith(API_BASE) && !url.includes('aspiramaq_health')) {\n                    if (response.ok) {\n                        setOfflineState(false);\n                    } else if (response.status >= 500) {\n                        // Respostas 500+ costumam significar que o backend caiu\n                        setOfflineState(true);\n                    }\n                }\n                return response;\n            } catch (error) {\n                if (url.startsWith(API_BASE) && !url.includes('aspiramaq_health')) {\n                    if (error.name !== 'AbortError') {\n                        setOfflineState(true);\n                    }\n                }\n                throw error;\n            }\n        };\n\n        async function fetchSessions() {\n            try {\n                console.log('🔍 Fetching sessions from:', SESSIONS_URL);\n                const response = await fetch(SESSIONS_URL, { cache: 'no-store' });\n                console.log('📡 Response status:', response.status);\n\n                if (!response.ok) {\n                    console.error('❌ Response not OK:', await response.text());\n                    throw new Error('Failed to fetch sessions');\n                }\n\n                const text = await response.text();\n                if (!text || text.trim().length === 0) {\n                    return [];\n                }\n\n                let data;\n                try {\n                    data = JSON.parse(text);\n                } catch (e) {\n                    console.error('❌ Failed to parse sessions JSON:', text);\n                    return [];\n                }\n\n                console.log('📊 Sessions received:', data);\n                // Se retornar objeto único, converte para array\n                if (data && !Array.isArray(data)) {\n                    console.log('⚠️ Converting single object to array');\n                    return [data];\n                }\n                return Array.isArray(data) ? data : [];\n            } catch (error) {\n                console.error('❌ Error fetching sessions:', error);\n                return [];\n            }\n        }\n        async function fetchHistory(sessionId) {\n            try {\n                console.log('📜 Fetching history for session:', sessionId);\n                const response = await fetch(`${HISTORY_URL}?sessionId=${sessionId}`);\n                if (!response.ok) throw new Error('Failed to fetch history');\n\n                const text = await response.text();\n                // Handle empty response\n                if (!text || text.trim().length === 0) {\n                    return [];\n                }\n\n                let data;\n                try {\n                    data = JSON.parse(text);\n                } catch (e) {\n                    console.error('❌ Failed to parse history JSON:', text);\n                    return [];\n                }\n\n                console.log('✅ History loaded:', data);\n\n                // Processar dados que podem vir em diferentes formatos\n                return data.map(item => {\n                    let processedItem = item;\n\n                    // Se vier no formato JSONB {message: {type, content}}\n                    if (item.message) {\n                        processedItem = {\n                            id: item.id, // Preserve ID from DB\n                            role: item.message.type === 'human' ? 'user' : 'assistant',\n                            content: item.message.content || '',\n                            timestamp: item.created_at || item.message.timestamp || item.timestamp\n                        };\n                    }\n\n                    // DETECT FILE UPLOAD PATTERN to restore File Icon\n                    // Pattern: \"Enviando arquivo: filename.ext\"\n                    const legacyMatch = processedItem.content && processedItem.content.match(/^Enviando arquivo: (.+)$/);\n                    const newMatch = processedItem.content && processedItem.content.match(/^Arquivo (.+) enviado para análise\\.$/);\n\n                    if ((legacyMatch || newMatch) && processedItem.role === 'user') {\n                        processedItem.file = newMatch ? newMatch[1] : legacyMatch[1];\n                        // Optional: Keep content as is or clear it if you only want the icon\n                    }\n\n                    return processedItem;\n                });\n            } catch (error) {\n                console.error('Error fetching history:', error);\n                return [];\n            }\n        }\n        async function deleteSession(sessionId) {\n            try {\n                const response = await fetch(`${DELETE_URL}?sessionId=${sessionId}`, {\n                    method: 'DELETE'\n                });\n                if (!response.ok) throw new Error('Failed to delete session');\n                return true;\n            } catch (error) {\n                console.error('Error deleting session:', error);\n                return false;\n            }\n        }\n        async function resetRagDatabase() {\n            try {\n                const response = await fetch(RESET_URL, {\n                    method: 'POST'\n                });\n\n                if (!response.ok) throw new Error('Failed to reset database');\n\n                const text = await response.text();\n                if (!text || text.trim().length === 0) {\n                    // Empty success response\n                    return { status: \"success\", message: \"Resetado com sucesso (Sem retorno do servidor)\" };\n                }\n\n                try {\n                    return JSON.parse(text);\n                } catch (e) {\n                    console.warn('⚠️ Reset returned non-JSON:', text);\n                    return { status: \"success\", message: \"Resetado com sucesso!\" }; // Assume success if 200 OK\n                }\n            } catch (error) {\n                console.error('Error resetting database:', error);\n                return null;\n            }\n        }\n        async function sendMessage(message, sessionId) {\n            abortController = new AbortController();\n            try {\n                const response = await fetch(CHAT_URL, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({\n                        chatInput: message,\n                        sessionId: sessionId\n                    }),\n                    signal: abortController.signal\n                });\n                if (!response.ok) throw new Error('Failed to send message');\n                const data = await response.json();\n                return data.output || data.message || 'Resposta recebida';\n            } catch (error) {\n                if (error.name === 'AbortError') {\n                    console.log('⏹️ Geração cancelada pelo usuário');\n                    return 'Geração cancelada.';\n                }\n                console.error('Error sending message:', error);\n                return 'Desculpe, ocorreu um erro ao processar sua mensagem.';\n            } finally {\n                abortController = null;\n            }\n        }\n        // ============================================\n        // UI FUNCTIONS\n        // ============================================\n        function generateUUID() {\n            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n                const r = Math.random() * 16 | 0;\n                const v = c === 'x' ? r : (r & 0x3 | 0x8);\n                return v.toString(16);\n            });\n        }\n        function formatDate(dateString) {\n            const date = new Date(dateString);\n            const now = new Date();\n            const diffInHours = (now - date) / (1000 * 60 * 60);\n            if (diffInHours < 24) {\n                return date.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n            } else if (diffInHours < 48) {\n                return 'Ontem';\n            } else {\n                return date.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n            }\n        }\n        function renderSessionList() {\n            elements.sessionList.innerHTML = '';\n            if (sessions.length === 0) {\n                elements.sessionList.innerHTML = '<div style=\"color: #999; text-align: center; padding: 20px; font-size: 12px;\">Nenhuma conversa ainda</div>';\n                return;\n            }\n            sessions.forEach(session => {\n                const sessionDiv = document.createElement('div');\n                sessionDiv.className = 'session-item';\n                if (session.session_id === currentSessionId) {\n                    sessionDiv.classList.add('active');\n                }\n\n                // Extrair titulo corretamente do objeto JSONB\n                let titulo = 'Nova conversa';\n                if (session.titulo) {\n                    if (typeof session.titulo === 'object' && session.titulo.content) {\n                        titulo = session.titulo.content;\n                    } else if (typeof session.titulo === 'string') {\n                        titulo = session.titulo;\n                    }\n                }\n\n                sessionDiv.innerHTML = `\n<div class=\"session-content\">\n<div class=\"session-title\">${titulo}</div>\n<div class=\"session-date\">${formatDate(session.data_inicio)}</div>\n</div>\n<button class=\"delete-btn\" onclick=\"handleDeleteSession('${session.session_id}', event)\">\n<i data-lucide=\"x\"></i>\n</button>\n`;\n                sessionDiv.addEventListener('click', (e) => {\n                    if (!e.target.classList.contains('delete-btn')) {\n                        loadSession(session.session_id);\n                    }\n                });\n                elements.sessionList.appendChild(sessionDiv);\n            });\n            lucide.createIcons();\n        }\n        // EDIT MODE FUNCTIONS\n        function startEdit(messageDiv, content) {\n            isEditing = true;\n            elements.messageInput.value = content;\n            elements.messageInput.focus();\n\n            // Adjust input height\n            elements.messageInput.style.height = 'auto';\n            elements.messageInput.style.height = (elements.messageInput.scrollHeight) + 'px';\n\n            // Show cancel button\n            cancelEditBtn.style.display = 'flex';\n\n            // Mark validation: we need to prune history from this point\n            const msgId = messageDiv.getAttribute('data-id');\n            const msgTimestamp = messageDiv.getAttribute('data-timestamp');\n\n            elements.inputForm.dataset.editingId = msgId || msgTimestamp;\n            elements.inputForm.dataset.editingType = msgId ? 'id' : 'timestamp';\n\n            setStatus('Editando mensagem...', 'warning');\n        }\n\n        function cancelEdit() {\n            if (!isEditing) return;\n\n            isEditing = false;\n            elements.messageInput.value = '';\n            elements.messageInput.style.height = 'auto';\n            cancelEditBtn.style.display = 'none';\n            elements.inputForm.removeAttribute('data-editingId');\n            setStatus('');\n        }\n\n        async function pruneHistoryFrom(identifier) {\n            // Identifier can be ID (int) or timestamp (long int)\n            const type = elements.inputForm.dataset.editingType || 'timestamp';\n            const value = parseInt(identifier);\n            if (!value) return;\n\n            let targetMsg;\n            if (type === 'id') {\n                targetMsg = Array.from(elements.messagesContainer.children).find(m => m.getAttribute('data-id') == value);\n            } else {\n                targetMsg = Array.from(elements.messagesContainer.children).find(m => m.getAttribute('data-timestamp') == value);\n            }\n\n            // 1. UI Pruning\n            if (targetMsg) {\n                let current = targetMsg;\n                while (current) {\n                    const next = current.nextElementSibling;\n                    current.remove();\n                    current = next;\n                }\n            }\n\n            // 2. Backend Pruning\n            if (currentSessionId && type === 'id') {\n                console.log(`🧹 Pruning backend history (ID):`, currentSessionId, value);\n                try {\n                    const payload = {\n                        sessionId: currentSessionId,\n                        id: value\n                    };\n\n                    await fetch(PRUNE_URL, {\n                        method: 'POST',\n                        body: JSON.stringify(payload),\n                        headers: { 'Content-Type': 'application/json' }\n                    });\n                } catch (e) { console.error('Prune error:', e); }\n            } else if (type !== 'id') {\n                console.warn('⚠️ Cannot prune backend history without Message ID (Optimistic message). Reload to sync IDs.');\n            }\n        }\n\n        function renderMessage(message) {\n            hideEmptyState(); // Ensure empty state is gone\n            console.log('🖼️ Rendering message:', message);\n            const messageDiv = document.createElement('div');\n            messageDiv.className = `message ${message.role}`;\n            if (message.id) messageDiv.setAttribute('data-id', message.id);\n\n            // Store timestamp for Edit logic (default to now if missing)\n            const timestamp = message.timestamp ? new Date(message.timestamp).getTime() : Date.now();\n            messageDiv.setAttribute('data-timestamp', timestamp);\n\n            const avatarDiv = document.createElement('div');\n            avatarDiv.className = 'message-avatar';\n\n            if (message.role === 'user') {\n                avatarDiv.innerHTML = '<i data-lucide=\"user\"></i>';\n            } else {\n                avatarDiv.innerHTML = '<i data-lucide=\"bot\"></i>';\n            }\n\n            const content = document.createElement('div');\n            content.className = 'message-content';\n\n            // Renderizar conteúdo\n            let editBtn = null;\n\n            if (message.role === 'assistant') {\n                content.innerHTML = marked.parse(message.content || '');\n\n                // Force new tab for links\n                content.querySelectorAll('a').forEach(link => {\n                    link.setAttribute('target', '_blank');\n                    link.setAttribute('rel', 'noopener noreferrer');\n                });\n            } else {\n                // Se for arquivo, NÃO mostra texto nem botão de editar\n                if (message.file) {\n                    // Conteúdo de texto oculto para arquivos, mostra só o pill abaixo\n                } else {\n                    content.textContent = message.content || '';\n\n                    // ADD EDIT BUTTON FOR USER (Always allow edit)\n                    editBtn = document.createElement('button');\n                    editBtn.className = 'btn-edit';\n                    editBtn.innerHTML = '<i data-lucide=\"pencil\" style=\"width: 14px; height: 14px;\"></i>';\n                    editBtn.onclick = () => {\n                        startEdit(messageDiv, message.content);\n                    };\n                }\n            }\n\n            // Add file attachment if present\n            if (message.file) {\n                const fileDiv = document.createElement('div');\n                fileDiv.className = 'file-attachment';\n                fileDiv.innerHTML = `<i data-lucide=\"file\"></i><span>${message.file}</span>`;\n                content.appendChild(fileDiv);\n            }\n\n            if (message.role === 'assistant') { // Avatar first for assistant\n                messageDiv.appendChild(avatarDiv);\n                messageDiv.appendChild(content);\n            } else { // User: Avatar last (handled by flex-row-reverse), content first\n                // Fix for flex-row-reverse: \n                // 1. Avatar (Visually Right) -> Append First\n                // 2. Content (Visually Center) -> Append Second\n                // 3. EditBtn (Visually Left) -> Append Last\n                messageDiv.appendChild(avatarDiv);\n                messageDiv.appendChild(content);\n                if (editBtn) {\n                    messageDiv.appendChild(editBtn);\n                }\n            }\n\n            elements.messagesContainer.appendChild(messageDiv);\n            elements.messagesContainer.scrollTop = elements.messagesContainer.scrollHeight;\n            lucide.createIcons();\n        }\n        function clearChatArea() {\n            elements.messagesContainer.innerHTML = '';\n            showEmptyState();\n        }\n\n        function showEmptyState() {\n            if (elements.emptyState) {\n                elements.emptyState.classList.add('show');\n                elements.messagesContainer.style.display = 'none';\n                lucide.createIcons();\n            }\n        }\n\n        function hideEmptyState() {\n            if (elements.emptyState) {\n                elements.emptyState.classList.remove('show');\n                elements.messagesContainer.style.display = 'block';\n            }\n        }\n\n        // Helper functions for loading states\n        function showSkeletonSessions() {\n            elements.sessionList.innerHTML = '';\n            for (let i = 0; i < 3; i++) {\n                const skeletonDiv = document.createElement('div');\n                skeletonDiv.className = 'skeleton-session';\n                skeletonDiv.innerHTML = `\n<div class=\"skeleton skeleton-session-title\"></div>\n<div class=\"skeleton skeleton-session-date\"></div>\n`;\n                elements.sessionList.appendChild(skeletonDiv);\n            }\n        }\n\n        function showSkeletonMessages() {\n            hideEmptyState(); // Ensure empty state is hidden so skeletons show\n            elements.messagesContainer.innerHTML = '';\n            for (let i = 0; i < 3; i++) {\n                const skeletonDiv = document.createElement('div');\n                skeletonDiv.className = 'skeleton-message';\n                skeletonDiv.innerHTML = `\n<div class=\"skeleton skeleton-avatar\"></div>\n<div class=\"skeleton-content\">\n<div class=\"skeleton skeleton-text\"></div>\n<div class=\"skeleton skeleton-text\"></div>\n<div class=\"skeleton skeleton-text\"></div>\n</div>\n`;\n                elements.messagesContainer.appendChild(skeletonDiv);\n            }\n        }\n\n        function showTypingIndicator() {\n            const typingDiv = document.createElement('div');\n            typingDiv.className = 'typing-indicator';\n            typingDiv.id = 'typingIndicator';\n            typingDiv.innerHTML = `\n<div class=\"message-avatar\">\n<i data-lucide=\"bot\"></i>\n</div>\n<div class=\"typing-dots\">\n<span></span>\n<span></span>\n<span></span>\n</div>\n`;\n            elements.messagesContainer.appendChild(typingDiv);\n            elements.messagesContainer.scrollTop = elements.messagesContainer.scrollHeight;\n            lucide.createIcons();\n        }\n\n\n        function hideTypingIndicator() {\n            const typingIndicator = document.getElementById('typingIndicator');\n            if (typingIndicator) {\n                typingIndicator.remove();\n            }\n        }\n\n        function setLoading(loading) {\n            isLoading = loading;\n            const sendBtnIcon = elements.sendBtn.querySelector('i');\n\n            // Toggle Stop Button Logic\n            if (loading) {\n                elements.sendBtn.innerHTML = '';\n                const stopIcon = document.createElement('i');\n                stopIcon.setAttribute('data-lucide', 'square');\n                stopIcon.style.fill = 'white';\n                elements.sendBtn.appendChild(stopIcon);\n                elements.sendBtn.style.backgroundColor = 'var(--text-secondary)';\n                elements.sendBtn.title = \"Parar Geração\";\n            } else {\n                elements.sendBtn.innerHTML = '<i data-lucide=\"send\"></i>';\n                elements.sendBtn.style.backgroundColor = '';\n                elements.sendBtn.title = \"Enviar\";\n            }\n            lucide.createIcons();\n\n            // Visual loading state on container\n            elements.loading.classList.toggle('show', loading);\n\n            // Disable Interactive Elements (EXCEPT sendBtn which is now Stop)\n            const interactiveElements = [\n                elements.messageInput,\n                elements.resetRagBtn,\n                elements.themeToggleBtn,\n                elements.logoutBtn,\n                elements.attachBtn,\n                elements.fileInput,\n                elements.newChatBtn\n            ];\n\n            interactiveElements.forEach(el => {\n                if (el) el.disabled = loading;\n            });\n\n            // Specific Feedback for Reset Button if that's the action\n            if (pendingAction === 'resetProcessing') {\n                if (loading && elements.resetRagBtn) {\n                    elements.resetRagBtn.innerHTML = `<i data-lucide=\"loader-2\" class=\"animate-spin\" style=\"width:12px; height:12px;\"></i><span>Resetando...</span>`;\n                } else if (!loading && elements.resetRagBtn) {\n                    elements.resetRagBtn.innerHTML = `<i data-lucide=\"database-backup\" style=\"width:12px; height:12px;\"></i><span>Resetar</span>`;\n                    pendingAction = null;\n                }\n                lucide.createIcons();\n            }\n\n            // Cursor feedback\n            document.body.style.cursor = loading ? 'wait' : 'default';\n        }\n\n        function setStatus(message, type = '') {\n            elements.statusMessage.textContent = message;\n            elements.statusMessage.style.color = type === 'error' ? '#d32f2f' :\n                type === 'success' ? '#388e3c' : '#7A1818';\n            setTimeout(() => elements.statusMessage.textContent = '', 3000);\n        }\n        // ============================================\n        // EVENT HANDLERS\n        // ============================================\n        // Global variable for pending delete or action\n        let pendingAction = null; // 'delete' or 'reset'\n\n        let sessionToDeleteId = null;\n\n        function showConfirmModal(type, sessionId = null) {\n            const titleEl = elements.confirmModal.querySelector('.confirm-title');\n            const textEl = elements.confirmModal.querySelector('.confirm-text');\n            const confirmBtn = elements.confirmDeleteBtn;\n\n            if (type === 'delete') {\n                pendingAction = 'delete';\n                sessionToDeleteId = sessionId;\n                titleEl.textContent = 'Excluir conversa';\n                textEl.textContent = 'Tem certeza que deseja excluir esta conversa permanentemente? Esta ação não pode ser desfeita.';\n                confirmBtn.textContent = 'Excluir';\n                confirmBtn.style.background = 'var(--color-primary)';\n            } else if (type === 'reset') {\n                pendingAction = 'reset';\n                titleEl.textContent = 'Resetar Memória RAG';\n                textEl.textContent = 'Tem certeza que deseja limpar e recriar o banco de dados vetorial? Isso apagará o conhecimento atual.';\n                confirmBtn.textContent = 'Resetar';\n                confirmBtn.style.background = '#d32f2f'; // Warning color\n            }\n\n            elements.confirmModal.style.display = 'flex';\n        }\n\n        function hideDeleteModal() {\n            pendingAction = null;\n            sessionToDeleteId = null;\n            elements.confirmModal.style.display = 'none';\n        }\n\n        // Event Listeners for Modal\n        elements.cancelDeleteBtn.addEventListener('click', hideDeleteModal);\n\n        elements.confirmDeleteBtn.addEventListener('click', async () => {\n            if (pendingAction === 'delete' && sessionToDeleteId) {\n                // Feedback visual\n                const originalText = elements.confirmDeleteBtn.textContent;\n                elements.confirmDeleteBtn.textContent = 'Excluindo...';\n                elements.confirmDeleteBtn.disabled = true;\n\n                try {\n                    const success = await deleteSession(sessionToDeleteId);\n                    if (success) {\n                        // 1. Refresh list from server (removes deleted, updates order)\n                        sessions = await fetchSessions();\n\n                        // 2. Check if we deleted the current session\n                        if (currentSessionId === sessionToDeleteId) {\n                            if (sessions.length > 0) {\n                                // Switch to the most recent (first) session\n                                renderSessionList(); // Update list first\n                                loadSession(sessions[0].session_id);\n                            } else {\n                                // No sessions left -> Start New Chat\n                                startNewChat();\n                            }\n                        } else {\n                            // We deleted a background session -> Just update list\n                            renderSessionList();\n                        }\n                    } else {\n                        setStatus('Erro ao excluir conversa.', 'error');\n                    }\n                } catch (e) {\n                    console.error('Delete handler error:', e);\n                    setStatus('Erro inesperado ao excluir.', 'error');\n                } finally {\n                    hideDeleteModal();\n                    // Restore button\n                    elements.confirmDeleteBtn.textContent = originalText;\n                    elements.confirmDeleteBtn.disabled = false;\n                }\n            } else if (pendingAction === 'reset') {\n                hideDeleteModal();\n\n                // Set special state so setLoading knows to update the Reset Button UI specifically\n                pendingAction = 'resetProcessing';\n\n                setLoading(true);\n                setStatus('Reiniciando base de conhecimento...', 'warning');\n\n                const result = await resetRagDatabase();\n\n                setLoading(false); // Restore UI\n\n                if (result && result.status === 'success') {\n                    setStatus(result.message || 'Memória RAG resetada com sucesso!', 'success');\n\n                    // REFRESH DATA (RESET INTERFACE)\n                    console.log('🔄 Refreshing app data after reset...');\n                    sessions = await fetchSessions(); // Update sidebar (likely clear it)\n                    renderSessionList();\n                    startNewChat(); // Clear current view\n                } else {\n                    setStatus('Erro ao resetar memória RAG.', 'error');\n                }\n            }\n        });\n\n        async function handleDeleteSession(sessionId, event) {\n            event.stopPropagation();\n            showConfirmModal('delete', sessionId);\n        }\n\n        if (elements.resetRagBtn) {\n            elements.resetRagBtn.addEventListener('click', () => {\n                console.log('🔄 Reset button clicked - waiting for confirmation');\n                showConfirmModal('reset');\n            });\n        }\n        async function loadSession(sessionId) {\n            console.log('📂 Loading session:', sessionId);\n\n            // Clean up any temporary/empty sessions from list when switching\n            if (currentSessionId !== sessionId) {\n                sessions = sessions.filter(s => !s._isTemp);\n                renderSessionList();\n            }\n\n            currentSessionId = sessionId;\n            clearChatArea();\n            showSkeletonMessages();\n            const history = await fetchHistory(sessionId);\n            clearChatArea(); // Shows empty state by default\n\n            if (history && history.length > 0) {\n                hideEmptyState(); // Hide if we have content\n                history.forEach(message => renderMessage(message));\n            } else {\n                showEmptyState(); // Explicit show if empty\n            }\n\n            renderSessionList();\n            elements.messageInput.focus();\n        }\n        function startNewChat() {\n            console.log('➕ Starting new chat');\n\n            // Avoid creating multiple temp sessions\n            sessions = sessions.filter(s => !s._isTemp);\n\n            currentSessionId = generateUUID();\n            clearChatArea();\n\n            // Add temporary \"Nova conversa\" to session list\n            const tempSession = {\n                session_id: currentSessionId,\n                titulo: 'Nova conversa',\n                data_inicio: new Date().toISOString(),\n                _isTemp: true // Helper flag\n            };\n            sessions.unshift(tempSession);\n\n            renderSessionList();\n            elements.messageInput.focus();\n            setStatus('Nova conversa iniciada', 'success');\n        }\n        async function handleSendMessage(e) {\n            e.preventDefault();\n\n            // CHECK FOR STOP ACTION\n            if (isLoading) {\n                // 1. Cancelar Geração de Texto\n                if (abortController) {\n                    abortController.abort();\n                    abortController = null;\n                    setStatus('Geração interrompida.', 'warning');\n                    hideTypingIndicator();\n                    setLoading(false);\n                }\n                // 2. Cancelar Upload\n                if (uploadAbortController) {\n                    uploadAbortController.abort();\n                    uploadAbortController = null;\n                    setStatus('Upload cancelado.', 'warning');\n                    hideTypingIndicator();\n                    setLoading(false);\n                }\n                return;\n            }\n\n            const message = elements.messageInput.value.trim();\n            if (!message) return;\n\n            // CHECK FOR EDIT ACTION\n            if (isEditing) {\n                const editingId = elements.inputForm.dataset.editingId;\n                if (editingId) {\n                    console.log('✏️ Submitting Edit. Pruning from:', editingId);\n                    pruneHistoryFrom(editingId);\n                    // Clear edit state for next message\n                    cancelEdit();\n                }\n            }\n\n            renderMessage({ role: 'user', content: message });\n            elements.messageInput.value = '';\n            elements.messageInput.style.height = 'auto';\n\n            // Start loading (Change icon to Stop)\n            setLoading(true);\n\n            showTypingIndicator();\n            const response = await sendMessage(message, currentSessionId);\n            hideTypingIndicator();\n\n            // Should only render if NOT aborted\n            if (response !== 'Geração cancelada.') {\n                renderMessage({ role: 'assistant', content: response });\n            }\n\n            setLoading(false);\n\n            // SYNC IDS FOR OPTIMISTIC MESSAGES\n            // Fetch history to get Real IDs for the messages we just rendered optimistically\n            try {\n                const latestHistory = await fetchHistory(currentSessionId);\n                if (latestHistory && latestHistory.length > 0) {\n                    // We only need to sync the last few messages\n                    // Strategy: Iterate backwards through DOM and History to match\n                    const domMessages = Array.from(elements.messagesContainer.querySelectorAll('.message'));\n\n                    // Get last 2 user messages and last 2 assistant messages from DOM to be safe\n                    // (Usually just need the very last one of each)\n                    const lastDomMsg = domMessages[domMessages.length - 1];\n\n                    if (lastDomMsg) {\n                        // Find matching message in history based on content or role/time\n                        // Simple approach: Match the very last message of history to last ID-less DOM message\n                        const lastHistoryMsg = latestHistory[latestHistory.length - 1];\n\n                        if (lastHistoryMsg && !lastDomMsg.hasAttribute('data-id')) {\n                            lastDomMsg.setAttribute('data-id', lastHistoryMsg.id);\n                            console.log('🔄 Synced ID for last message:', lastHistoryMsg.id);\n                        }\n\n                        // Also check the user message before it (if it was optimistic)\n                        if (domMessages.length >= 2) {\n                            const userDomMsg = domMessages[domMessages.length - 2];\n                            const userHistoryMsg = latestHistory[latestHistory.length - 2];\n\n                            if (userDomMsg && !userDomMsg.hasAttribute('data-id') && userHistoryMsg) {\n                                userDomMsg.setAttribute('data-id', userHistoryMsg.id);\n                                console.log('🔄 Synced ID for user message:', userHistoryMsg.id);\n                            }\n                        }\n                    }\n                }\n            } catch (e) {\n                console.warn('Failed to sync message IDs:', e);\n            }\n\n            sessions = await fetchSessions();\n            renderSessionList();\n        }\n        // Attach - IMPLEMENTED FILE UPLOAD\n        elements.attachBtn.addEventListener('click', () => elements.fileInput.click());\n        elements.fileInput.addEventListener('change', async (e) => {\n            const file = e.target.files[0];\n            if (!file) return;\n\n            // 1. Mostrar mensagem do usuário imediatamente (SÓ O PILL, SEM TEXTO VISIVEL)\n            renderMessage({\n                role: 'user',\n                content: `Enviando arquivo: ${file.name}`, // Mantém texto para histórico, mas UI oculta\n                file: file.name\n            });\n\n            console.log('📤 Uploading file:', file.name, 'Session:', currentSessionId);\n            setStatus(`Processando ${file.name}...`, 'warning'); // Amarelo/Laranja enquanto processa\n            isLoading = true;\n\n            // Abort Controller para Upload\n            uploadAbortController = new AbortController();\n\n            showTypingIndicator();\n            setLoading(true); // Ativa botão de stop\n\n            try {\n                const formData = new FormData();\n                formData.append('file', file);\n\n                if (currentSessionId) {\n                    formData.append('session_id', currentSessionId);\n                    formData.append('sessionId', currentSessionId);\n                }\n\n                const uploadUrlWithParam = currentSessionId\n                    ? `${UPLOAD_URL}?sessionId=${currentSessionId}`\n                    : UPLOAD_URL;\n\n                const response = await fetch(uploadUrlWithParam, {\n                    method: 'POST',\n                    body: formData,\n                    signal: uploadAbortController.signal\n                });\n\n                if (!response.ok) throw new Error('Upload failed');\n\n                const text = await response.text();\n                let result = {};\n                try {\n                    if (text && text.trim().length > 0) result = JSON.parse(text);\n                } catch (e) { }\n\n                hideTypingIndicator();\n\n                // 2. SUCESSO: Mensagem verde\n                setStatus(`${file.name} processado com sucesso!`, 'success');\n\n                // 3. CONFIRMAÇÃO LOCAL (Sem disparar agente)\n                // O arquivo já foi processado pelo RAG, apenas confirmamos visualmente.\n                renderMessage({\n                    role: 'assistant',\n                    content: `✅ **Arquivo Recebido**\\n\\nO documento \"${file.name}\" foi processado. Você pode fazer perguntas sobre ele agora.`\n                });\n\n                // OPCIONAL: Se o backend de upload não salvar histórico, o reload perderá essa mensagem.\n                // Mas o usuário pediu explicitamente para não mandar msg pro agente.\n\n            } catch (error) {\n                if (error.name === 'AbortError') {\n                    console.log('⏹️ Upload cancelado pelo usuário');\n                    // Não precisa fazer nada, o handler do botão stop já limpou UI\n                } else {\n                    console.error('Upload error:', error);\n                    hideTypingIndicator();\n                    setStatus(`Erro ao processar ${file.name}`, 'error');\n\n                    renderMessage({\n                        role: 'assistant',\n                        content: `❌ **Falha no envio**\\n\\nNão foi possível processar o arquivo \"${file.name}\". Tente novamente.`\n                    });\n                }\n            } finally {\n                isLoading = false;\n                uploadAbortController = null;\n                setLoading(false); // Restaura botão send\n                e.target.value = '';\n            }\n        });\n        // Handle Enter to send, Shift+Enter for new line\n        elements.messageInput.addEventListener('keydown', function (e) {\n            if (e.key === 'Enter' && !e.shiftKey) {\n                e.preventDefault();\n                handleSendMessage(e);\n            }\n        });\n\n        // Auto-resize textarea\n        elements.messageInput.addEventListener('input', function () {\n            this.style.height = 'auto';\n            this.style.height = (this.scrollHeight) + 'px';\n        });\n        // ============================================\n        // INITIALIZATION\n        // ============================================\n        // Renamed from init -> startApp to imply it starts the heavy lifting\n        // let appStarted = false; // Moved to top\n        async function startApp() {\n            if (appStarted) return; // Prevent double run\n            appStarted = true;\n\n            checkHealth();\n\n            console.log('🚀 Starting App...');\n            showSkeletonSessions();\n            sessions = await fetchSessions();\n            console.log('📋 Total sessions:', sessions.length);\n            if (sessions.length > 0 && !currentSessionId) {\n                await loadSession(sessions[0].session_id);\n            } else if (sessions.length === 0) {\n                startNewChat();\n            }\n            renderSessionList();\n        }\n        elements.sendBtn.addEventListener('click', handleSendMessage);\n        elements.newChatBtn.addEventListener('click', startNewChat);\n\n        // Toggle Sidebar\n        const toggleSidebarBtn = document.getElementById('toggleSidebarBtn');\n        const mainGrid = document.querySelector('.main-grid');\n        const sidebarBackdrop = document.getElementById('sidebarBackdrop');\n        if (toggleSidebarBtn) {\n            toggleSidebarBtn.addEventListener('click', () => {\n                mainGrid.classList.toggle('sidebar-closed');\n                lucide.createIcons();\n            });\n        }\n\n        // Close sidebar when clicking backdrop (mobile)\n        if (sidebarBackdrop) {\n            sidebarBackdrop.addEventListener('click', () => {\n                mainGrid.classList.add('sidebar-closed');\n            });\n        }\n\n        // On mobile, start with sidebar closed\n        function checkMobileAndSetSidebar() {\n            if (window.innerWidth <= 768) {\n                mainGrid.classList.add('sidebar-closed');\n            } else {\n                mainGrid.classList.remove('sidebar-closed');\n            }\n        }\n\n        // Check on load and resize\n        checkMobileAndSetSidebar();\n\n\n        window.addEventListener('resize', checkMobileAndSetSidebar);\n\n        // Global Initialization\n        document.addEventListener('DOMContentLoaded', () => {\n            console.log('🏁 DOM Ready - Checking Auth...');\n            // Do NOT call init/startApp here directly. Check Auth first.\n            checkAuth();\n            lucide.createIcons();\n        });\n    </script>\n</body>\n\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        144,
        -160
      ],
      "id": "35c036d3-2788-40a6-86f8-10e8421fdccb",
      "name": "HTML"
    },
    {
      "parameters": {
        "path": "aspiramaq-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -160
      ],
      "id": "3084c78b-9dcf-44d8-acc6-4efc2cb462f2",
      "name": "Chat",
      "webhookId": "98c63ded-77d1-4ec5-b6a0-bdef197db49a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -160
      ],
      "id": "e29a33ff-920d-41c1-a963-bf7f5b111f6e",
      "name": "Respond to Chat",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e54002ef-8d48-4949-a0dc-694dd72c6ad5",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "IMXGEFDIyefLV1Hd",
  "tags": []
}